<a href="https://colab.research.google.com/github/AyushiKashyapp/Python/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists

Lists are used to store multiple items in a single variable.

Items are ordered, unchangeable and allow duplicate values.

In [ ]:
# Creating lists
fruits = ['banana', 'apple', 'cherry', 'apple', 4, 5, True]
veggies = list(('carrots', 'onions', 'capsicum', 'beans', 'tomato'))

# Accessing lists
print("The list has elements: ",fruits)
print("Length of the list is:", len(fruits))
print("Fruits is of type:", type(fruits))

The list has elements:  ['banana', 'apple', 'cherry', 'apple', 4, 5, True]
Length of the list is: 7
Fruits is of type: <class 'list'>

2. Accessing list items.

In [ ]:
print("Second vegetable is:", veggies[1])
print("Second Last vegetable is: ", veggies[-2])
print("Vegetables in range 2:4 are: ", veggies[2:4])
print("Vegetables in range :4 are: ", veggies[:4]) # Include from Start till 4
print("Vegetables in range 2: are: ", veggies[2:]) # Include from 2 till last
print("Vegetables in range -4:-2 are: ", veggies[-4:-2]) # Search from end of list

if("beans" in veggies):
  print("Beans is available in the veggies.")

Second vegetable is: onions
Second Last vegetable is:  beans
Vegetables in range 2:4 are:  ['capsicum', 'beans']
Vegetables in range :4 are:  ['carrots', 'onions', 'capsicum', 'beans']
Vegetables in range 2: are:  ['capsicum', 'beans', 'tomato']
Vegetables in range -4:-2 are:  ['onions', 'capsicum']
Beans is available in the veggies.

3. Change list item.

In [ ]:
fruits[2] = 'orange' # Change a single item
print("Second fruit changed to: ", fruits[2])

fruits[1:2] = ['pears', 'berries'] # Change a range of items
print(fruits)
print("Range of fruits 1:2 is changed to: ", fruits[1:3])

fruits[1:2] = ['melon'] # Chnging only one value while specifying 2 in the range
print(fruits)
print("Range of fruits 1:2 is changed to: ", fruits[1:3])

fruits.insert(4, 'kinu')
print("Newly inserted fruit is: ", fruits[4])

Second fruit changed to:  orange
['banana', 'pears', 'berries', 'orange', 'apple', 4, 5, True]
Range of fruits 1:2 is changed to:  ['pears', 'berries']
['banana', 'melon', 'berries', 'orange', 'apple', 4, 5, True]
Range of fruits 1:2 is changed to:  ['melon', 'berries']
Newly inserted fruit is:  kinu

4. Add list items

In [ ]:
fruits.append('grapes') # Append item to fruits list
print("Appended fruit to fruits list: ",fruits[-1])

fruits.insert(5, 'peaches') # Insert at a particular index in the list
print("Inserted fruit to fruits list: ", fruits[5])

meal = fruits
meal.extend(veggies) # Append items of other list to the current list
print("Fruits + Veggies: ", meal)

fruit_tuple = ('watermelon', 'green apple')
meal.extend(fruit_tuple) # .extend() can append any iterable: tuple, dictionary, list, sets, etc.
print("List Meal + Tuple fruit_tuple :", meal)

Appended fruit to fruits list:  grapes
Inserted fruit to fruits list:  peaches
Fruits + Veggies:  ['banana', 'melon', 'berries', 'orange', 'kinu', 'peaches', 'peaches', 'peaches', 'peaches', 'peaches', 'peaches', 'apple', 4, 5, True, 'grapes', 'grapes', 'grapes', 'carrots', 'onions', 'capsicum', 'beans', 'tomato', 'grapes', 'carrots', 'onions', 'capsicum', 'beans', 'tomato', 'grapes', 'carrots', 'onions', 'capsicum', 'beans', 'tomato', 'grapes', 'carrots', 'onions', 'capsicum', 'beans', 'tomato', 'grapes', 'carrots', 'onions', 'capsicum', 'beans', 'tomato']
List Meal + Tuple fruit_tuple : ['banana', 'melon', 'berries', 'orange', 'kinu', 'peaches', 'peaches', 'peaches', 'peaches', 'peaches', 'peaches', 'apple', 4, 5, True, 'grapes', 'grapes', 'grapes', 'carrots', 'onions', 'capsicum', 'beans', 'tomato', 'grapes', 'carrots', 'onions', 'capsicum', 'beans', 'tomato', 'grapes', 'carrots', 'onions', 'capsicum', 'beans', 'tomato', 'grapes', 'carrots', 'onions', 'capsicum', 'beans', 'tomato', 'grapes', 'carrots', 'onions', 'capsicum', 'beans', 'tomato', 'watermelon', 'green apple']

5. Remove list item

In [ ]:
fruits.remove('melon') # If more than one occurance are there, then .remove() will remove the first occurance
fruits.pop(4) # If no index is specified, .pop() will remove the last element
del fruits[8] # Remove element at a specific index
del meal # Delete the list entirely
fruits.clear() # Empties the list

6. Loop through a list

In [ ]:
for i in veggies: # Loop though the element
  print (i)

carrots
onions
capsicum
beans
tomato

In [ ]:
for i in range(len(veggies)): # Loop through with index numbers
  print(veggies[i])

carrots
onions
capsicum
beans
tomato

In [ ]:
i = 0
while i < len(veggies):
  print(veggies[i])
  i = i+1

carrots
onions
capsicum
beans
tomato

7. List Comprehension

***expression* for *item* in *iterable* if *condition* == True**

In [ ]:
[print(i) for i in veggies]

carrots
onions
capsicum
beans
tomato

[None, None, None, None, None]

In [ ]:
# Creating a new list based on the values of an old list

new_list = []
for i in veggies:
  if "a" in i:
    new_list.append(i)
print("New list using for loop: ",new_list)

# Using List Comprehension to create a new list based on the element of an old list
new_list_2 = [i for i in veggies if "a" in i]
print("New list using List Comprehension: ",new_list_2)

# Condition ------ A filter which holds when the condition is True
new_list3 = [x for x in veggies if x != "beans"]
print("Condition when veggies is not beans: ", new_list3)

# Iterable ------- Can be any iterable object like a list, tuple, set, dictionary,...
new_list4 = [x for x in veggies]
print("Iterating over veggies list: ", new_list4)

# Expression is the current item in the list, which can be manipulated before adding to the new list
new_list5 = [x.upper() for x in veggies]
print("Expression to add veggies in upper cases: ", new_list5)

# The expression can also contain conditions, not like a filter, but as a way to manipulate the outcome: Return Spring Onion instead of Onion
new_list6 = [x if x != "onions" else "spring onion" for x in veggies]
print("Expression defining Spring Onion instead of Onion: ", new_list6)

New list using for loop:  ['carrots', 'capsicum', 'beans', 'tomato']
New list using List Comprehension:  ['carrots', 'capsicum', 'beans', 'tomato']
Condition when veggies is not beans:  ['carrots', 'onions', 'capsicum', 'tomato']
Iterating over veggies list:  ['carrots', 'onions', 'capsicum', 'beans', 'tomato']
Expression to add veggies in upper cases:  ['CARROTS', 'ONIONS', 'CAPSICUM', 'BEANS', 'TOMATO']
Expression defining Spring Onion instead of Onion:  ['carrots', 'spring onion', 'capsicum', 'beans', 'tomato']

8. Sort List

In [ ]:
veggies.sort() # Sort Ascending
print("Alphanumerically sorted list, Ascending: ", veggies)

veggies.sort(reverse= True) # Sort Descending
print("Alphanumerically sorted list, Descending: ", veggies)

veggies.reverse() # Reverse the order of the list regardless of the alphabets of the elements
print("Reversed order of the list: ", veggies)

Alphanumerically sorted list, Ascending:  ['beans', 'capsicum', 'carrots', 'onions', 'tomato']
Alphanumerically sorted list, Descending:  ['tomato', 'onions', 'carrots', 'capsicum', 'beans']
Reversed order of the list:  ['beans', 'capsicum', 'carrots', 'onions', 'tomato']

9. Copy list

**You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.**

In [ ]:
meal1 = veggies.copy() # Using .copy() method
print("List Veggies copied to list Meal: ", meal)

meal2 = list(veggies) # Using list()
print("Creating new list Meal 2 using elements of list Veggies: ", meal2)

meal3 = veggies[:]
print("Creating new list Meal 3 using slice (:) operator: ", meal3)

List Veggies copied to list Meal:  ['beans', 'capsicum', 'carrots', 'onions', 'tomato']
Creating new list Meal 2 using elements of list Veggies:  ['beans', 'capsicum', 'carrots', 'onions', 'tomato']
Creating new list Meal 3 using slice (:) operator:  ['beans', 'capsicum', 'carrots', 'onions', 'tomato']

10. Join Lists

In [ ]:
new_list7 = veggies + meal3 # Using + Operator
print("Concatenating two lists using + operator: ", new_list7)

for i in meal: # Append each element from the old list to the new list
  new_list7.append(i)
print("Append each element from the old list to the new list: ", new_list7)

meal.extend(new_list7) # Using .extend()
print("Extending the list with another list using .extend() :", meal)

Concatenating two lists using + operator:  ['beans', 'capsicum', 'carrots', 'onions', 'tomato', 'beans', 'capsicum', 'carrots', 'onions', 'tomato']
Append each element from the old list to the new list:  ['beans', 'capsicum', 'carrots', 'onions', 'tomato', 'beans', 'capsicum', 'carrots', 'onions', 'tomato', 'beans', 'capsicum', 'carrots', 'onions', 'tomato']
Extending the list with another list using .extend() : ['beans', 'capsicum', 'carrots', 'onions', 'tomato', 'beans', 'capsicum', 'carrots', 'onions', 'tomato', 'beans', 'capsicum', 'carrots', 'onions', 'tomato', 'beans', 'capsicum', 'carrots', 'onions', 'tomato']

# Exercises

1. Write a Python program to sum all the items in a list.

In [2]:
list1 = [1,2,3,4,5]
sum1 = 0

# for loop
for l in list1:
  sum1 += l
print("For loop: ",sum1)

# list comprehension
sum_value = sum([l for l in list1])
print("List Comprehension: ",sum_value)

# sum function
print("Simplified sum function: ", sum(list1))

For loop:  15
List Comprehension:  15
Simplified sum function:  15

2. Write a Python program to multiply all the items in a list.

In [5]:
# for loop

product1 = 1
for l in list1:
  product1 = product1 * l
print("For loop: ", product1)

# List comprehension / Simplified
import math
product2 = math.prod(list1)
print("List Comprehension/ Simplified: ", product2)

For loop:  120
List Comprehension/ Simplified:  120

3. Write a Python program to get the largest number from a list.

In [10]:
list2 = [45,73,98,54,12]

#Using sort
list2.sort()
list2.reverse()
print("Largest Number: ", list2[0])

#Using loop
def max_list(list):
  max = list2[0]
  for a in list2:
    if a > max:
      max = a
  return max

print("Using loop: ", max_list(list2))

Largest Number:  98
Using loop:  98

4. Write a Python program to get the smallest number from a list.

In [11]:
list3 = [34,12,5,89,20]

#Using sort
list3.sort()
print("Smallest Number: ", list3[0])

#Using loop

def min_list(list):
  min = list3[0]
  for a in list3:
    if a < min:
      min = a
  return min
print("Min using loop: ", min_list(list3))

Smallest Number:  5
Min using loop:  5

5. Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2

In [16]:
Sample_list = ['abc', 'xyz', 'aba', '1221']

score = 0

for l in Sample_list:
   if len(l)>1 and l[0] == l[-1]:
      score += 1

print(score)

2

6. Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.
Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [22]:
Sample_list1 = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

sorted_list = sorted(Sample_list1, key = lambda x:x[-1])

print(sorted_list)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

7. Write a Python program to remove duplicates from a list.

In [24]:
list4 = [2,5,3,6,2,6,2,5,3,6]
unique_list = []

for l in list4:
  if l not in unique_list:
    unique_list.append(l)
print(unique_list)

[2, 5, 3, 6]

8. Write a Python program to check if a list is empty or not.

In [25]:
def empty_check(list):
  if len(list) == 0:
    print("Empty")
  else:
    print("Not Empty")
em = []
empty_check(list4)
empty_check(em)

Not Empty
Empty

9. Write a Python program to clone or copy a list.

In [27]:
def clone_list(list):
  clone = []
  for l in list:
    clone.append(l)
  return clone

print("Cloned List: ", clone_list(list3))

Cloned List:  [5, 12, 20, 34, 89]

10. Write a Python program to find the list of words that are longer than n from a given list of words.

In [29]:
words1 = ['abc', 'xyxz', 'ad', 'a', 'ghsgj']
word2 = []
def wcount(list, n):
  word2 = []
  for l in list:
    if len(l) < n:
      word2.append(l)
  return word2

print("Count list: ", wcount(words1, 4))

Count list:  ['abc', 'ad', 'a']