<a href="https://colab.research.google.com/github/AyushiKashyapp/Python/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists

Lists are used to store multiple items in a single variable.

Items are ordered, unchangeable and allow duplicate values.

In [ ]:
# Creating lists
fruits = ['banana', 'apple', 'cherry', 'apple', 4, 5, True]
veggies = list(('carrots', 'onions', 'capsicum', 'beans', 'tomato'))

# Accessing lists
print("The list has elements: ",fruits)
print("Length of the list is:", len(fruits))
print("Fruits is of type:", type(fruits))

The list has elements:  ['banana', 'apple', 'cherry', 'apple', 4, 5, True]
Length of the list is: 7
Fruits is of type: <class 'list'>

2. Accessing list items.

In [ ]:
print("Second vegetable is:", veggies[1])
print("Second Last vegetable is: ", veggies[-2])
print("Vegetables in range 2:4 are: ", veggies[2:4])
print("Vegetables in range :4 are: ", veggies[:4]) # Include from Start till 4
print("Vegetables in range 2: are: ", veggies[2:]) # Include from 2 till last
print("Vegetables in range -4:-2 are: ", veggies[-4:-2]) # Search from end of list

if("beans" in veggies):
  print("Beans is available in the veggies.")

Second vegetable is: onions
Second Last vegetable is:  beans
Vegetables in range 2:4 are:  ['capsicum', 'beans']
Vegetables in range :4 are:  ['carrots', 'onions', 'capsicum', 'beans']
Vegetables in range 2: are:  ['capsicum', 'beans', 'tomato']
Vegetables in range -4:-2 are:  ['onions', 'capsicum']
Beans is available in the veggies.

3. Change list item.

In [ ]:
fruits[2] = 'orange' # Change a single item
print("Second fruit changed to: ", fruits[2])

fruits[1:2] = ['pears', 'berries'] # Change a range of items
print(fruits)
print("Range of fruits 1:2 is changed to: ", fruits[1:3])

fruits[1:2] = ['melon'] # Chnging only one value while specifying 2 in the range
print(fruits)
print("Range of fruits 1:2 is changed to: ", fruits[1:3])

fruits.insert(4, 'kinu')
print("Newly inserted fruit is: ", fruits[4])

Second fruit changed to:  orange
['banana', 'pears', 'berries', 'orange', 'apple', 4, 5, True]
Range of fruits 1:2 is changed to:  ['pears', 'berries']
['banana', 'melon', 'berries', 'orange', 'apple', 4, 5, True]
Range of fruits 1:2 is changed to:  ['melon', 'berries']
Newly inserted fruit is:  kinu

4. Add list items

In [ ]:
fruits.append('grapes') # Append item to fruits list
print("Appended fruit to fruits list: ",fruits[-1])

fruits.insert(5, 'peaches') # Insert at a particular index in the list
print("Inserted fruit to fruits list: ", fruits[5])

meal = fruits
meal.extend(veggies) # Append items of other list to the current list
print("Fruits + Veggies: ", meal)

fruit_tuple = ('watermelon', 'green apple')
meal.extend(fruit_tuple) # .extend() can append any iterable: tuple, dictionary, list, sets, etc.
print("List Meal + Tuple fruit_tuple :", meal)

Appended fruit to fruits list:  grapes
Inserted fruit to fruits list:  peaches
Fruits + Veggies:  ['banana', 'melon', 'berries', 'orange', 'kinu', 'peaches', 'peaches', 'peaches', 'peaches', 'peaches', 'peaches', 'apple', 4, 5, True, 'grapes', 'grapes', 'grapes', 'carrots', 'onions', 'capsicum', 'beans', 'tomato', 'grapes', 'carrots', 'onions', 'capsicum', 'beans', 'tomato', 'grapes', 'carrots', 'onions', 'capsicum', 'beans', 'tomato', 'grapes', 'carrots', 'onions', 'capsicum', 'beans', 'tomato', 'grapes', 'carrots', 'onions', 'capsicum', 'beans', 'tomato']
List Meal + Tuple fruit_tuple : ['banana', 'melon', 'berries', 'orange', 'kinu', 'peaches', 'peaches', 'peaches', 'peaches', 'peaches', 'peaches', 'apple', 4, 5, True, 'grapes', 'grapes', 'grapes', 'carrots', 'onions', 'capsicum', 'beans', 'tomato', 'grapes', 'carrots', 'onions', 'capsicum', 'beans', 'tomato', 'grapes', 'carrots', 'onions', 'capsicum', 'beans', 'tomato', 'grapes', 'carrots', 'onions', 'capsicum', 'beans', 'tomato', 'grapes', 'carrots', 'onions', 'capsicum', 'beans', 'tomato', 'watermelon', 'green apple']

5. Remove list item

In [ ]:
fruits.remove('melon') # If more than one occurance are there, then .remove() will remove the first occurance
fruits.pop(4) # If no index is specified, .pop() will remove the last element
del fruits[8] # Remove element at a specific index
del meal # Delete the list entirely
fruits.clear() # Empties the list

6. Loop through a list

In [ ]:
for i in veggies: # Loop though the element
  print (i)

carrots
onions
capsicum
beans
tomato

In [ ]:
for i in range(len(veggies)): # Loop through with index numbers
  print(veggies[i])

carrots
onions
capsicum
beans
tomato

In [ ]:
i = 0
while i < len(veggies):
  print(veggies[i])
  i = i+1

carrots
onions
capsicum
beans
tomato

7. List Comprehension

***expression* for *item* in *iterable* if *condition* == True**

In [ ]:
[print(i) for i in veggies]

carrots
onions
capsicum
beans
tomato

[None, None, None, None, None]

In [ ]:
# Creating a new list based on the values of an old list

new_list = []
for i in veggies:
  if "a" in i:
    new_list.append(i)
print("New list using for loop: ",new_list)

# Using List Comprehension to create a new list based on the element of an old list
new_list_2 = [i for i in veggies if "a" in i]
print("New list using List Comprehension: ",new_list_2)

# Condition ------ A filter which holds when the condition is True
new_list3 = [x for x in veggies if x != "beans"]
print("Condition when veggies is not beans: ", new_list3)

# Iterable ------- Can be any iterable object like a list, tuple, set, dictionary,...
new_list4 = [x for x in veggies]
print("Iterating over veggies list: ", new_list4)

# Expression is the current item in the list, which can be manipulated before adding to the new list
new_list5 = [x.upper() for x in veggies]
print("Expression to add veggies in upper cases: ", new_list5)

# The expression can also contain conditions, not like a filter, but as a way to manipulate the outcome: Return Spring Onion instead of Onion
new_list6 = [x if x != "onions" else "spring onion" for x in veggies]
print("Expression defining Spring Onion instead of Onion: ", new_list6)

New list using for loop:  ['carrots', 'capsicum', 'beans', 'tomato']
New list using List Comprehension:  ['carrots', 'capsicum', 'beans', 'tomato']
Condition when veggies is not beans:  ['carrots', 'onions', 'capsicum', 'tomato']
Iterating over veggies list:  ['carrots', 'onions', 'capsicum', 'beans', 'tomato']
Expression to add veggies in upper cases:  ['CARROTS', 'ONIONS', 'CAPSICUM', 'BEANS', 'TOMATO']
Expression defining Spring Onion instead of Onion:  ['carrots', 'spring onion', 'capsicum', 'beans', 'tomato']

8. Sort List

In [ ]:
veggies.sort() # Sort Ascending
print("Alphanumerically sorted list, Ascending: ", veggies)

veggies.sort(reverse= True) # Sort Descending
print("Alphanumerically sorted list, Descending: ", veggies)

veggies.reverse() # Reverse the order of the list regardless of the alphabets of the elements
print("Reversed order of the list: ", veggies)

Alphanumerically sorted list, Ascending:  ['beans', 'capsicum', 'carrots', 'onions', 'tomato']
Alphanumerically sorted list, Descending:  ['tomato', 'onions', 'carrots', 'capsicum', 'beans']
Reversed order of the list:  ['beans', 'capsicum', 'carrots', 'onions', 'tomato']

9. Copy list

**You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.**

In [ ]:
meal1 = veggies.copy() # Using .copy() method
print("List Veggies copied to list Meal: ", meal)

meal2 = list(veggies) # Using list()
print("Creating new list Meal 2 using elements of list Veggies: ", meal2)

meal3 = veggies[:]
print("Creating new list Meal 3 using slice (:) operator: ", meal3)

List Veggies copied to list Meal:  ['beans', 'capsicum', 'carrots', 'onions', 'tomato']
Creating new list Meal 2 using elements of list Veggies:  ['beans', 'capsicum', 'carrots', 'onions', 'tomato']
Creating new list Meal 3 using slice (:) operator:  ['beans', 'capsicum', 'carrots', 'onions', 'tomato']

10. Join Lists

In [ ]:
new_list7 = veggies + meal3 # Using + Operator
print("Concatenating two lists using + operator: ", new_list7)

for i in meal: # Append each element from the old list to the new list
  new_list7.append(i)
print("Append each element from the old list to the new list: ", new_list7)

meal.extend(new_list7) # Using .extend()
print("Extending the list with another list using .extend() :", meal)

Concatenating two lists using + operator:  ['beans', 'capsicum', 'carrots', 'onions', 'tomato', 'beans', 'capsicum', 'carrots', 'onions', 'tomato']
Append each element from the old list to the new list:  ['beans', 'capsicum', 'carrots', 'onions', 'tomato', 'beans', 'capsicum', 'carrots', 'onions', 'tomato', 'beans', 'capsicum', 'carrots', 'onions', 'tomato']
Extending the list with another list using .extend() : ['beans', 'capsicum', 'carrots', 'onions', 'tomato', 'beans', 'capsicum', 'carrots', 'onions', 'tomato', 'beans', 'capsicum', 'carrots', 'onions', 'tomato', 'beans', 'capsicum', 'carrots', 'onions', 'tomato']

# Exercises

1. Write a Python program to sum all the items in a list.

In [ ]:
list1 = [1,2,3,4,5]
sum1 = 0

# for loop
for l in list1:
  sum1 += l
print("For loop: ",sum1)

# list comprehension
sum_value = sum([l for l in list1])
print("List Comprehension: ",sum_value)

# sum function
print("Simplified sum function: ", sum(list1))

For loop:  15
List Comprehension:  15
Simplified sum function:  15

2. Write a Python program to multiply all the items in a list.

In [ ]:
# for loop

product1 = 1
for l in list1:
  product1 = product1 * l
print("For loop: ", product1)

# List comprehension / Simplified
import math
product2 = math.prod(list1)
print("List Comprehension/ Simplified: ", product2)

For loop:  120
List Comprehension/ Simplified:  120

3. Write a Python program to get the largest number from a list.

In [ ]:
list2 = [45,73,98,54,12]

#Using sort
list2.sort()
list2.reverse()
print("Largest Number: ", list2[0])

#Using loop
def max_list(list):
  max = list2[0]
  for a in list2:
    if a > max:
      max = a
  return max

print("Using loop: ", max_list(list2))

Largest Number:  98
Using loop:  98

4. Write a Python program to get the smallest number from a list.

In [ ]:
list3 = [34,12,5,89,20]

#Using sort
list3.sort()
print("Smallest Number: ", list3[0])

#Using loop

def min_list(list):
  min = list3[0]
  for a in list3:
    if a < min:
      min = a
  return min
print("Min using loop: ", min_list(list3))

Smallest Number:  5
Min using loop:  5

5. Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2

In [ ]:
Sample_list = ['abc', 'xyz', 'aba', '1221']

score = 0

for l in Sample_list:
   if len(l)>1 and l[0] == l[-1]:
      score += 1

print(score)

2

6. Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.
Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
Sample_list1 = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

sorted_list = sorted(Sample_list1, key = lambda x:x[-1])

print(sorted_list)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

7. Write a Python program to remove duplicates from a list.

In [ ]:
list4 = [2,5,3,6,2,6,2,5,3,6]
unique_list = []

for l in list4:
  if l not in unique_list:
    unique_list.append(l)
print(unique_list)

[2, 5, 3, 6]

8. Write a Python program to check if a list is empty or not.

In [ ]:
def empty_check(list):
  if len(list) == 0:
    print("Empty")
  else:
    print("Not Empty")
em = []
empty_check(list4)
empty_check(em)

Not Empty
Empty

9. Write a Python program to clone or copy a list.

In [ ]:
def clone_list(list):
  clone = []
  for l in list:
    clone.append(l)
  return clone

print("Cloned List: ", clone_list(list3))

Cloned List:  [5, 12, 20, 34, 89]

10. Write a Python program to find the list of words that are longer than n from a given list of words.

In [ ]:
words1 = ['abc', 'xyxz', 'ad', 'a', 'ghsgj']

def wcount(list, n):
  word2 = []
  for l in list:
    if len(l) < n:
      word2.append(l)
  return word2

print("Count list: ", wcount(words1, 4))

Count list:  ['abc', 'ad', 'a']

11. Write a Python function that takes two lists and returns True if they have at least one common member.

In [ ]:
def common_list(list1 = [],list2 = []):
  for l in list1:
    if l in list2:
        return True
    else:
        return False

l1 = [3,4,2,4,3]
l2 = [9,8,5,0,3]

print("List Common: ", common_list(l1, l2))

List Common:  True

12. Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
Expected Output : ['Green', 'White', 'Black']

In [ ]:
Sample_List = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

def remove_ele(list1 = []):
  del list1[5]
  del list1[4]
  del list1[0]
  return list1

print("List after removal: ", remove_ele(Sample_List))

List after removal:  ['Green', 'White', 'Black']

13. Write a Python program to generate a 3 x 4 x 6 3D array whose each element is *.

In [ ]:
array3d = [[['*' for _ in range(6)] for _ in range(4)] for _ in range(3)]

for l in array3d:
  print(l)

[['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']]
[['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']]
[['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']]

14. Write a Python program to print the numbers of a specified list after removing even numbers from it.

In [ ]:
def remove_even(list1 = []):
  odd_list = []
  for l in list1:
    if l % 2 != 0:
      odd_list.append(l)
  return odd_list

list5 = [3,2,5,4,7,6]

print("List after removing even: ", remove_even(list5))

List after removing even:  [3, 5, 7]

15. Write a Python program to shuffle and print a specified list.

In [ ]:
import random

list6 = [4,5,3,5,2,8,6]
random.shuffle(list6)
print("Shuffled List: ",list6)

Shuffled List:  [8, 3, 5, 4, 5, 6, 2]

16. Write a Python program to generate and print a list of the first and last 5 elements where the values are square numbers between 1 and 30 (both included).

In [ ]:
square_list = []
i = 0

for i in range(30):
  square_list.append(i*i)

five_list = square_list[:5] + square_list[-5:]

print("First and Last five elements list: ", five_list)

First and Last five elements list:  [0, 1, 4, 9, 16, 625, 676, 729, 784, 841]

17. Write a Python program to check if each number is prime in a given list of numbers. Return True if all numbers are prime otherwise False.
Sample Data:
([0, 3, 4, 7, 9]) -> False
([3, 5, 7, 13]) -> True
([1, 5, 3]) -> False

In [ ]:
from pickle import FALSE
def is_prime(n):
  if n < 2:
    return False
  for i in range(2, int(n**0.5)+1):
    if n % i == 0:
      return False
  return True

def prime_list(numbers):
  return all(is_prime(num) for num in numbers)

print(prime_list([0, 3, 4, 7, 9]))
print(prime_list([3, 5, 7, 13]))
print(prime_list([1, 5, 3]))

False
True
False

 18. Write a  Python program to generate all permutations of a list in Python.

In [ ]:
import itertools

list7 = [3,5,2,7,2,9]

perm_list = list(itertools.permutations(list7))

for perm in perm_list:
  print(perm)

(3, 5, 2, 7, 2, 9)
(3, 5, 2, 7, 9, 2)
(3, 5, 2, 2, 7, 9)
(3, 5, 2, 2, 9, 7)
(3, 5, 2, 9, 7, 2)
(3, 5, 2, 9, 2, 7)
(3, 5, 7, 2, 2, 9)
(3, 5, 7, 2, 9, 2)
(3, 5, 7, 2, 2, 9)
(3, 5, 7, 2, 9, 2)
(3, 5, 7, 9, 2, 2)
(3, 5, 7, 9, 2, 2)
(3, 5, 2, 2, 7, 9)
(3, 5, 2, 2, 9, 7)
(3, 5, 2, 7, 2, 9)
(3, 5, 2, 7, 9, 2)
(3, 5, 2, 9, 2, 7)
(3, 5, 2, 9, 7, 2)
(3, 5, 9, 2, 7, 2)
(3, 5, 9, 2, 2, 7)
(3, 5, 9, 7, 2, 2)
(3, 5, 9, 7, 2, 2)
(3, 5, 9, 2, 2, 7)
(3, 5, 9, 2, 7, 2)
(3, 2, 5, 7, 2, 9)
(3, 2, 5, 7, 9, 2)
(3, 2, 5, 2, 7, 9)
(3, 2, 5, 2, 9, 7)
(3, 2, 5, 9, 7, 2)
(3, 2, 5, 9, 2, 7)
(3, 2, 7, 5, 2, 9)
(3, 2, 7, 5, 9, 2)
(3, 2, 7, 2, 5, 9)
(3, 2, 7, 2, 9, 5)
(3, 2, 7, 9, 5, 2)
(3, 2, 7, 9, 2, 5)
(3, 2, 2, 5, 7, 9)
(3, 2, 2, 5, 9, 7)
(3, 2, 2, 7, 5, 9)
(3, 2, 2, 7, 9, 5)
(3, 2, 2, 9, 5, 7)
(3, 2, 2, 9, 7, 5)
(3, 2, 9, 5, 7, 2)
(3, 2, 9, 5, 2, 7)
(3, 2, 9, 7, 5, 2)
(3, 2, 9, 7, 2, 5)
(3, 2, 9, 2, 5, 7)
(3, 2, 9, 2, 7, 5)
(3, 7, 5, 2, 2, 9)
(3, 7, 5, 2, 9, 2)
(3, 7, 5, 2, 2, 9)
(3, 7, 5, 2, 9, 2)
(3, 7, 5, 9, 2, 2)
(3, 7, 5, 9, 2, 2)
(3, 7, 2, 5, 2, 9)
(3, 7, 2, 5, 9, 2)
(3, 7, 2, 2, 5, 9)
(3, 7, 2, 2, 9, 5)
(3, 7, 2, 9, 5, 2)
(3, 7, 2, 9, 2, 5)
(3, 7, 2, 5, 2, 9)
(3, 7, 2, 5, 9, 2)
(3, 7, 2, 2, 5, 9)
(3, 7, 2, 2, 9, 5)
(3, 7, 2, 9, 5, 2)
(3, 7, 2, 9, 2, 5)
(3, 7, 9, 5, 2, 2)
(3, 7, 9, 5, 2, 2)
(3, 7, 9, 2, 5, 2)
(3, 7, 9, 2, 2, 5)
(3, 7, 9, 2, 5, 2)
(3, 7, 9, 2, 2, 5)
(3, 2, 5, 2, 7, 9)
(3, 2, 5, 2, 9, 7)
(3, 2, 5, 7, 2, 9)
(3, 2, 5, 7, 9, 2)
(3, 2, 5, 9, 2, 7)
(3, 2, 5, 9, 7, 2)
(3, 2, 2, 5, 7, 9)
(3, 2, 2, 5, 9, 7)
(3, 2, 2, 7, 5, 9)
(3, 2, 2, 7, 9, 5)
(3, 2, 2, 9, 5, 7)
(3, 2, 2, 9, 7, 5)
(3, 2, 7, 5, 2, 9)
(3, 2, 7, 5, 9, 2)
(3, 2, 7, 2, 5, 9)
(3, 2, 7, 2, 9, 5)
(3, 2, 7, 9, 5, 2)
(3, 2, 7, 9, 2, 5)
(3, 2, 9, 5, 2, 7)
(3, 2, 9, 5, 7, 2)
(3, 2, 9, 2, 5, 7)
(3, 2, 9, 2, 7, 5)
(3, 2, 9, 7, 5, 2)
(3, 2, 9, 7, 2, 5)
(3, 9, 5, 2, 7, 2)
(3, 9, 5, 2, 2, 7)
(3, 9, 5, 7, 2, 2)
(3, 9, 5, 7, 2, 2)
(3, 9, 5, 2, 2, 7)
(3, 9, 5, 2, 7, 2)
(3, 9, 2, 5, 7, 2)
(3, 9, 2, 5, 2, 7)
(3, 9, 2, 7, 5, 2)
(3, 9, 2, 7, 2, 5)
(3, 9, 2, 2, 5, 7)
(3, 9, 2, 2, 7, 5)
(3, 9, 7, 5, 2, 2)
(3, 9, 7, 5, 2, 2)
(3, 9, 7, 2, 5, 2)
(3, 9, 7, 2, 2, 5)
(3, 9, 7, 2, 5, 2)
(3, 9, 7, 2, 2, 5)
(3, 9, 2, 5, 2, 7)
(3, 9, 2, 5, 7, 2)
(3, 9, 2, 2, 5, 7)
(3, 9, 2, 2, 7, 5)
(3, 9, 2, 7, 5, 2)
(3, 9, 2, 7, 2, 5)
(5, 3, 2, 7, 2, 9)
(5, 3, 2, 7, 9, 2)
(5, 3, 2, 2, 7, 9)
(5, 3, 2, 2, 9, 7)
(5, 3, 2, 9, 7, 2)
(5, 3, 2, 9, 2, 7)
(5, 3, 7, 2, 2, 9)
(5, 3, 7, 2, 9, 2)
(5, 3, 7, 2, 2, 9)
(5, 3, 7, 2, 9, 2)
(5, 3, 7, 9, 2, 2)
(5, 3, 7, 9, 2, 2)
(5, 3, 2, 2, 7, 9)
(5, 3, 2, 2, 9, 7)
(5, 3, 2, 7, 2, 9)
(5, 3, 2, 7, 9, 2)
(5, 3, 2, 9, 2, 7)
(5, 3, 2, 9, 7, 2)
(5, 3, 9, 2, 7, 2)
(5, 3, 9, 2, 2, 7)
(5, 3, 9, 7, 2, 2)
(5, 3, 9, 7, 2, 2)
(5, 3, 9, 2, 2, 7)
(5, 3, 9, 2, 7, 2)
(5, 2, 3, 7, 2, 9)
(5, 2, 3, 7, 9, 2)
(5, 2, 3, 2, 7, 9)
(5, 2, 3, 2, 9, 7)
(5, 2, 3, 9, 7, 2)
(5, 2, 3, 9, 2, 7)
(5, 2, 7, 3, 2, 9)
(5, 2, 7, 3, 9, 2)
(5, 2, 7, 2, 3, 9)
(5, 2, 7, 2, 9, 3)
(5, 2, 7, 9, 3, 2)
(5, 2, 7, 9, 2, 3)
(5, 2, 2, 3, 7, 9)
(5, 2, 2, 3, 9, 7)
(5, 2, 2, 7, 3, 9)
(5, 2, 2, 7, 9, 3)
(5, 2, 2, 9, 3, 7)
(5, 2, 2, 9, 7, 3)
(5, 2, 9, 3, 7, 2)
(5, 2, 9, 3, 2, 7)
(5, 2, 9, 7, 3, 2)
(5, 2, 9, 7, 2, 3)
(5, 2, 9, 2, 3, 7)
(5, 2, 9, 2, 7, 3)
(5, 7, 3, 2, 2, 9)
(5, 7, 3, 2, 9, 2)
(5, 7, 3, 2, 2, 9)
(5, 7, 3, 2, 9, 2)
(5, 7, 3, 9, 2, 2)
(5, 7, 3, 9, 2, 2)
(5, 7, 2, 3, 2, 9)
(5, 7, 2, 3, 9, 2)
(5, 7, 2, 2, 3, 9)
(5, 7, 2, 2, 9, 3)
(5, 7, 2, 9, 3, 2)
(5, 7, 2, 9, 2, 3)
(5, 7, 2, 3, 2, 9)
(5, 7, 2, 3, 9, 2)
(5, 7, 2, 2, 3, 9)
(5, 7, 2, 2, 9, 3)
(5, 7, 2, 9, 3, 2)
(5, 7, 2, 9, 2, 3)
(5, 7, 9, 3, 2, 2)
(5, 7, 9, 3, 2, 2)
(5, 7, 9, 2, 3, 2)
(5, 7, 9, 2, 2, 3)
(5, 7, 9, 2, 3, 2)
(5, 7, 9, 2, 2, 3)
(5, 2, 3, 2, 7, 9)
(5, 2, 3, 2, 9, 7)
(5, 2, 3, 7, 2, 9)
(5, 2, 3, 7, 9, 2)
(5, 2, 3, 9, 2, 7)
(5, 2, 3, 9, 7, 2)
(5, 2, 2, 3, 7, 9)
(5, 2, 2, 3, 9, 7)
(5, 2, 2, 7, 3, 9)
(5, 2, 2, 7, 9, 3)
(5, 2, 2, 9, 3, 7)
(5, 2, 2, 9, 7, 3)
(5, 2, 7, 3, 2, 9)
(5, 2, 7, 3, 9, 2)
(5, 2, 7, 2, 3, 9)
(5, 2, 7, 2, 9, 3)
(5, 2, 7, 9, 3, 2)
(5, 2, 7, 9, 2, 3)
(5, 2, 9, 3, 2, 7)
(5, 2, 9, 3, 7, 2)
(5, 2, 9, 2, 3, 7)
(5, 2, 9, 2, 7, 3)
(5, 2, 9, 7, 3, 2)
(5, 2, 9, 7, 2, 3)
(5, 9, 3, 2, 7, 2)
(5, 9, 3, 2, 2, 7)
(5, 9, 3, 7, 2, 2)
(5, 9, 3, 7, 2, 2)
(5, 9, 3, 2, 2, 7)
(5, 9, 3, 2, 7, 2)
(5, 9, 2, 3, 7, 2)
(5, 9, 2, 3, 2, 7)
(5, 9, 2, 7, 3, 2)
(5, 9, 2, 7, 2, 3)
(5, 9, 2, 2, 3, 7)
(5, 9, 2, 2, 7, 3)
(5, 9, 7, 3, 2, 2)
(5, 9, 7, 3, 2, 2)
(5, 9, 7, 2, 3, 2)
(5, 9, 7, 2, 2, 3)
(5, 9, 7, 2, 3, 2)
(5, 9, 7, 2, 2, 3)
(5, 9, 2, 3, 2, 7)
(5, 9, 2, 3, 7, 2)
(5, 9, 2, 2, 3, 7)
(5, 9, 2, 2, 7, 3)
(5, 9, 2, 7, 3, 2)
(5, 9, 2, 7, 2, 3)
(2, 3, 5, 7, 2, 9)
(2, 3, 5, 7, 9, 2)
(2, 3, 5, 2, 7, 9)
(2, 3, 5, 2, 9, 7)
(2, 3, 5, 9, 7, 2)
(2, 3, 5, 9, 2, 7)
(2, 3, 7, 5, 2, 9)
(2, 3, 7, 5, 9, 2)
(2, 3, 7, 2, 5, 9)
(2, 3, 7, 2, 9, 5)
(2, 3, 7, 9, 5, 2)
(2, 3, 7, 9, 2, 5)
(2, 3, 2, 5, 7, 9)
(2, 3, 2, 5, 9, 7)
(2, 3, 2, 7, 5, 9)
(2, 3, 2, 7, 9, 5)
(2, 3, 2, 9, 5, 7)
(2, 3, 2, 9, 7, 5)
(2, 3, 9, 5, 7, 2)
(2, 3, 9, 5, 2, 7)
(2, 3, 9, 7, 5, 2)
(2, 3, 9, 7, 2, 5)
(2, 3, 9, 2, 5, 7)
(2, 3, 9, 2, 7, 5)
(2, 5, 3, 7, 2, 9)
(2, 5, 3, 7, 9, 2)
(2, 5, 3, 2, 7, 9)
(2, 5, 3, 2, 9, 7)
(2, 5, 3, 9, 7, 2)
(2, 5, 3, 9, 2, 7)
(2, 5, 7, 3, 2, 9)
(2, 5, 7, 3, 9, 2)
(2, 5, 7, 2, 3, 9)
(2, 5, 7, 2, 9, 3)
(2, 5, 7, 9, 3, 2)
(2, 5, 7, 9, 2, 3)
(2, 5, 2, 3, 7, 9)
(2, 5, 2, 3, 9, 7)
(2, 5, 2, 7, 3, 9)
(2, 5, 2, 7, 9, 3)
(2, 5, 2, 9, 3, 7)
(2, 5, 2, 9, 7, 3)
(2, 5, 9, 3, 7, 2)
(2, 5, 9, 3, 2, 7)
(2, 5, 9, 7, 3, 2)
(2, 5, 9, 7, 2, 3)
(2, 5, 9, 2, 3, 7)
(2, 5, 9, 2, 7, 3)
(2, 7, 3, 5, 2, 9)
(2, 7, 3, 5, 9, 2)
(2, 7, 3, 2, 5, 9)
(2, 7, 3, 2, 9, 5)
(2, 7, 3, 9, 5, 2)
(2, 7, 3, 9, 2, 5)
(2, 7, 5, 3, 2, 9)
(2, 7, 5, 3, 9, 2)
(2, 7, 5, 2, 3, 9)
(2, 7, 5, 2, 9, 3)
(2, 7, 5, 9, 3, 2)
(2, 7, 5, 9, 2, 3)
(2, 7, 2, 3, 5, 9)
(2, 7, 2, 3, 9, 5)
(2, 7, 2, 5, 3, 9)
(2, 7, 2, 5, 9, 3)
(2, 7, 2, 9, 3, 5)
(2, 7, 2, 9, 5, 3)
(2, 7, 9, 3, 5, 2)
(2, 7, 9, 3, 2, 5)
(2, 7, 9, 5, 3, 2)
(2, 7, 9, 5, 2, 3)
(2, 7, 9, 2, 3, 5)
(2, 7, 9, 2, 5, 3)
(2, 2, 3, 5, 7, 9)
(2, 2, 3, 5, 9, 7)
(2, 2, 3, 7, 5, 9)
(2, 2, 3, 7, 9, 5)
(2, 2, 3, 9, 5, 7)
(2, 2, 3, 9, 7, 5)
(2, 2, 5, 3, 7, 9)
(2, 2, 5, 3, 9, 7)
(2, 2, 5, 7, 3, 9)
(2, 2, 5, 7, 9, 3)
(2, 2, 5, 9, 3, 7)
(2, 2, 5, 9, 7, 3)
(2, 2, 7, 3, 5, 9)
(2, 2, 7, 3, 9, 5)
(2, 2, 7, 5, 3, 9)
(2, 2, 7, 5, 9, 3)
(2, 2, 7, 9, 3, 5)
(2, 2, 7, 9, 5, 3)
(2, 2, 9, 3, 5, 7)
(2, 2, 9, 3, 7, 5)
(2, 2, 9, 5, 3, 7)
(2, 2, 9, 5, 7, 3)
(2, 2, 9, 7, 3, 5)
(2, 2, 9, 7, 5, 3)
(2, 9, 3, 5, 7, 2)
(2, 9, 3, 5, 2, 7)
(2, 9, 3, 7, 5, 2)
(2, 9, 3, 7, 2, 5)
(2, 9, 3, 2, 5, 7)
(2, 9, 3, 2, 7, 5)
(2, 9, 5, 3, 7, 2)
(2, 9, 5, 3, 2, 7)
(2, 9, 5, 7, 3, 2)
(2, 9, 5, 7, 2, 3)
(2, 9, 5, 2, 3, 7)
(2, 9, 5, 2, 7, 3)
(2, 9, 7, 3, 5, 2)
(2, 9, 7, 3, 2, 5)
(2, 9, 7, 5, 3, 2)
(2, 9, 7, 5, 2, 3)
(2, 9, 7, 2, 3, 5)
(2, 9, 7, 2, 5, 3)
(2, 9, 2, 3, 5, 7)
(2, 9, 2, 3, 7, 5)
(2, 9, 2, 5, 3, 7)
(2, 9, 2, 5, 7, 3)
(2, 9, 2, 7, 3, 5)
(2, 9, 2, 7, 5, 3)
(7, 3, 5, 2, 2, 9)
(7, 3, 5, 2, 9, 2)
(7, 3, 5, 2, 2, 9)
(7, 3, 5, 2, 9, 2)
(7, 3, 5, 9, 2, 2)
(7, 3, 5, 9, 2, 2)
(7, 3, 2, 5, 2, 9)
(7, 3, 2, 5, 9, 2)
(7, 3, 2, 2, 5, 9)
(7, 3, 2, 2, 9, 5)
(7, 3, 2, 9, 5, 2)
(7, 3, 2, 9, 2, 5)
(7, 3, 2, 5, 2, 9)
(7, 3, 2, 5, 9, 2)
(7, 3, 2, 2, 5, 9)
(7, 3, 2, 2, 9, 5)
(7, 3, 2, 9, 5, 2)
(7, 3, 2, 9, 2, 5)
(7, 3, 9, 5, 2, 2)
(7, 3, 9, 5, 2, 2)
(7, 3, 9, 2, 5, 2)
(7, 3, 9, 2, 2, 5)
(7, 3, 9, 2, 5, 2)
(7, 3, 9, 2, 2, 5)
(7, 5, 3, 2, 2, 9)
(7, 5, 3, 2, 9, 2)
(7, 5, 3, 2, 2, 9)
(7, 5, 3, 2, 9, 2)
(7, 5, 3, 9, 2, 2)
(7, 5, 3, 9, 2, 2)
(7, 5, 2, 3, 2, 9)
(7, 5, 2, 3, 9, 2)
(7, 5, 2, 2, 3, 9)
(7, 5, 2, 2, 9, 3)
(7, 5, 2, 9, 3, 2)
(7, 5, 2, 9, 2, 3)
(7, 5, 2, 3, 2, 9)
(7, 5, 2, 3, 9, 2)
(7, 5, 2, 2, 3, 9)
(7, 5, 2, 2, 9, 3)
(7, 5, 2, 9, 3, 2)
(7, 5, 2, 9, 2, 3)
(7, 5, 9, 3, 2, 2)
(7, 5, 9, 3, 2, 2)
(7, 5, 9, 2, 3, 2)
(7, 5, 9, 2, 2, 3)
(7, 5, 9, 2, 3, 2)
(7, 5, 9, 2, 2, 3)
(7, 2, 3, 5, 2, 9)
(7, 2, 3, 5, 9, 2)
(7, 2, 3, 2, 5, 9)
(7, 2, 3, 2, 9, 5)
(7, 2, 3, 9, 5, 2)
(7, 2, 3, 9, 2, 5)
(7, 2, 5, 3, 2, 9)
(7, 2, 5, 3, 9, 2)
(7, 2, 5, 2, 3, 9)
(7, 2, 5, 2, 9, 3)
(7, 2, 5, 9, 3, 2)
(7, 2, 5, 9, 2, 3)
(7, 2, 2, 3, 5, 9)
(7, 2, 2, 3, 9, 5)
(7, 2, 2, 5, 3, 9)
(7, 2, 2, 5, 9, 3)
(7, 2, 2, 9, 3, 5)
(7, 2, 2, 9, 5, 3)
(7, 2, 9, 3, 5, 2)
(7, 2, 9, 3, 2, 5)
(7, 2, 9, 5, 3, 2)
(7, 2, 9, 5, 2, 3)
(7, 2, 9, 2, 3, 5)
(7, 2, 9, 2, 5, 3)
(7, 2, 3, 5, 2, 9)
(7, 2, 3, 5, 9, 2)
(7, 2, 3, 2, 5, 9)
(7, 2, 3, 2, 9, 5)
(7, 2, 3, 9, 5, 2)
(7, 2, 3, 9, 2, 5)
(7, 2, 5, 3, 2, 9)
(7, 2, 5, 3, 9, 2)
(7, 2, 5, 2, 3, 9)
(7, 2, 5, 2, 9, 3)
(7, 2, 5, 9, 3, 2)
(7, 2, 5, 9, 2, 3)
(7, 2, 2, 3, 5, 9)
(7, 2, 2, 3, 9, 5)
(7, 2, 2, 5, 3, 9)
(7, 2, 2, 5, 9, 3)
(7, 2, 2, 9, 3, 5)
(7, 2, 2, 9, 5, 3)
(7, 2, 9, 3, 5, 2)
(7, 2, 9, 3, 2, 5)
(7, 2, 9, 5, 3, 2)
(7, 2, 9, 5, 2, 3)
(7, 2, 9, 2, 3, 5)
(7, 2, 9, 2, 5, 3)
(7, 9, 3, 5, 2, 2)
(7, 9, 3, 5, 2, 2)
(7, 9, 3, 2, 5, 2)
(7, 9, 3, 2, 2, 5)
(7, 9, 3, 2, 5, 2)
(7, 9, 3, 2, 2, 5)
(7, 9, 5, 3, 2, 2)
(7, 9, 5, 3, 2, 2)
(7, 9, 5, 2, 3, 2)
(7, 9, 5, 2, 2, 3)
(7, 9, 5, 2, 3, 2)
(7, 9, 5, 2, 2, 3)
(7, 9, 2, 3, 5, 2)
(7, 9, 2, 3, 2, 5)
(7, 9, 2, 5, 3, 2)
(7, 9, 2, 5, 2, 3)
(7, 9, 2, 2, 3, 5)
(7, 9, 2, 2, 5, 3)
(7, 9, 2, 3, 5, 2)
(7, 9, 2, 3, 2, 5)
(7, 9, 2, 5, 3, 2)
(7, 9, 2, 5, 2, 3)
(7, 9, 2, 2, 3, 5)
(7, 9, 2, 2, 5, 3)
(2, 3, 5, 2, 7, 9)
(2, 3, 5, 2, 9, 7)
(2, 3, 5, 7, 2, 9)
(2, 3, 5, 7, 9, 2)
(2, 3, 5, 9, 2, 7)
(2, 3, 5, 9, 7, 2)
(2, 3, 2, 5, 7, 9)
(2, 3, 2, 5, 9, 7)
(2, 3, 2, 7, 5, 9)
(2, 3, 2, 7, 9, 5)
(2, 3, 2, 9, 5, 7)
(2, 3, 2, 9, 7, 5)
(2, 3, 7, 5, 2, 9)
(2, 3, 7, 5, 9, 2)
(2, 3, 7, 2, 5, 9)
(2, 3, 7, 2, 9, 5)
(2, 3, 7, 9, 5, 2)
(2, 3, 7, 9, 2, 5)
(2, 3, 9, 5, 2, 7)
(2, 3, 9, 5, 7, 2)
(2, 3, 9, 2, 5, 7)
(2, 3, 9, 2, 7, 5)
(2, 3, 9, 7, 5, 2)
(2, 3, 9, 7, 2, 5)
(2, 5, 3, 2, 7, 9)
(2, 5, 3, 2, 9, 7)
(2, 5, 3, 7, 2, 9)
(2, 5, 3, 7, 9, 2)
(2, 5, 3, 9, 2, 7)
(2, 5, 3, 9, 7, 2)
(2, 5, 2, 3, 7, 9)
(2, 5, 2, 3, 9, 7)
(2, 5, 2, 7, 3, 9)
(2, 5, 2, 7, 9, 3)
(2, 5, 2, 9, 3, 7)
(2, 5, 2, 9, 7, 3)
(2, 5, 7, 3, 2, 9)
(2, 5, 7, 3, 9, 2)
(2, 5, 7, 2, 3, 9)
(2, 5, 7, 2, 9, 3)
(2, 5, 7, 9, 3, 2)
(2, 5, 7, 9, 2, 3)
(2, 5, 9, 3, 2, 7)
(2, 5, 9, 3, 7, 2)
(2, 5, 9, 2, 3, 7)
(2, 5, 9, 2, 7, 3)
(2, 5, 9, 7, 3, 2)
(2, 5, 9, 7, 2, 3)
(2, 2, 3, 5, 7, 9)
(2, 2, 3, 5, 9, 7)
(2, 2, 3, 7, 5, 9)
(2, 2, 3, 7, 9, 5)
(2, 2, 3, 9, 5, 7)
(2, 2, 3, 9, 7, 5)
(2, 2, 5, 3, 7, 9)
(2, 2, 5, 3, 9, 7)
(2, 2, 5, 7, 3, 9)
(2, 2, 5, 7, 9, 3)
(2, 2, 5, 9, 3, 7)
(2, 2, 5, 9, 7, 3)
(2, 2, 7, 3, 5, 9)
(2, 2, 7, 3, 9, 5)
(2, 2, 7, 5, 3, 9)
(2, 2, 7, 5, 9, 3)
(2, 2, 7, 9, 3, 5)
(2, 2, 7, 9, 5, 3)
(2, 2, 9, 3, 5, 7)
(2, 2, 9, 3, 7, 5)
(2, 2, 9, 5, 3, 7)
(2, 2, 9, 5, 7, 3)
(2, 2, 9, 7, 3, 5)
(2, 2, 9, 7, 5, 3)
(2, 7, 3, 5, 2, 9)
(2, 7, 3, 5, 9, 2)
(2, 7, 3, 2, 5, 9)
(2, 7, 3, 2, 9, 5)
(2, 7, 3, 9, 5, 2)
(2, 7, 3, 9, 2, 5)
(2, 7, 5, 3, 2, 9)
(2, 7, 5, 3, 9, 2)
(2, 7, 5, 2, 3, 9)
(2, 7, 5, 2, 9, 3)
(2, 7, 5, 9, 3, 2)
(2, 7, 5, 9, 2, 3)
(2, 7, 2, 3, 5, 9)
(2, 7, 2, 3, 9, 5)
(2, 7, 2, 5, 3, 9)
(2, 7, 2, 5, 9, 3)
(2, 7, 2, 9, 3, 5)
(2, 7, 2, 9, 5, 3)
(2, 7, 9, 3, 5, 2)
(2, 7, 9, 3, 2, 5)
(2, 7, 9, 5, 3, 2)
(2, 7, 9, 5, 2, 3)
(2, 7, 9, 2, 3, 5)
(2, 7, 9, 2, 5, 3)
(2, 9, 3, 5, 2, 7)
(2, 9, 3, 5, 7, 2)
(2, 9, 3, 2, 5, 7)
(2, 9, 3, 2, 7, 5)
(2, 9, 3, 7, 5, 2)
(2, 9, 3, 7, 2, 5)
(2, 9, 5, 3, 2, 7)
(2, 9, 5, 3, 7, 2)
(2, 9, 5, 2, 3, 7)
(2, 9, 5, 2, 7, 3)
(2, 9, 5, 7, 3, 2)
(2, 9, 5, 7, 2, 3)
(2, 9, 2, 3, 5, 7)
(2, 9, 2, 3, 7, 5)
(2, 9, 2, 5, 3, 7)
(2, 9, 2, 5, 7, 3)
(2, 9, 2, 7, 3, 5)
(2, 9, 2, 7, 5, 3)
(2, 9, 7, 3, 5, 2)
(2, 9, 7, 3, 2, 5)
(2, 9, 7, 5, 3, 2)
(2, 9, 7, 5, 2, 3)
(2, 9, 7, 2, 3, 5)
(2, 9, 7, 2, 5, 3)
(9, 3, 5, 2, 7, 2)
(9, 3, 5, 2, 2, 7)
(9, 3, 5, 7, 2, 2)
(9, 3, 5, 7, 2, 2)
(9, 3, 5, 2, 2, 7)
(9, 3, 5, 2, 7, 2)
(9, 3, 2, 5, 7, 2)
(9, 3, 2, 5, 2, 7)
(9, 3, 2, 7, 5, 2)
(9, 3, 2, 7, 2, 5)
(9, 3, 2, 2, 5, 7)
(9, 3, 2, 2, 7, 5)
(9, 3, 7, 5, 2, 2)
(9, 3, 7, 5, 2, 2)
(9, 3, 7, 2, 5, 2)
(9, 3, 7, 2, 2, 5)
(9, 3, 7, 2, 5, 2)
(9, 3, 7, 2, 2, 5)
(9, 3, 2, 5, 2, 7)
(9, 3, 2, 5, 7, 2)
(9, 3, 2, 2, 5, 7)
(9, 3, 2, 2, 7, 5)
(9, 3, 2, 7, 5, 2)
(9, 3, 2, 7, 2, 5)
(9, 5, 3, 2, 7, 2)
(9, 5, 3, 2, 2, 7)
(9, 5, 3, 7, 2, 2)
(9, 5, 3, 7, 2, 2)
(9, 5, 3, 2, 2, 7)
(9, 5, 3, 2, 7, 2)
(9, 5, 2, 3, 7, 2)
(9, 5, 2, 3, 2, 7)
(9, 5, 2, 7, 3, 2)
(9, 5, 2, 7, 2, 3)
(9, 5, 2, 2, 3, 7)
(9, 5, 2, 2, 7, 3)
(9, 5, 7, 3, 2, 2)
(9, 5, 7, 3, 2, 2)
(9, 5, 7, 2, 3, 2)
(9, 5, 7, 2, 2, 3)
(9, 5, 7, 2, 3, 2)
(9, 5, 7, 2, 2, 3)
(9, 5, 2, 3, 2, 7)
(9, 5, 2, 3, 7, 2)
(9, 5, 2, 2, 3, 7)
(9, 5, 2, 2, 7, 3)
(9, 5, 2, 7, 3, 2)
(9, 5, 2, 7, 2, 3)
(9, 2, 3, 5, 7, 2)
(9, 2, 3, 5, 2, 7)
(9, 2, 3, 7, 5, 2)
(9, 2, 3, 7, 2, 5)
(9, 2, 3, 2, 5, 7)
(9, 2, 3, 2, 7, 5)
(9, 2, 5, 3, 7, 2)
(9, 2, 5, 3, 2, 7)
(9, 2, 5, 7, 3, 2)
(9, 2, 5, 7, 2, 3)
(9, 2, 5, 2, 3, 7)
(9, 2, 5, 2, 7, 3)
(9, 2, 7, 3, 5, 2)
(9, 2, 7, 3, 2, 5)
(9, 2, 7, 5, 3, 2)
(9, 2, 7, 5, 2, 3)
(9, 2, 7, 2, 3, 5)
(9, 2, 7, 2, 5, 3)
(9, 2, 2, 3, 5, 7)
(9, 2, 2, 3, 7, 5)
(9, 2, 2, 5, 3, 7)
(9, 2, 2, 5, 7, 3)
(9, 2, 2, 7, 3, 5)
(9, 2, 2, 7, 5, 3)
(9, 7, 3, 5, 2, 2)
(9, 7, 3, 5, 2, 2)
(9, 7, 3, 2, 5, 2)
(9, 7, 3, 2, 2, 5)
(9, 7, 3, 2, 5, 2)
(9, 7, 3, 2, 2, 5)
(9, 7, 5, 3, 2, 2)
(9, 7, 5, 3, 2, 2)
(9, 7, 5, 2, 3, 2)
(9, 7, 5, 2, 2, 3)
(9, 7, 5, 2, 3, 2)
(9, 7, 5, 2, 2, 3)
(9, 7, 2, 3, 5, 2)
(9, 7, 2, 3, 2, 5)
(9, 7, 2, 5, 3, 2)
(9, 7, 2, 5, 2, 3)
(9, 7, 2, 2, 3, 5)
(9, 7, 2, 2, 5, 3)
(9, 7, 2, 3, 5, 2)
(9, 7, 2, 3, 2, 5)
(9, 7, 2, 5, 3, 2)
(9, 7, 2, 5, 2, 3)
(9, 7, 2, 2, 3, 5)
(9, 7, 2, 2, 5, 3)
(9, 2, 3, 5, 2, 7)
(9, 2, 3, 5, 7, 2)
(9, 2, 3, 2, 5, 7)
(9, 2, 3, 2, 7, 5)
(9, 2, 3, 7, 5, 2)
(9, 2, 3, 7, 2, 5)
(9, 2, 5, 3, 2, 7)
(9, 2, 5, 3, 7, 2)
(9, 2, 5, 2, 3, 7)
(9, 2, 5, 2, 7, 3)
(9, 2, 5, 7, 3, 2)
(9, 2, 5, 7, 2, 3)
(9, 2, 2, 3, 5, 7)
(9, 2, 2, 3, 7, 5)
(9, 2, 2, 5, 3, 7)
(9, 2, 2, 5, 7, 3)
(9, 2, 2, 7, 3, 5)
(9, 2, 2, 7, 5, 3)
(9, 2, 7, 3, 5, 2)
(9, 2, 7, 3, 2, 5)
(9, 2, 7, 5, 3, 2)
(9, 2, 7, 5, 2, 3)
(9, 2, 7, 2, 3, 5)
(9, 2, 7, 2, 5, 3)

19. Write a Python program to calculate the difference between the two lists.

In [ ]:
list9 = [4,5,6,7,9,12,14]
list10 = [7,9,10,4,6,12,15]

diff_list9_list10 = list(set(list9) - set(list10))
diff_list10_list9 = list(set(list10) - set(list9))

diff_list = diff_list9_list10 + diff_list10_list9

print("Difference in list is: ", diff_list)

Difference in list is:  [5, 14, 10, 15]

20. Write a Python program to access the index of a list.

In [ ]:
list11 = ['apple', 'banana', 'guava', 'grapes', 'pineapple']

for index, element in enumerate(list11):
  print(f"Index: {index}, Element: {element}")

Index: 0, Element: apple
Index: 1, Element: banana
Index: 2, Element: guava
Index: 3, Element: grapes
Index: 4, Element: pineapple

21. Write a Python program to convert a list of characters into a string.

In [ ]:
char_list = ['k','r','i','s','h','u']
s1 =''
for c in char_list:
  s1 += c

print("The string is :", s1)

The string is : krishu

22. Write a Python program to find the index of an item in a specified list.

In [ ]:
list13 = [2,5,1,8,3]
def find_ind(item, list1 = []):
  for l in list1:
    if l == item:
      return list1.index(l)

print("Index of element 5 is: ", find_ind(8, list13))

Index of element 5 is:  3

23. Write a Python program to flatten a shallow list.

In [ ]:
import itertools

original_list = [[1,2,3],[4,5],[7,8,9]]
new_list = list(itertools.chain(*original_list))
print(new_list)

[1, 2, 3, 4, 5, 7, 8, 9]

24. Write a Python program to append a list to the second list.

In [ ]:
def append_list(list1 = [], list2 = []):
  return list1 + list2

l1 = [1,2,3,4]
l2 = [6,7,8,9]

print("Appended list: ", append_list(l1,l2))

Appended list:  [1, 2, 3, 4, 6, 7, 8, 9]

25. Write a Python program to select an item randomly from a list.

In [ ]:
import random

def random_pick(list1 = []):
  i = random.randint(0, len(list1))
  return list1[i]

l3 = [3,5,6,2,7,5]
print("Randomly picked item: ", random_pick(l3))

Randomly picked item:  2

26. Write a Python program to check whether two lists are circularly identical.

In [ ]:
def are_circularly_identical(list1, list2):
    if len(list1) != len(list2):
        return False

    concatenated_list1 = list1 + list1
    return any(list2 == concatenated_list1[i:i+len(list2)] for i in range(len(list1)))

list1 = [1, 2, 3, 4]
list2 = [3, 4, 1, 2]
list3 = [4, 3, 2, 1]

print(are_circularly_identical(list1, list2))  # Output: True
print(are_circularly_identical(list1, list3))  # Output: False

True
False

27. Write a Python program to find the second smallest number in a list.

In [ ]:
list14 = [3,5,9,7,8,1]

def second_smallest(list1 = []):
  list1.sort()
  return list1[1]

print("Second Smallest element: ", second_smallest(list14))

Second Smallest element:  3

28. Write a Python program to find the second largest number in a list.

In [ ]:
def second_largest(list1 = []):
  list1.sort()
  return list1[-2]

print("Second Largest element: ", second_largest(list14))

Second Largest element:  8

29. Write a Python program to get unique values from a list.

In [ ]:
list15 = [1,2,2,4,6,2,4,1,6,3]

def unique_value_list(list1 = []):
  uniquelist = []
  for i in list1:
    if i not in uniquelist:
      uniquelist.append(i)
  return uniquelist

print("Unique Values: ", unique_value_list(list15))

Unique Values:  [1, 2, 4, 6, 3]

30. Write a Python program to get the frequency of elements in a list.

In [ ]:
import collections

ctr = collections.Counter(list15)
print("Frequency of elements: ", ctr)

Frequency of elements:  Counter({2: 3, 1: 2, 4: 2, 6: 2, 3: 1})

31. Write a Python program to count the number of elements in a list within a specified range.

In [ ]:
list16 = [10, 20, 30, 40, 40, 40, 70, 80, 99]

def count_list(minvalue, maxvalue, list1):
  ctr = 0
  for i in list1:
    if minvalue<=i<=maxvalue:
      ctr += 1
  return ctr

print("Element count between 2 and 12 is: ", count_list(20, 80, list16))

Element count between 2 and 12 is:  7

32. Write a Python program to check whether a list contains a sublist.

What is Slicing?
In Python, slicing is a way to access a part of a list. For example, main_list[1:4] gives you a section of main_list starting at index 1 and ending just before index 4.
How Does the Code Work?
Goal: We want to check if a smaller list (the sublist) is fully contained somewhere inside the bigger list (the main list).

The Loop:

We go through the main list and check every possible section of it thats the same length as the sublist.
At each position, we take a "slice" of the main list thats the same size as the sublist and compare it to the sublist.
Slicing:

For example, lets say main_list = [1, 2, 3, 4, 5] and sublist = [3, 4].
The sublist has 2 elements. So we take slices of length 2 from the main list and compare:
First, we check if [1, 2] (first two elements of the main list) matches [3, 4] (sublist). It doesnt.
Then we check if [2, 3] matches [3, 4]. It doesnt.
Then we check if [3, 4] matches [3, 4]. It does! So we return True.
How the Slice Works:

main_list[i:i+len(sublist)] means: "Take a slice of main_list starting from index i, and grab len(sublist) elements from there."
If that slice matches the sublist, we know the sublist is in the main list.

In [ ]:
list17 = [10,20,30, 44]

def sublist_check(list1, list2):
  for i in range(len(list1) - len(list2)):
    if list1[i:i+len(list2)] == list2:
      return True
    return False

print("Sublist Check: ", sublist_check(list16, list17))

Sublist Check:  False

33. Write a Python program to generate all sublists of a list.

In [ ]:
from itertools import combinations

def generate_sublist(list_input):
  sublists = []
  for length in  range(len(list_input) + 1):
    for sublist in combinations(list_input, length):
      sublists.append(list(sublist))
  return sublists

input_list = [1,2,3]
sublists = generate_sublist(input_list)
print("All sublists are: ")
for s in sublists:
  print(s)

All sublists are:
[]
[1]
[2]
[3]
[1, 2]
[1, 3]
[2, 3]
[1, 2, 3]

34. Write a Python program that uses the Sieve of Eratosthenes method to compute prime numbers up to a specified number.

In [ ]:
def sieve_e(n):
  prime = [True] * (n+1)
  p = 2
  while p * p <= n:
    if prime[p]:
      for i in range(p * p, n +1, p):
        prime[i] = False
    p += 1

  primes = [p for p in range(2, n+1) if prime[p]]
  return primes

n = 30
print("Primes: ", sieve_e(n))

Primes:  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

35. Write a Python program to create a list by concatenating a given list with a range from 1 to n.
Sample list : ['p', 'q']
n =5
Sample Output : ['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

In [ ]:
list18 = ['p', 'q']

def list_con(list1, n):
  list2 = []
  for i in range(1, n+1):
    for j in list1:
      list2.append(j + str(i))
  return list2

print("List Concatenation: ",list_con(list18, 5))

List Concatenation:  ['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

36. Write a Python program to get a variable with an identification number or string.

In [ ]:
x = 100
print(format(id(x), 'x'))

7f89fd730d50

37. Write a Python program to find common items in two lists.

In [ ]:
def common_item(l1, l2):
  common = []
  for i in l1:
    for j in l2:
      if i == j:
        common.append(i)
  return common

print("Common items: ", common_item(list16,list17))

Common items:  [10, 20, 30]

38. Write a Python program to change the position of every n-th value to the (n+1)th in a list.
Sample list: [0,1,2,3,4,5]
Expected Output: [1, 0, 3, 2, 5, 4]

In [ ]:
def pos_change(l1):
  temp = ''
  for i in range(0, len(l1) - 1, 2): #Loop through the list with a step of 2
    temp = l1[i]
    l1[i] = l1[i+1]
    l1[i+1] = temp
  return l1

list19 = [0,1,2,3,4,5]
print("Position change: ", pos_change(list19))

Position change:  [1, 0, 3, 2, 5, 4]

39. Write a Python program to convert a list of multiple integers into a single integer.
Sample list: [11, 33, 50]
Expected Output: 113350

In [ ]:
def list_to_int(l):
  int1 = ''
  for i in l:
    int1 += str(i)
  return int(int1)

print("List to integer: ", list_to_int(list19))

List to integer:  103254

40. Write a Python program to split a list based on the first character of a word.

In [ ]:
# Import the 'groupby' function from the 'itertools' module and the 'itemgetter' function from the 'operator' module
from itertools import groupby
from operator import itemgetter

# Define a list 'word_list' containing words
word_list = ['be', 'have', 'do', 'say', 'get', 'make', 'go', 'know', 'take', 'see', 'come', 'think',
             'look', 'want', 'give', 'use', 'find', 'tell', 'ask', 'work', 'seem', 'feel', 'leave', 'call']

# Use 'groupby' to group and sort the words in 'word_list' based on the first letter of each word
# Iterate through the groups and print the first letter and the words starting with that letter
for letter, words in groupby(sorted(word_list), key=itemgetter(0)):
    print(letter)
    for word in words:
        print(word)

a
ask
b
be
c
call
come
d
do
f
feel
find
g
get
give
go
h
have
k
know
l
leave
look
m
make
s
say
see
seem
t
take
tell
think
u
use
w
want
work

42. Write a Python program to find missing and additional values in two lists.
Sample data : Missing values in second list: b,a,c
Additional values in second list: g,h

In [ ]:
list20 = [1,2,3,4]
list21 = [3,4,5,6]

def add_miss_list(l1, l2):
  missing = []
  additional = []

  for i in l1:
    if i not in l2:
      missing.append(i)
  for j in l2:
    if j not in l1:
      additional.append(j)
  return missing, additional

print("Missing and additional Value in second list: ", add_miss_list(list20, list21))

Missing and additional Value in second list:  ([1, 2], [5, 6])

43. Write a Python program to split a list into different variables.

In [ ]:
list22 = ['a','b','c','d']

var1, var2, var3, var4 = list22

print(var1)
print(var2)
print(var3)
print(var4)

a
b
c
d

44. Write a Python program to generate groups of five consecutive numbers in a list.

In [ ]:
l = [[5*i + j for j in range(1,6)] for i in range(5)]
print(l)

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15], [16, 17, 18, 19, 20], [21, 22, 23, 24, 25]]

45. Write a Python program to convert a pair of values into a sorted unique array.

In [ ]:
# Define a list 'L' containing tuples with pairs of numbers
L = [(1, 2), (3, 4), (1, 2), (5, 6), (7, 8), (1, 2), (3, 4), (3, 4), (7, 8), (9, 10)]

# Print the original list 'L'
print("Original List: ", L)

# Use a set to remove duplicate pairs of numbers and the 'union' method to merge all unique pairs
# Sort the resulting set and print the sorted unique data
print("Sorted Unique Data:", sorted(set().union(*L)))

Original List:  [(1, 2), (3, 4), (1, 2), (5, 6), (7, 8), (1, 2), (3, 4), (3, 4), (7, 8), (9, 10)]
Sorted Unique Data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

46. Write a Python program to select the odd items from a list.

In [ ]:
list23  = ['a', 'b', 'c', 'd', 'e', 'f']


def odd_item(l1):
  odd_list = []
  for i in l1:
    if l1.index(i) % 2 != 0:
      odd_list.append(i)
  return odd_list

print("Odd items: ", odd_item(list23))

Odd items:  ['b', 'd', 'f']

47. Write a  Python program to insert an element before each element of a list.

In [ ]:
def insert_before_each(input_list, element):
    result = []
    for item in input_list:
        result.append(element)
        result.append(item)
    return result

sample_list = ['a', 'b', 'c', 'd']
new_element = '*'
output = insert_before_each(sample_list, new_element)
print("Modified list:", output)

Modified list: ['*', 'a', '*', 'b', '*', 'c', '*', 'd']

48. Write a Python program to print nested lists (each list on a new line) using the print() function.

In [ ]:
list24 = [['a','b'], ['c','d'],['e', 'f'],['g', 'h']]

def print_nested(l1):
  for i in l1:
    print(i)

print_nested(list24)

['a', 'b']
['c', 'd']
['e', 'f']
['g', 'h']

49. Write a Python program to convert a list to a list of dictionaries.
Sample lists: ["Black", "Red", "Maroon", "Yellow"], ["#000000", "#FF0000", "#800000", "#FFFF00"]
Expected Output: [{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

In [ ]:
color_name = ["Black", "Red", "Maroon", "Yellow"]
color_code = ["#000000", "#FF0000", "#800000", "#FFFF00"]

def list_to_dict(color_name, color_code):
  result = []
  for i in range(len(color_name)):
    color_dict = {'color_name': color_name[i], 'color_code': color_code[i]}
    result.append(color_dict)
  return result

print("Dictionary: ", list_to_dict(color_name, color_code))

Dictionary:  [{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

50. Write a Python program to sort a list of nested dictionaries.

In [ ]:
def sorted_dict(nested_dict, sort_key):
    return sorted(nested_dicts, key=lambda x: x[sort_key])

nested_dicts = [
    {'name': 'John', 'age': 25, 'city': 'New York'},
    {'name': 'Alice', 'age': 30, 'city': 'Los Angeles'},
    {'name': 'Bob', 'age': 20, 'city': 'Chicago'}
]

sort_by_age = sorted_dict(nested_dicts, 'age')
print("Sorted by age: ", sort_by_age)

sort_by_name = sorted_dict(nested_dicts, 'name')
print("Sorted by name: ", sort_by_name)

Sorted by age:  [{'name': 'Bob', 'age': 20, 'city': 'Chicago'}, {'name': 'John', 'age': 25, 'city': 'New York'}, {'name': 'Alice', 'age': 30, 'city': 'Los Angeles'}]
Sorted by name:  [{'name': 'Alice', 'age': 30, 'city': 'Los Angeles'}, {'name': 'Bob', 'age': 20, 'city': 'Chicago'}, {'name': 'John', 'age': 25, 'city': 'New York'}]

51. Write a Python program to split a list every Nth element.

Sample list: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']

Expected Output: [['a', 'd', 'g', 'j', 'm'], ['b', 'e', 'h', 'k', 'n'], ['c', 'f', 'i', 'l']]

In [3]:
list25 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']

def list_split(l1, n):
  for i in range(0, n):
    result = [[] for _ in range(n)] #create empty list with sublists of length n
    for i, item in enumerate(l1): #access both index and element using enumerate
      result[i % n].append(item) #append each element to the sublist based on the remainder of its index when divided by n
  return result

print("Split list: ", list_split(list25, 3))

Split list:  [['a', 'd', 'g', 'j', 'm'], ['b', 'e', 'h', 'k', 'n'], ['c', 'f', 'i', 'l']]

52. Write a Python program to compute the difference between two lists.

Sample data: ["red", "orange", "green", "blue", "white"], ["black", "yellow", "green", "blue"]

Expected Output:

Color1-Color2: ['white', 'orange', 'red']
Color2-Color1: ['black', 'yellow']

In [5]:
list26 = ["red", "orange", "green", "blue", "white"]
list27 = ["black", "yellow", "green", "blue"]

def list_diff(l1, l2):
  l1_l2 = []
  l2_l1 = []
  l1_l2 = set(l1) - set(l2)
  l2_l1 = set(l2) - set(l1)
  return l1_l2, l2_l1

print("List Difference: ", list_diff(list26, list27))

List Difference:  ({'white', 'orange', 'red'}, {'yellow', 'black'})

53. Write a Python program to create a list with infinite elements.

In [6]:
import itertools

infinite_list = itertools.count() #returns an iterator that generates consecutive numbers, starting from default 0 and increments by 1

for _ in range(10):
  print(next(infinite_list)) #using next() to access each number from the iterator list, one at a time.

0
1
2
3
4
5
6
7
8
9

54. Write a Python program to concatenate elements of a list.

In [8]:
def concate_list_ele(l1):
  concatenated_string = ''

  for i in l1:
    concatenated_string += str(i)
  return concatenated_string

print("Concatenated String: ", concate_list_ele(list27))

Concatenated String:  blackyellowgreenblue

55. Write a Python program to remove key-value pairs from a list of dictionaries.

In [9]:
list28 = [
    {'name':'John', 'age':23},
    {'name': 'Sarah', 'age': 34},
    {'name': 'Mary', 'age':12}
]

def remove_dict(l1, key_to_remove):
  for dictionary in l1:
    if key_to_remove in dictionary:
      del dictionary[key_to_remove]
  return l1

print("Removing Age: ", remove_dict(list28, 'age'))

Removing Age:  [{'name': 'John'}, {'name': 'Sarah'}, {'name': 'Mary'}]

56. Write a Python program to convert a string to a list.

In [10]:
def string_to_list(string_vaalue):
  l1 = []
  for i in string_vaalue:
    l1.append(i)
  return l1

print("String to list: ", string_to_list('abacus'))

String to list:  ['a', 'b', 'a', 'c', 'u', 's']

57. Write a Python program to check if all items in a given list of strings are equal to a given string.

In [14]:
list29 = ['k','r','i','s','h','u']
string29 = 'krishu'

def string_list_validate(l1, s1):
  test_str = ''
  for i in l1:
    test_str += i
  if test_str == s1:
    return True
  else:
    return False

print("Elements in String and list are equal: ", string_list_validate(list29, string29))

Elements in String and list are equal:  True

58. Write a Python program to replace the last element in a list with another list.

Sample data : [1, 3, 5, 7, 9, 10], [2, 4, 6, 8]

Expected Output: [1, 3, 5, 7, 9, 2, 4, 6, 8]

In [16]:
list30 = [1, 3, 5, 7, 9, 10]
list31 = [2, 4, 6, 8]

def last_ele_list(l1, l2):
  del l1[-1]
  for i in l2:
    l1.append(i)
  return l1

print("Last element swap: ", last_ele_list(list30, list31))

Last element swap:  [1, 3, 5, 7, 9, 2, 4, 6, 8]

59. Write a Python program to check whether the n-th element exists in a given list.

In [18]:
def ele_check(l1, n):
  if n < len(l1):
    return True
  else:
    return False

print("19th element in list 31: ", ele_check(list31, 19))
print("3rd element in list 31: ", ele_check(list31, 3))

19th element in list 31:  False
3rd element in list 31:  True

60. Write a Python program to find a tuple, the smallest second index value from a list of tuples.

In [23]:
list32 = [(1,2), (3,4),(2,5), (9,2)]

def smallest_tuple_in_list(l1):
  return min(l1, key = lambda x:x[1])

def smallest_tuple_in_list_2(l1):
  smallest = l1[0] #assume first tuple has the smallest second element
  for tup in l1[1:]: #iterate over rest of the tuples
    if tup[1] < smallest [1]: #compare the second element of each tuple with the second element of smallest tuple
      smallest = tup #update smallest if smaller found
  return smallest

print("Tuple with smallest index: ", smallest_tuple_in_list(list32))
print("Tuple with smallest index: ", smallest_tuple_in_list_2(list32))

Tuple with smallest index:  (1, 2)
Tuple with smallest index:  (1, 2)