<a href="https://colab.research.google.com/github/AyushiKashyapp/Python/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists

Lists are used to store multiple items in a single variable.

Items are ordered, unchangeable and allow duplicate values.

In [ ]:
# Creating lists
fruits = ['banana', 'apple', 'cherry', 'apple', 4, 5, True]
veggies = list(('carrots', 'onions', 'capsicum', 'beans', 'tomato'))

# Accessing lists
print("The list has elements: ",fruits)
print("Length of the list is:", len(fruits))
print("Fruits is of type:", type(fruits))

The list has elements:  ['banana', 'apple', 'cherry', 'apple', 4, 5, True]
Length of the list is: 7
Fruits is of type: <class 'list'>

2. Accessing list items.

In [ ]:
print("Second vegetable is:", veggies[1])
print("Second Last vegetable is: ", veggies[-2])
print("Vegetables in range 2:4 are: ", veggies[2:4])
print("Vegetables in range :4 are: ", veggies[:4]) # Include from Start till 4
print("Vegetables in range 2: are: ", veggies[2:]) # Include from 2 till last
print("Vegetables in range -4:-2 are: ", veggies[-4:-2]) # Search from end of list

if("beans" in veggies):
  print("Beans is available in the veggies.")

Second vegetable is: onions
Second Last vegetable is:  beans
Vegetables in range 2:4 are:  ['capsicum', 'beans']
Vegetables in range :4 are:  ['carrots', 'onions', 'capsicum', 'beans']
Vegetables in range 2: are:  ['capsicum', 'beans', 'tomato']
Vegetables in range -4:-2 are:  ['onions', 'capsicum']
Beans is available in the veggies.

3. Change list item.

In [ ]:
fruits[2] = 'orange' # Change a single item
print("Second fruit changed to: ", fruits[2])

fruits[1:2] = ['pears', 'berries'] # Change a range of items
print(fruits)
print("Range of fruits 1:2 is changed to: ", fruits[1:3])

fruits[1:2] = ['melon'] # Chnging only one value while specifying 2 in the range
print(fruits)
print("Range of fruits 1:2 is changed to: ", fruits[1:3])

fruits.insert(4, 'kinu')
print("Newly inserted fruit is: ", fruits[4])

Second fruit changed to:  orange
['banana', 'pears', 'berries', 'orange', 'apple', 4, 5, True]
Range of fruits 1:2 is changed to:  ['pears', 'berries']
['banana', 'melon', 'berries', 'orange', 'apple', 4, 5, True]
Range of fruits 1:2 is changed to:  ['melon', 'berries']
Newly inserted fruit is:  kinu

4. Add list items

In [ ]:
fruits.append('grapes') # Append item to fruits list
print("Appended fruit to fruits list: ",fruits[-1])

fruits.insert(5, 'peaches') # Insert at a particular index in the list
print("Inserted fruit to fruits list: ", fruits[5])

meal = fruits
meal.extend(veggies) # Append items of other list to the current list
print("Fruits + Veggies: ", meal)

fruit_tuple = ('watermelon', 'green apple')
meal.extend(fruit_tuple) # .extend() can append any iterable: tuple, dictionary, list, sets, etc.
print("List Meal + Tuple fruit_tuple :", meal)

Appended fruit to fruits list:  grapes
Inserted fruit to fruits list:  peaches
Fruits + Veggies:  ['banana', 'melon', 'berries', 'orange', 'kinu', 'peaches', 'peaches', 'peaches', 'peaches', 'peaches', 'peaches', 'apple', 4, 5, True, 'grapes', 'grapes', 'grapes', 'carrots', 'onions', 'capsicum', 'beans', 'tomato', 'grapes', 'carrots', 'onions', 'capsicum', 'beans', 'tomato', 'grapes', 'carrots', 'onions', 'capsicum', 'beans', 'tomato', 'grapes', 'carrots', 'onions', 'capsicum', 'beans', 'tomato', 'grapes', 'carrots', 'onions', 'capsicum', 'beans', 'tomato']
List Meal + Tuple fruit_tuple : ['banana', 'melon', 'berries', 'orange', 'kinu', 'peaches', 'peaches', 'peaches', 'peaches', 'peaches', 'peaches', 'apple', 4, 5, True, 'grapes', 'grapes', 'grapes', 'carrots', 'onions', 'capsicum', 'beans', 'tomato', 'grapes', 'carrots', 'onions', 'capsicum', 'beans', 'tomato', 'grapes', 'carrots', 'onions', 'capsicum', 'beans', 'tomato', 'grapes', 'carrots', 'onions', 'capsicum', 'beans', 'tomato', 'grapes', 'carrots', 'onions', 'capsicum', 'beans', 'tomato', 'watermelon', 'green apple']

5. Remove list item

In [ ]:
fruits.remove('melon') # If more than one occurance are there, then .remove() will remove the first occurance
fruits.pop(4) # If no index is specified, .pop() will remove the last element
del fruits[8] # Remove element at a specific index
del meal # Delete the list entirely
fruits.clear() # Empties the list

6. Loop through a list

In [ ]:
for i in veggies: # Loop though the element
  print (i)

carrots
onions
capsicum
beans
tomato

In [ ]:
for i in range(len(veggies)): # Loop through with index numbers
  print(veggies[i])

carrots
onions
capsicum
beans
tomato

In [ ]:
i = 0
while i < len(veggies):
  print(veggies[i])
  i = i+1

carrots
onions
capsicum
beans
tomato

7. List Comprehension

***expression* for *item* in *iterable* if *condition* == True**

In [ ]:
[print(i) for i in veggies]

carrots
onions
capsicum
beans
tomato

[None, None, None, None, None]

In [ ]:
# Creating a new list based on the values of an old list

new_list = []
for i in veggies:
  if "a" in i:
    new_list.append(i)
print("New list using for loop: ",new_list)

# Using List Comprehension to create a new list based on the element of an old list
new_list_2 = [i for i in veggies if "a" in i]
print("New list using List Comprehension: ",new_list_2)

# Condition ------ A filter which holds when the condition is True
new_list3 = [x for x in veggies if x != "beans"]
print("Condition when veggies is not beans: ", new_list3)

# Iterable ------- Can be any iterable object like a list, tuple, set, dictionary,...
new_list4 = [x for x in veggies]
print("Iterating over veggies list: ", new_list4)

# Expression is the current item in the list, which can be manipulated before adding to the new list
new_list5 = [x.upper() for x in veggies]
print("Expression to add veggies in upper cases: ", new_list5)

# The expression can also contain conditions, not like a filter, but as a way to manipulate the outcome: Return Spring Onion instead of Onion
new_list6 = [x if x != "onions" else "spring onion" for x in veggies]
print("Expression defining Spring Onion instead of Onion: ", new_list6)

New list using for loop:  ['carrots', 'capsicum', 'beans', 'tomato']
New list using List Comprehension:  ['carrots', 'capsicum', 'beans', 'tomato']
Condition when veggies is not beans:  ['carrots', 'onions', 'capsicum', 'tomato']
Iterating over veggies list:  ['carrots', 'onions', 'capsicum', 'beans', 'tomato']
Expression to add veggies in upper cases:  ['CARROTS', 'ONIONS', 'CAPSICUM', 'BEANS', 'TOMATO']
Expression defining Spring Onion instead of Onion:  ['carrots', 'spring onion', 'capsicum', 'beans', 'tomato']

8. Sort List

In [ ]:
veggies.sort() # Sort Ascending
print("Alphanumerically sorted list, Ascending: ", veggies)

veggies.sort(reverse= True) # Sort Descending
print("Alphanumerically sorted list, Descending: ", veggies)

veggies.reverse() # Reverse the order of the list regardless of the alphabets of the elements
print("Reversed order of the list: ", veggies)

Alphanumerically sorted list, Ascending:  ['beans', 'capsicum', 'carrots', 'onions', 'tomato']
Alphanumerically sorted list, Descending:  ['tomato', 'onions', 'carrots', 'capsicum', 'beans']
Reversed order of the list:  ['beans', 'capsicum', 'carrots', 'onions', 'tomato']

9. Copy list

**You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.**

In [ ]:
meal1 = veggies.copy() # Using .copy() method
print("List Veggies copied to list Meal: ", meal)

meal2 = list(veggies) # Using list()
print("Creating new list Meal 2 using elements of list Veggies: ", meal2)

meal3 = veggies[:]
print("Creating new list Meal 3 using slice (:) operator: ", meal3)

List Veggies copied to list Meal:  ['beans', 'capsicum', 'carrots', 'onions', 'tomato']
Creating new list Meal 2 using elements of list Veggies:  ['beans', 'capsicum', 'carrots', 'onions', 'tomato']
Creating new list Meal 3 using slice (:) operator:  ['beans', 'capsicum', 'carrots', 'onions', 'tomato']

10. Join Lists

In [ ]:
new_list7 = veggies + meal3 # Using + Operator
print("Concatenating two lists using + operator: ", new_list7)

for i in meal: # Append each element from the old list to the new list
  new_list7.append(i)
print("Append each element from the old list to the new list: ", new_list7)

meal.extend(new_list7) # Using .extend()
print("Extending the list with another list using .extend() :", meal)

Concatenating two lists using + operator:  ['beans', 'capsicum', 'carrots', 'onions', 'tomato', 'beans', 'capsicum', 'carrots', 'onions', 'tomato']
Append each element from the old list to the new list:  ['beans', 'capsicum', 'carrots', 'onions', 'tomato', 'beans', 'capsicum', 'carrots', 'onions', 'tomato', 'beans', 'capsicum', 'carrots', 'onions', 'tomato']
Extending the list with another list using .extend() : ['beans', 'capsicum', 'carrots', 'onions', 'tomato', 'beans', 'capsicum', 'carrots', 'onions', 'tomato', 'beans', 'capsicum', 'carrots', 'onions', 'tomato', 'beans', 'capsicum', 'carrots', 'onions', 'tomato']

# Exercises

1. Write a Python program to sum all the items in a list.

In [ ]:
list1 = [1,2,3,4,5]
sum1 = 0

# for loop
for l in list1:
  sum1 += l
print("For loop: ",sum1)

# list comprehension
sum_value = sum([l for l in list1])
print("List Comprehension: ",sum_value)

# sum function
print("Simplified sum function: ", sum(list1))

For loop:  15
List Comprehension:  15
Simplified sum function:  15

2. Write a Python program to multiply all the items in a list.

In [ ]:
# for loop

product1 = 1
for l in list1:
  product1 = product1 * l
print("For loop: ", product1)

# List comprehension / Simplified
import math
product2 = math.prod(list1)
print("List Comprehension/ Simplified: ", product2)

For loop:  120
List Comprehension/ Simplified:  120

3. Write a Python program to get the largest number from a list.

In [ ]:
list2 = [45,73,98,54,12]

#Using sort
list2.sort()
list2.reverse()
print("Largest Number: ", list2[0])

#Using loop
def max_list(list):
  max = list2[0]
  for a in list2:
    if a > max:
      max = a
  return max

print("Using loop: ", max_list(list2))

Largest Number:  98
Using loop:  98

4. Write a Python program to get the smallest number from a list.

In [ ]:
list3 = [34,12,5,89,20]

#Using sort
list3.sort()
print("Smallest Number: ", list3[0])

#Using loop

def min_list(list):
  min = list3[0]
  for a in list3:
    if a < min:
      min = a
  return min
print("Min using loop: ", min_list(list3))

Smallest Number:  5
Min using loop:  5

5. Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2

In [ ]:
Sample_list = ['abc', 'xyz', 'aba', '1221']

score = 0

for l in Sample_list:
   if len(l)>1 and l[0] == l[-1]:
      score += 1

print(score)

2

6. Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.
Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
Sample_list1 = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

sorted_list = sorted(Sample_list1, key = lambda x:x[-1])

print(sorted_list)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

7. Write a Python program to remove duplicates from a list.

In [ ]:
list4 = [2,5,3,6,2,6,2,5,3,6]
unique_list = []

for l in list4:
  if l not in unique_list:
    unique_list.append(l)
print(unique_list)

[2, 5, 3, 6]

8. Write a Python program to check if a list is empty or not.

In [ ]:
def empty_check(list):
  if len(list) == 0:
    print("Empty")
  else:
    print("Not Empty")
em = []
empty_check(list4)
empty_check(em)

Not Empty
Empty

9. Write a Python program to clone or copy a list.

In [ ]:
def clone_list(list):
  clone = []
  for l in list:
    clone.append(l)
  return clone

print("Cloned List: ", clone_list(list3))

Cloned List:  [5, 12, 20, 34, 89]

10. Write a Python program to find the list of words that are longer than n from a given list of words.

In [ ]:
words1 = ['abc', 'xyxz', 'ad', 'a', 'ghsgj']

def wcount(list, n):
  word2 = []
  for l in list:
    if len(l) < n:
      word2.append(l)
  return word2

print("Count list: ", wcount(words1, 4))

Count list:  ['abc', 'ad', 'a']

11. Write a Python function that takes two lists and returns True if they have at least one common member.

In [ ]:
def common_list(list1 = [],list2 = []):
  for l in list1:
    if l in list2:
        return True
    else:
        return False

l1 = [3,4,2,4,3]
l2 = [9,8,5,0,3]

print("List Common: ", common_list(l1, l2))

List Common:  True

12. Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
Expected Output : ['Green', 'White', 'Black']

In [ ]:
Sample_List = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

def remove_ele(list1 = []):
  del list1[5]
  del list1[4]
  del list1[0]
  return list1

print("List after removal: ", remove_ele(Sample_List))

List after removal:  ['Green', 'White', 'Black']

13. Write a Python program to generate a 3 x 4 x 6 3D array whose each element is *.

In [ ]:
array3d = [[['*' for _ in range(6)] for _ in range(4)] for _ in range(3)]

for l in array3d:
  print(l)

[['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']]
[['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']]
[['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']]

14. Write a Python program to print the numbers of a specified list after removing even numbers from it.

In [ ]:
def remove_even(list1 = []):
  odd_list = []
  for l in list1:
    if l % 2 != 0:
      odd_list.append(l)
  return odd_list

list5 = [3,2,5,4,7,6]

print("List after removing even: ", remove_even(list5))

List after removing even:  [3, 5, 7]

15. Write a Python program to shuffle and print a specified list.

In [ ]:
import random

list6 = [4,5,3,5,2,8,6]
random.shuffle(list6)
print("Shuffled List: ",list6)

Shuffled List:  [8, 3, 5, 4, 5, 6, 2]

16. Write a Python program to generate and print a list of the first and last 5 elements where the values are square numbers between 1 and 30 (both included).

In [ ]:
square_list = []
i = 0

for i in range(30):
  square_list.append(i*i)

five_list = square_list[:5] + square_list[-5:]

print("First and Last five elements list: ", five_list)

First and Last five elements list:  [0, 1, 4, 9, 16, 625, 676, 729, 784, 841]

17. Write a Python program to check if each number is prime in a given list of numbers. Return True if all numbers are prime otherwise False.
Sample Data:
([0, 3, 4, 7, 9]) -> False
([3, 5, 7, 13]) -> True
([1, 5, 3]) -> False

In [ ]:
from pickle import FALSE
def is_prime(n):
  if n < 2:
    return False
  for i in range(2, int(n**0.5)+1):
    if n % i == 0:
      return False
  return True

def prime_list(numbers):
  return all(is_prime(num) for num in numbers)

print(prime_list([0, 3, 4, 7, 9]))
print(prime_list([3, 5, 7, 13]))
print(prime_list([1, 5, 3]))

False
True
False

 18. Write a  Python program to generate all permutations of a list in Python.

In [ ]:
import itertools

list7 = [3,5,2,7,2,9]

perm_list = list(itertools.permutations(list7))

for perm in perm_list:
  print(perm)

(3, 5, 2, 7, 2, 9)
(3, 5, 2, 7, 9, 2)
(3, 5, 2, 2, 7, 9)
(3, 5, 2, 2, 9, 7)
(3, 5, 2, 9, 7, 2)
(3, 5, 2, 9, 2, 7)
(3, 5, 7, 2, 2, 9)
(3, 5, 7, 2, 9, 2)
(3, 5, 7, 2, 2, 9)
(3, 5, 7, 2, 9, 2)
(3, 5, 7, 9, 2, 2)
(3, 5, 7, 9, 2, 2)
(3, 5, 2, 2, 7, 9)
(3, 5, 2, 2, 9, 7)
(3, 5, 2, 7, 2, 9)
(3, 5, 2, 7, 9, 2)
(3, 5, 2, 9, 2, 7)
(3, 5, 2, 9, 7, 2)
(3, 5, 9, 2, 7, 2)
(3, 5, 9, 2, 2, 7)
(3, 5, 9, 7, 2, 2)
(3, 5, 9, 7, 2, 2)
(3, 5, 9, 2, 2, 7)
(3, 5, 9, 2, 7, 2)
(3, 2, 5, 7, 2, 9)
(3, 2, 5, 7, 9, 2)
(3, 2, 5, 2, 7, 9)
(3, 2, 5, 2, 9, 7)
(3, 2, 5, 9, 7, 2)
(3, 2, 5, 9, 2, 7)
(3, 2, 7, 5, 2, 9)
(3, 2, 7, 5, 9, 2)
(3, 2, 7, 2, 5, 9)
(3, 2, 7, 2, 9, 5)
(3, 2, 7, 9, 5, 2)
(3, 2, 7, 9, 2, 5)
(3, 2, 2, 5, 7, 9)
(3, 2, 2, 5, 9, 7)
(3, 2, 2, 7, 5, 9)
(3, 2, 2, 7, 9, 5)
(3, 2, 2, 9, 5, 7)
(3, 2, 2, 9, 7, 5)
(3, 2, 9, 5, 7, 2)
(3, 2, 9, 5, 2, 7)
(3, 2, 9, 7, 5, 2)
(3, 2, 9, 7, 2, 5)
(3, 2, 9, 2, 5, 7)
(3, 2, 9, 2, 7, 5)
(3, 7, 5, 2, 2, 9)
(3, 7, 5, 2, 9, 2)
(3, 7, 5, 2, 2, 9)
(3, 7, 5, 2, 9, 2)
(3, 7, 5, 9, 2, 2)
(3, 7, 5, 9, 2, 2)
(3, 7, 2, 5, 2, 9)
(3, 7, 2, 5, 9, 2)
(3, 7, 2, 2, 5, 9)
(3, 7, 2, 2, 9, 5)
(3, 7, 2, 9, 5, 2)
(3, 7, 2, 9, 2, 5)
(3, 7, 2, 5, 2, 9)
(3, 7, 2, 5, 9, 2)
(3, 7, 2, 2, 5, 9)
(3, 7, 2, 2, 9, 5)
(3, 7, 2, 9, 5, 2)
(3, 7, 2, 9, 2, 5)
(3, 7, 9, 5, 2, 2)
(3, 7, 9, 5, 2, 2)
(3, 7, 9, 2, 5, 2)
(3, 7, 9, 2, 2, 5)
(3, 7, 9, 2, 5, 2)
(3, 7, 9, 2, 2, 5)
(3, 2, 5, 2, 7, 9)
(3, 2, 5, 2, 9, 7)
(3, 2, 5, 7, 2, 9)
(3, 2, 5, 7, 9, 2)
(3, 2, 5, 9, 2, 7)
(3, 2, 5, 9, 7, 2)
(3, 2, 2, 5, 7, 9)
(3, 2, 2, 5, 9, 7)
(3, 2, 2, 7, 5, 9)
(3, 2, 2, 7, 9, 5)
(3, 2, 2, 9, 5, 7)
(3, 2, 2, 9, 7, 5)
(3, 2, 7, 5, 2, 9)
(3, 2, 7, 5, 9, 2)
(3, 2, 7, 2, 5, 9)
(3, 2, 7, 2, 9, 5)
(3, 2, 7, 9, 5, 2)
(3, 2, 7, 9, 2, 5)
(3, 2, 9, 5, 2, 7)
(3, 2, 9, 5, 7, 2)
(3, 2, 9, 2, 5, 7)
(3, 2, 9, 2, 7, 5)
(3, 2, 9, 7, 5, 2)
(3, 2, 9, 7, 2, 5)
(3, 9, 5, 2, 7, 2)
(3, 9, 5, 2, 2, 7)
(3, 9, 5, 7, 2, 2)
(3, 9, 5, 7, 2, 2)
(3, 9, 5, 2, 2, 7)
(3, 9, 5, 2, 7, 2)
(3, 9, 2, 5, 7, 2)
(3, 9, 2, 5, 2, 7)
(3, 9, 2, 7, 5, 2)
(3, 9, 2, 7, 2, 5)
(3, 9, 2, 2, 5, 7)
(3, 9, 2, 2, 7, 5)
(3, 9, 7, 5, 2, 2)
(3, 9, 7, 5, 2, 2)
(3, 9, 7, 2, 5, 2)
(3, 9, 7, 2, 2, 5)
(3, 9, 7, 2, 5, 2)
(3, 9, 7, 2, 2, 5)
(3, 9, 2, 5, 2, 7)
(3, 9, 2, 5, 7, 2)
(3, 9, 2, 2, 5, 7)
(3, 9, 2, 2, 7, 5)
(3, 9, 2, 7, 5, 2)
(3, 9, 2, 7, 2, 5)
(5, 3, 2, 7, 2, 9)
(5, 3, 2, 7, 9, 2)
(5, 3, 2, 2, 7, 9)
(5, 3, 2, 2, 9, 7)
(5, 3, 2, 9, 7, 2)
(5, 3, 2, 9, 2, 7)
(5, 3, 7, 2, 2, 9)
(5, 3, 7, 2, 9, 2)
(5, 3, 7, 2, 2, 9)
(5, 3, 7, 2, 9, 2)
(5, 3, 7, 9, 2, 2)
(5, 3, 7, 9, 2, 2)
(5, 3, 2, 2, 7, 9)
(5, 3, 2, 2, 9, 7)
(5, 3, 2, 7, 2, 9)
(5, 3, 2, 7, 9, 2)
(5, 3, 2, 9, 2, 7)
(5, 3, 2, 9, 7, 2)
(5, 3, 9, 2, 7, 2)
(5, 3, 9, 2, 2, 7)
(5, 3, 9, 7, 2, 2)
(5, 3, 9, 7, 2, 2)
(5, 3, 9, 2, 2, 7)
(5, 3, 9, 2, 7, 2)
(5, 2, 3, 7, 2, 9)
(5, 2, 3, 7, 9, 2)
(5, 2, 3, 2, 7, 9)
(5, 2, 3, 2, 9, 7)
(5, 2, 3, 9, 7, 2)
(5, 2, 3, 9, 2, 7)
(5, 2, 7, 3, 2, 9)
(5, 2, 7, 3, 9, 2)
(5, 2, 7, 2, 3, 9)
(5, 2, 7, 2, 9, 3)
(5, 2, 7, 9, 3, 2)
(5, 2, 7, 9, 2, 3)
(5, 2, 2, 3, 7, 9)
(5, 2, 2, 3, 9, 7)
(5, 2, 2, 7, 3, 9)
(5, 2, 2, 7, 9, 3)
(5, 2, 2, 9, 3, 7)
(5, 2, 2, 9, 7, 3)
(5, 2, 9, 3, 7, 2)
(5, 2, 9, 3, 2, 7)
(5, 2, 9, 7, 3, 2)
(5, 2, 9, 7, 2, 3)
(5, 2, 9, 2, 3, 7)
(5, 2, 9, 2, 7, 3)
(5, 7, 3, 2, 2, 9)
(5, 7, 3, 2, 9, 2)
(5, 7, 3, 2, 2, 9)
(5, 7, 3, 2, 9, 2)
(5, 7, 3, 9, 2, 2)
(5, 7, 3, 9, 2, 2)
(5, 7, 2, 3, 2, 9)
(5, 7, 2, 3, 9, 2)
(5, 7, 2, 2, 3, 9)
(5, 7, 2, 2, 9, 3)
(5, 7, 2, 9, 3, 2)
(5, 7, 2, 9, 2, 3)
(5, 7, 2, 3, 2, 9)
(5, 7, 2, 3, 9, 2)
(5, 7, 2, 2, 3, 9)
(5, 7, 2, 2, 9, 3)
(5, 7, 2, 9, 3, 2)
(5, 7, 2, 9, 2, 3)
(5, 7, 9, 3, 2, 2)
(5, 7, 9, 3, 2, 2)
(5, 7, 9, 2, 3, 2)
(5, 7, 9, 2, 2, 3)
(5, 7, 9, 2, 3, 2)
(5, 7, 9, 2, 2, 3)
(5, 2, 3, 2, 7, 9)
(5, 2, 3, 2, 9, 7)
(5, 2, 3, 7, 2, 9)
(5, 2, 3, 7, 9, 2)
(5, 2, 3, 9, 2, 7)
(5, 2, 3, 9, 7, 2)
(5, 2, 2, 3, 7, 9)
(5, 2, 2, 3, 9, 7)
(5, 2, 2, 7, 3, 9)
(5, 2, 2, 7, 9, 3)
(5, 2, 2, 9, 3, 7)
(5, 2, 2, 9, 7, 3)
(5, 2, 7, 3, 2, 9)
(5, 2, 7, 3, 9, 2)
(5, 2, 7, 2, 3, 9)
(5, 2, 7, 2, 9, 3)
(5, 2, 7, 9, 3, 2)
(5, 2, 7, 9, 2, 3)
(5, 2, 9, 3, 2, 7)
(5, 2, 9, 3, 7, 2)
(5, 2, 9, 2, 3, 7)
(5, 2, 9, 2, 7, 3)
(5, 2, 9, 7, 3, 2)
(5, 2, 9, 7, 2, 3)
(5, 9, 3, 2, 7, 2)
(5, 9, 3, 2, 2, 7)
(5, 9, 3, 7, 2, 2)
(5, 9, 3, 7, 2, 2)
(5, 9, 3, 2, 2, 7)
(5, 9, 3, 2, 7, 2)
(5, 9, 2, 3, 7, 2)
(5, 9, 2, 3, 2, 7)
(5, 9, 2, 7, 3, 2)
(5, 9, 2, 7, 2, 3)
(5, 9, 2, 2, 3, 7)
(5, 9, 2, 2, 7, 3)
(5, 9, 7, 3, 2, 2)
(5, 9, 7, 3, 2, 2)
(5, 9, 7, 2, 3, 2)
(5, 9, 7, 2, 2, 3)
(5, 9, 7, 2, 3, 2)
(5, 9, 7, 2, 2, 3)
(5, 9, 2, 3, 2, 7)
(5, 9, 2, 3, 7, 2)
(5, 9, 2, 2, 3, 7)
(5, 9, 2, 2, 7, 3)
(5, 9, 2, 7, 3, 2)
(5, 9, 2, 7, 2, 3)
(2, 3, 5, 7, 2, 9)
(2, 3, 5, 7, 9, 2)
(2, 3, 5, 2, 7, 9)
(2, 3, 5, 2, 9, 7)
(2, 3, 5, 9, 7, 2)
(2, 3, 5, 9, 2, 7)
(2, 3, 7, 5, 2, 9)
(2, 3, 7, 5, 9, 2)
(2, 3, 7, 2, 5, 9)
(2, 3, 7, 2, 9, 5)
(2, 3, 7, 9, 5, 2)
(2, 3, 7, 9, 2, 5)
(2, 3, 2, 5, 7, 9)
(2, 3, 2, 5, 9, 7)
(2, 3, 2, 7, 5, 9)
(2, 3, 2, 7, 9, 5)
(2, 3, 2, 9, 5, 7)
(2, 3, 2, 9, 7, 5)
(2, 3, 9, 5, 7, 2)
(2, 3, 9, 5, 2, 7)
(2, 3, 9, 7, 5, 2)
(2, 3, 9, 7, 2, 5)
(2, 3, 9, 2, 5, 7)
(2, 3, 9, 2, 7, 5)
(2, 5, 3, 7, 2, 9)
(2, 5, 3, 7, 9, 2)
(2, 5, 3, 2, 7, 9)
(2, 5, 3, 2, 9, 7)
(2, 5, 3, 9, 7, 2)
(2, 5, 3, 9, 2, 7)
(2, 5, 7, 3, 2, 9)
(2, 5, 7, 3, 9, 2)
(2, 5, 7, 2, 3, 9)
(2, 5, 7, 2, 9, 3)
(2, 5, 7, 9, 3, 2)
(2, 5, 7, 9, 2, 3)
(2, 5, 2, 3, 7, 9)
(2, 5, 2, 3, 9, 7)
(2, 5, 2, 7, 3, 9)
(2, 5, 2, 7, 9, 3)
(2, 5, 2, 9, 3, 7)
(2, 5, 2, 9, 7, 3)
(2, 5, 9, 3, 7, 2)
(2, 5, 9, 3, 2, 7)
(2, 5, 9, 7, 3, 2)
(2, 5, 9, 7, 2, 3)
(2, 5, 9, 2, 3, 7)
(2, 5, 9, 2, 7, 3)
(2, 7, 3, 5, 2, 9)
(2, 7, 3, 5, 9, 2)
(2, 7, 3, 2, 5, 9)
(2, 7, 3, 2, 9, 5)
(2, 7, 3, 9, 5, 2)
(2, 7, 3, 9, 2, 5)
(2, 7, 5, 3, 2, 9)
(2, 7, 5, 3, 9, 2)
(2, 7, 5, 2, 3, 9)
(2, 7, 5, 2, 9, 3)
(2, 7, 5, 9, 3, 2)
(2, 7, 5, 9, 2, 3)
(2, 7, 2, 3, 5, 9)
(2, 7, 2, 3, 9, 5)
(2, 7, 2, 5, 3, 9)
(2, 7, 2, 5, 9, 3)
(2, 7, 2, 9, 3, 5)
(2, 7, 2, 9, 5, 3)
(2, 7, 9, 3, 5, 2)
(2, 7, 9, 3, 2, 5)
(2, 7, 9, 5, 3, 2)
(2, 7, 9, 5, 2, 3)
(2, 7, 9, 2, 3, 5)
(2, 7, 9, 2, 5, 3)
(2, 2, 3, 5, 7, 9)
(2, 2, 3, 5, 9, 7)
(2, 2, 3, 7, 5, 9)
(2, 2, 3, 7, 9, 5)
(2, 2, 3, 9, 5, 7)
(2, 2, 3, 9, 7, 5)
(2, 2, 5, 3, 7, 9)
(2, 2, 5, 3, 9, 7)
(2, 2, 5, 7, 3, 9)
(2, 2, 5, 7, 9, 3)
(2, 2, 5, 9, 3, 7)
(2, 2, 5, 9, 7, 3)
(2, 2, 7, 3, 5, 9)
(2, 2, 7, 3, 9, 5)
(2, 2, 7, 5, 3, 9)
(2, 2, 7, 5, 9, 3)
(2, 2, 7, 9, 3, 5)
(2, 2, 7, 9, 5, 3)
(2, 2, 9, 3, 5, 7)
(2, 2, 9, 3, 7, 5)
(2, 2, 9, 5, 3, 7)
(2, 2, 9, 5, 7, 3)
(2, 2, 9, 7, 3, 5)
(2, 2, 9, 7, 5, 3)
(2, 9, 3, 5, 7, 2)
(2, 9, 3, 5, 2, 7)
(2, 9, 3, 7, 5, 2)
(2, 9, 3, 7, 2, 5)
(2, 9, 3, 2, 5, 7)
(2, 9, 3, 2, 7, 5)
(2, 9, 5, 3, 7, 2)
(2, 9, 5, 3, 2, 7)
(2, 9, 5, 7, 3, 2)
(2, 9, 5, 7, 2, 3)
(2, 9, 5, 2, 3, 7)
(2, 9, 5, 2, 7, 3)
(2, 9, 7, 3, 5, 2)
(2, 9, 7, 3, 2, 5)
(2, 9, 7, 5, 3, 2)
(2, 9, 7, 5, 2, 3)
(2, 9, 7, 2, 3, 5)
(2, 9, 7, 2, 5, 3)
(2, 9, 2, 3, 5, 7)
(2, 9, 2, 3, 7, 5)
(2, 9, 2, 5, 3, 7)
(2, 9, 2, 5, 7, 3)
(2, 9, 2, 7, 3, 5)
(2, 9, 2, 7, 5, 3)
(7, 3, 5, 2, 2, 9)
(7, 3, 5, 2, 9, 2)
(7, 3, 5, 2, 2, 9)
(7, 3, 5, 2, 9, 2)
(7, 3, 5, 9, 2, 2)
(7, 3, 5, 9, 2, 2)
(7, 3, 2, 5, 2, 9)
(7, 3, 2, 5, 9, 2)
(7, 3, 2, 2, 5, 9)
(7, 3, 2, 2, 9, 5)
(7, 3, 2, 9, 5, 2)
(7, 3, 2, 9, 2, 5)
(7, 3, 2, 5, 2, 9)
(7, 3, 2, 5, 9, 2)
(7, 3, 2, 2, 5, 9)
(7, 3, 2, 2, 9, 5)
(7, 3, 2, 9, 5, 2)
(7, 3, 2, 9, 2, 5)
(7, 3, 9, 5, 2, 2)
(7, 3, 9, 5, 2, 2)
(7, 3, 9, 2, 5, 2)
(7, 3, 9, 2, 2, 5)
(7, 3, 9, 2, 5, 2)
(7, 3, 9, 2, 2, 5)
(7, 5, 3, 2, 2, 9)
(7, 5, 3, 2, 9, 2)
(7, 5, 3, 2, 2, 9)
(7, 5, 3, 2, 9, 2)
(7, 5, 3, 9, 2, 2)
(7, 5, 3, 9, 2, 2)
(7, 5, 2, 3, 2, 9)
(7, 5, 2, 3, 9, 2)
(7, 5, 2, 2, 3, 9)
(7, 5, 2, 2, 9, 3)
(7, 5, 2, 9, 3, 2)
(7, 5, 2, 9, 2, 3)
(7, 5, 2, 3, 2, 9)
(7, 5, 2, 3, 9, 2)
(7, 5, 2, 2, 3, 9)
(7, 5, 2, 2, 9, 3)
(7, 5, 2, 9, 3, 2)
(7, 5, 2, 9, 2, 3)
(7, 5, 9, 3, 2, 2)
(7, 5, 9, 3, 2, 2)
(7, 5, 9, 2, 3, 2)
(7, 5, 9, 2, 2, 3)
(7, 5, 9, 2, 3, 2)
(7, 5, 9, 2, 2, 3)
(7, 2, 3, 5, 2, 9)
(7, 2, 3, 5, 9, 2)
(7, 2, 3, 2, 5, 9)
(7, 2, 3, 2, 9, 5)
(7, 2, 3, 9, 5, 2)
(7, 2, 3, 9, 2, 5)
(7, 2, 5, 3, 2, 9)
(7, 2, 5, 3, 9, 2)
(7, 2, 5, 2, 3, 9)
(7, 2, 5, 2, 9, 3)
(7, 2, 5, 9, 3, 2)
(7, 2, 5, 9, 2, 3)
(7, 2, 2, 3, 5, 9)
(7, 2, 2, 3, 9, 5)
(7, 2, 2, 5, 3, 9)
(7, 2, 2, 5, 9, 3)
(7, 2, 2, 9, 3, 5)
(7, 2, 2, 9, 5, 3)
(7, 2, 9, 3, 5, 2)
(7, 2, 9, 3, 2, 5)
(7, 2, 9, 5, 3, 2)
(7, 2, 9, 5, 2, 3)
(7, 2, 9, 2, 3, 5)
(7, 2, 9, 2, 5, 3)
(7, 2, 3, 5, 2, 9)
(7, 2, 3, 5, 9, 2)
(7, 2, 3, 2, 5, 9)
(7, 2, 3, 2, 9, 5)
(7, 2, 3, 9, 5, 2)
(7, 2, 3, 9, 2, 5)
(7, 2, 5, 3, 2, 9)
(7, 2, 5, 3, 9, 2)
(7, 2, 5, 2, 3, 9)
(7, 2, 5, 2, 9, 3)
(7, 2, 5, 9, 3, 2)
(7, 2, 5, 9, 2, 3)
(7, 2, 2, 3, 5, 9)
(7, 2, 2, 3, 9, 5)
(7, 2, 2, 5, 3, 9)
(7, 2, 2, 5, 9, 3)
(7, 2, 2, 9, 3, 5)
(7, 2, 2, 9, 5, 3)
(7, 2, 9, 3, 5, 2)
(7, 2, 9, 3, 2, 5)
(7, 2, 9, 5, 3, 2)
(7, 2, 9, 5, 2, 3)
(7, 2, 9, 2, 3, 5)
(7, 2, 9, 2, 5, 3)
(7, 9, 3, 5, 2, 2)
(7, 9, 3, 5, 2, 2)
(7, 9, 3, 2, 5, 2)
(7, 9, 3, 2, 2, 5)
(7, 9, 3, 2, 5, 2)
(7, 9, 3, 2, 2, 5)
(7, 9, 5, 3, 2, 2)
(7, 9, 5, 3, 2, 2)
(7, 9, 5, 2, 3, 2)
(7, 9, 5, 2, 2, 3)
(7, 9, 5, 2, 3, 2)
(7, 9, 5, 2, 2, 3)
(7, 9, 2, 3, 5, 2)
(7, 9, 2, 3, 2, 5)
(7, 9, 2, 5, 3, 2)
(7, 9, 2, 5, 2, 3)
(7, 9, 2, 2, 3, 5)
(7, 9, 2, 2, 5, 3)
(7, 9, 2, 3, 5, 2)
(7, 9, 2, 3, 2, 5)
(7, 9, 2, 5, 3, 2)
(7, 9, 2, 5, 2, 3)
(7, 9, 2, 2, 3, 5)
(7, 9, 2, 2, 5, 3)
(2, 3, 5, 2, 7, 9)
(2, 3, 5, 2, 9, 7)
(2, 3, 5, 7, 2, 9)
(2, 3, 5, 7, 9, 2)
(2, 3, 5, 9, 2, 7)
(2, 3, 5, 9, 7, 2)
(2, 3, 2, 5, 7, 9)
(2, 3, 2, 5, 9, 7)
(2, 3, 2, 7, 5, 9)
(2, 3, 2, 7, 9, 5)
(2, 3, 2, 9, 5, 7)
(2, 3, 2, 9, 7, 5)
(2, 3, 7, 5, 2, 9)
(2, 3, 7, 5, 9, 2)
(2, 3, 7, 2, 5, 9)
(2, 3, 7, 2, 9, 5)
(2, 3, 7, 9, 5, 2)
(2, 3, 7, 9, 2, 5)
(2, 3, 9, 5, 2, 7)
(2, 3, 9, 5, 7, 2)
(2, 3, 9, 2, 5, 7)
(2, 3, 9, 2, 7, 5)
(2, 3, 9, 7, 5, 2)
(2, 3, 9, 7, 2, 5)
(2, 5, 3, 2, 7, 9)
(2, 5, 3, 2, 9, 7)
(2, 5, 3, 7, 2, 9)
(2, 5, 3, 7, 9, 2)
(2, 5, 3, 9, 2, 7)
(2, 5, 3, 9, 7, 2)
(2, 5, 2, 3, 7, 9)
(2, 5, 2, 3, 9, 7)
(2, 5, 2, 7, 3, 9)
(2, 5, 2, 7, 9, 3)
(2, 5, 2, 9, 3, 7)
(2, 5, 2, 9, 7, 3)
(2, 5, 7, 3, 2, 9)
(2, 5, 7, 3, 9, 2)
(2, 5, 7, 2, 3, 9)
(2, 5, 7, 2, 9, 3)
(2, 5, 7, 9, 3, 2)
(2, 5, 7, 9, 2, 3)
(2, 5, 9, 3, 2, 7)
(2, 5, 9, 3, 7, 2)
(2, 5, 9, 2, 3, 7)
(2, 5, 9, 2, 7, 3)
(2, 5, 9, 7, 3, 2)
(2, 5, 9, 7, 2, 3)
(2, 2, 3, 5, 7, 9)
(2, 2, 3, 5, 9, 7)
(2, 2, 3, 7, 5, 9)
(2, 2, 3, 7, 9, 5)
(2, 2, 3, 9, 5, 7)
(2, 2, 3, 9, 7, 5)
(2, 2, 5, 3, 7, 9)
(2, 2, 5, 3, 9, 7)
(2, 2, 5, 7, 3, 9)
(2, 2, 5, 7, 9, 3)
(2, 2, 5, 9, 3, 7)
(2, 2, 5, 9, 7, 3)
(2, 2, 7, 3, 5, 9)
(2, 2, 7, 3, 9, 5)
(2, 2, 7, 5, 3, 9)
(2, 2, 7, 5, 9, 3)
(2, 2, 7, 9, 3, 5)
(2, 2, 7, 9, 5, 3)
(2, 2, 9, 3, 5, 7)
(2, 2, 9, 3, 7, 5)
(2, 2, 9, 5, 3, 7)
(2, 2, 9, 5, 7, 3)
(2, 2, 9, 7, 3, 5)
(2, 2, 9, 7, 5, 3)
(2, 7, 3, 5, 2, 9)
(2, 7, 3, 5, 9, 2)
(2, 7, 3, 2, 5, 9)
(2, 7, 3, 2, 9, 5)
(2, 7, 3, 9, 5, 2)
(2, 7, 3, 9, 2, 5)
(2, 7, 5, 3, 2, 9)
(2, 7, 5, 3, 9, 2)
(2, 7, 5, 2, 3, 9)
(2, 7, 5, 2, 9, 3)
(2, 7, 5, 9, 3, 2)
(2, 7, 5, 9, 2, 3)
(2, 7, 2, 3, 5, 9)
(2, 7, 2, 3, 9, 5)
(2, 7, 2, 5, 3, 9)
(2, 7, 2, 5, 9, 3)
(2, 7, 2, 9, 3, 5)
(2, 7, 2, 9, 5, 3)
(2, 7, 9, 3, 5, 2)
(2, 7, 9, 3, 2, 5)
(2, 7, 9, 5, 3, 2)
(2, 7, 9, 5, 2, 3)
(2, 7, 9, 2, 3, 5)
(2, 7, 9, 2, 5, 3)
(2, 9, 3, 5, 2, 7)
(2, 9, 3, 5, 7, 2)
(2, 9, 3, 2, 5, 7)
(2, 9, 3, 2, 7, 5)
(2, 9, 3, 7, 5, 2)
(2, 9, 3, 7, 2, 5)
(2, 9, 5, 3, 2, 7)
(2, 9, 5, 3, 7, 2)
(2, 9, 5, 2, 3, 7)
(2, 9, 5, 2, 7, 3)
(2, 9, 5, 7, 3, 2)
(2, 9, 5, 7, 2, 3)
(2, 9, 2, 3, 5, 7)
(2, 9, 2, 3, 7, 5)
(2, 9, 2, 5, 3, 7)
(2, 9, 2, 5, 7, 3)
(2, 9, 2, 7, 3, 5)
(2, 9, 2, 7, 5, 3)
(2, 9, 7, 3, 5, 2)
(2, 9, 7, 3, 2, 5)
(2, 9, 7, 5, 3, 2)
(2, 9, 7, 5, 2, 3)
(2, 9, 7, 2, 3, 5)
(2, 9, 7, 2, 5, 3)
(9, 3, 5, 2, 7, 2)
(9, 3, 5, 2, 2, 7)
(9, 3, 5, 7, 2, 2)
(9, 3, 5, 7, 2, 2)
(9, 3, 5, 2, 2, 7)
(9, 3, 5, 2, 7, 2)
(9, 3, 2, 5, 7, 2)
(9, 3, 2, 5, 2, 7)
(9, 3, 2, 7, 5, 2)
(9, 3, 2, 7, 2, 5)
(9, 3, 2, 2, 5, 7)
(9, 3, 2, 2, 7, 5)
(9, 3, 7, 5, 2, 2)
(9, 3, 7, 5, 2, 2)
(9, 3, 7, 2, 5, 2)
(9, 3, 7, 2, 2, 5)
(9, 3, 7, 2, 5, 2)
(9, 3, 7, 2, 2, 5)
(9, 3, 2, 5, 2, 7)
(9, 3, 2, 5, 7, 2)
(9, 3, 2, 2, 5, 7)
(9, 3, 2, 2, 7, 5)
(9, 3, 2, 7, 5, 2)
(9, 3, 2, 7, 2, 5)
(9, 5, 3, 2, 7, 2)
(9, 5, 3, 2, 2, 7)
(9, 5, 3, 7, 2, 2)
(9, 5, 3, 7, 2, 2)
(9, 5, 3, 2, 2, 7)
(9, 5, 3, 2, 7, 2)
(9, 5, 2, 3, 7, 2)
(9, 5, 2, 3, 2, 7)
(9, 5, 2, 7, 3, 2)
(9, 5, 2, 7, 2, 3)
(9, 5, 2, 2, 3, 7)
(9, 5, 2, 2, 7, 3)
(9, 5, 7, 3, 2, 2)
(9, 5, 7, 3, 2, 2)
(9, 5, 7, 2, 3, 2)
(9, 5, 7, 2, 2, 3)
(9, 5, 7, 2, 3, 2)
(9, 5, 7, 2, 2, 3)
(9, 5, 2, 3, 2, 7)
(9, 5, 2, 3, 7, 2)
(9, 5, 2, 2, 3, 7)
(9, 5, 2, 2, 7, 3)
(9, 5, 2, 7, 3, 2)
(9, 5, 2, 7, 2, 3)
(9, 2, 3, 5, 7, 2)
(9, 2, 3, 5, 2, 7)
(9, 2, 3, 7, 5, 2)
(9, 2, 3, 7, 2, 5)
(9, 2, 3, 2, 5, 7)
(9, 2, 3, 2, 7, 5)
(9, 2, 5, 3, 7, 2)
(9, 2, 5, 3, 2, 7)
(9, 2, 5, 7, 3, 2)
(9, 2, 5, 7, 2, 3)
(9, 2, 5, 2, 3, 7)
(9, 2, 5, 2, 7, 3)
(9, 2, 7, 3, 5, 2)
(9, 2, 7, 3, 2, 5)
(9, 2, 7, 5, 3, 2)
(9, 2, 7, 5, 2, 3)
(9, 2, 7, 2, 3, 5)
(9, 2, 7, 2, 5, 3)
(9, 2, 2, 3, 5, 7)
(9, 2, 2, 3, 7, 5)
(9, 2, 2, 5, 3, 7)
(9, 2, 2, 5, 7, 3)
(9, 2, 2, 7, 3, 5)
(9, 2, 2, 7, 5, 3)
(9, 7, 3, 5, 2, 2)
(9, 7, 3, 5, 2, 2)
(9, 7, 3, 2, 5, 2)
(9, 7, 3, 2, 2, 5)
(9, 7, 3, 2, 5, 2)
(9, 7, 3, 2, 2, 5)
(9, 7, 5, 3, 2, 2)
(9, 7, 5, 3, 2, 2)
(9, 7, 5, 2, 3, 2)
(9, 7, 5, 2, 2, 3)
(9, 7, 5, 2, 3, 2)
(9, 7, 5, 2, 2, 3)
(9, 7, 2, 3, 5, 2)
(9, 7, 2, 3, 2, 5)
(9, 7, 2, 5, 3, 2)
(9, 7, 2, 5, 2, 3)
(9, 7, 2, 2, 3, 5)
(9, 7, 2, 2, 5, 3)
(9, 7, 2, 3, 5, 2)
(9, 7, 2, 3, 2, 5)
(9, 7, 2, 5, 3, 2)
(9, 7, 2, 5, 2, 3)
(9, 7, 2, 2, 3, 5)
(9, 7, 2, 2, 5, 3)
(9, 2, 3, 5, 2, 7)
(9, 2, 3, 5, 7, 2)
(9, 2, 3, 2, 5, 7)
(9, 2, 3, 2, 7, 5)
(9, 2, 3, 7, 5, 2)
(9, 2, 3, 7, 2, 5)
(9, 2, 5, 3, 2, 7)
(9, 2, 5, 3, 7, 2)
(9, 2, 5, 2, 3, 7)
(9, 2, 5, 2, 7, 3)
(9, 2, 5, 7, 3, 2)
(9, 2, 5, 7, 2, 3)
(9, 2, 2, 3, 5, 7)
(9, 2, 2, 3, 7, 5)
(9, 2, 2, 5, 3, 7)
(9, 2, 2, 5, 7, 3)
(9, 2, 2, 7, 3, 5)
(9, 2, 2, 7, 5, 3)
(9, 2, 7, 3, 5, 2)
(9, 2, 7, 3, 2, 5)
(9, 2, 7, 5, 3, 2)
(9, 2, 7, 5, 2, 3)
(9, 2, 7, 2, 3, 5)
(9, 2, 7, 2, 5, 3)

19. Write a Python program to calculate the difference between the two lists.

In [ ]:
list9 = [4,5,6,7,9,12,14]
list10 = [7,9,10,4,6,12,15]

diff_list9_list10 = list(set(list9) - set(list10))
diff_list10_list9 = list(set(list10) - set(list9))

diff_list = diff_list9_list10 + diff_list10_list9

print("Difference in list is: ", diff_list)

Difference in list is:  [5, 14, 10, 15]

20. Write a Python program to access the index of a list.

In [ ]:
list11 = ['apple', 'banana', 'guava', 'grapes', 'pineapple']

for index, element in enumerate(list11):
  print(f"Index: {index}, Element: {element}")

Index: 0, Element: apple
Index: 1, Element: banana
Index: 2, Element: guava
Index: 3, Element: grapes
Index: 4, Element: pineapple

21. Write a Python program to convert a list of characters into a string.

In [ ]:
char_list = ['k','r','i','s','h','u']
s1 =''
for c in char_list:
  s1 += c

print("The string is :", s1)

The string is : krishu

22. Write a Python program to find the index of an item in a specified list.

In [ ]:
list13 = [2,5,1,8,3]
def find_ind(item, list1 = []):
  for l in list1:
    if l == item:
      return list1.index(l)

print("Index of element 5 is: ", find_ind(8, list13))

Index of element 5 is:  3

23. Write a Python program to flatten a shallow list.

In [ ]:
import itertools

original_list = [[1,2,3],[4,5],[7,8,9]]
new_list = list(itertools.chain(*original_list))
print(new_list)

[1, 2, 3, 4, 5, 7, 8, 9]

24. Write a Python program to append a list to the second list.

In [ ]:
def append_list(list1 = [], list2 = []):
  return list1 + list2

l1 = [1,2,3,4]
l2 = [6,7,8,9]

print("Appended list: ", append_list(l1,l2))

Appended list:  [1, 2, 3, 4, 6, 7, 8, 9]

25. Write a Python program to select an item randomly from a list.

In [ ]:
import random

def random_pick(list1 = []):
  i = random.randint(0, len(list1))
  return list1[i]

l3 = [3,5,6,2,7,5]
print("Randomly picked item: ", random_pick(l3))

Randomly picked item:  2

26. Write a Python program to check whether two lists are circularly identical.

In [ ]:
def are_circularly_identical(list1, list2):
    if len(list1) != len(list2):
        return False

    concatenated_list1 = list1 + list1
    return any(list2 == concatenated_list1[i:i+len(list2)] for i in range(len(list1)))

list1 = [1, 2, 3, 4]
list2 = [3, 4, 1, 2]
list3 = [4, 3, 2, 1]

print(are_circularly_identical(list1, list2))  # Output: True
print(are_circularly_identical(list1, list3))  # Output: False

True
False

27. Write a Python program to find the second smallest number in a list.

In [ ]:
list14 = [3,5,9,7,8,1]

def second_smallest(list1 = []):
  list1.sort()
  return list1[1]

print("Second Smallest element: ", second_smallest(list14))

Second Smallest element:  3

28. Write a Python program to find the second largest number in a list.

In [ ]:
def second_largest(list1 = []):
  list1.sort()
  return list1[-2]

print("Second Largest element: ", second_largest(list14))

Second Largest element:  8

29. Write a Python program to get unique values from a list.

In [ ]:
list15 = [1,2,2,4,6,2,4,1,6,3]

def unique_value_list(list1 = []):
  uniquelist = []
  for i in list1:
    if i not in uniquelist:
      uniquelist.append(i)
  return uniquelist

print("Unique Values: ", unique_value_list(list15))

Unique Values:  [1, 2, 4, 6, 3]

30. Write a Python program to get the frequency of elements in a list.

In [ ]:
import collections

ctr = collections.Counter(list15)
print("Frequency of elements: ", ctr)

Frequency of elements:  Counter({2: 3, 1: 2, 4: 2, 6: 2, 3: 1})

31. Write a Python program to count the number of elements in a list within a specified range.

In [ ]:
list16 = [10, 20, 30, 40, 40, 40, 70, 80, 99]

def count_list(minvalue, maxvalue, list1):
  ctr = 0
  for i in list1:
    if minvalue<=i<=maxvalue:
      ctr += 1
  return ctr

print("Element count between 2 and 12 is: ", count_list(20, 80, list16))

Element count between 2 and 12 is:  7

32. Write a Python program to check whether a list contains a sublist.

What is Slicing?
In Python, slicing is a way to access a part of a list. For example, main_list[1:4] gives you a section of main_list starting at index 1 and ending just before index 4.
How Does the Code Work?
Goal: We want to check if a smaller list (the sublist) is fully contained somewhere inside the bigger list (the main list).

The Loop:

We go through the main list and check every possible section of it thats the same length as the sublist.
At each position, we take a "slice" of the main list thats the same size as the sublist and compare it to the sublist.
Slicing:

For example, lets say main_list = [1, 2, 3, 4, 5] and sublist = [3, 4].
The sublist has 2 elements. So we take slices of length 2 from the main list and compare:
First, we check if [1, 2] (first two elements of the main list) matches [3, 4] (sublist). It doesnt.
Then we check if [2, 3] matches [3, 4]. It doesnt.
Then we check if [3, 4] matches [3, 4]. It does! So we return True.
How the Slice Works:

main_list[i:i+len(sublist)] means: "Take a slice of main_list starting from index i, and grab len(sublist) elements from there."
If that slice matches the sublist, we know the sublist is in the main list.

In [ ]:
list17 = [10,20,30, 44]

def sublist_check(list1, list2):
  for i in range(len(list1) - len(list2)):
    if list1[i:i+len(list2)] == list2:
      return True
    return False

print("Sublist Check: ", sublist_check(list16, list17))

Sublist Check:  False

33. Write a Python program to generate all sublists of a list.

In [ ]:
from itertools import combinations

def generate_sublist(list_input):
  sublists = []
  for length in  range(len(list_input) + 1):
    for sublist in combinations(list_input, length):
      sublists.append(list(sublist))
  return sublists

input_list = [1,2,3]
sublists = generate_sublist(input_list)
print("All sublists are: ")
for s in sublists:
  print(s)

All sublists are:
[]
[1]
[2]
[3]
[1, 2]
[1, 3]
[2, 3]
[1, 2, 3]

34. Write a Python program that uses the Sieve of Eratosthenes method to compute prime numbers up to a specified number.

In [ ]:
def sieve_e(n):
  prime = [True] * (n+1)
  p = 2
  while p * p <= n:
    if prime[p]:
      for i in range(p * p, n +1, p):
        prime[i] = False
    p += 1

  primes = [p for p in range(2, n+1) if prime[p]]
  return primes

n = 30
print("Primes: ", sieve_e(n))

Primes:  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

35. Write a Python program to create a list by concatenating a given list with a range from 1 to n.
Sample list : ['p', 'q']
n =5
Sample Output : ['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

In [ ]:
list18 = ['p', 'q']

def list_con(list1, n):
  list2 = []
  for i in range(1, n+1):
    for j in list1:
      list2.append(j + str(i))
  return list2

print("List Concatenation: ",list_con(list18, 5))

List Concatenation:  ['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

36. Write a Python program to get a variable with an identification number or string.

In [ ]:
x = 100
print(format(id(x), 'x'))

7f89fd730d50

37. Write a Python program to find common items in two lists.

In [ ]:
def common_item(l1, l2):
  common = []
  for i in l1:
    for j in l2:
      if i == j:
        common.append(i)
  return common

print("Common items: ", common_item(list16,list17))

Common items:  [10, 20, 30]

38. Write a Python program to change the position of every n-th value to the (n+1)th in a list.
Sample list: [0,1,2,3,4,5]
Expected Output: [1, 0, 3, 2, 5, 4]

In [ ]:
def pos_change(l1):
  temp = ''
  for i in range(0, len(l1) - 1, 2): #Loop through the list with a step of 2
    temp = l1[i]
    l1[i] = l1[i+1]
    l1[i+1] = temp
  return l1

list19 = [0,1,2,3,4,5]
print("Position change: ", pos_change(list19))

Position change:  [1, 0, 3, 2, 5, 4]

39. Write a Python program to convert a list of multiple integers into a single integer.
Sample list: [11, 33, 50]
Expected Output: 113350

In [ ]:
def list_to_int(l):
  int1 = ''
  for i in l:
    int1 += str(i)
  return int(int1)

print("List to integer: ", list_to_int(list19))

List to integer:  103254

40. Write a Python program to split a list based on the first character of a word.

In [ ]:
# Import the 'groupby' function from the 'itertools' module and the 'itemgetter' function from the 'operator' module
from itertools import groupby
from operator import itemgetter

# Define a list 'word_list' containing words
word_list = ['be', 'have', 'do', 'say', 'get', 'make', 'go', 'know', 'take', 'see', 'come', 'think',
             'look', 'want', 'give', 'use', 'find', 'tell', 'ask', 'work', 'seem', 'feel', 'leave', 'call']

# Use 'groupby' to group and sort the words in 'word_list' based on the first letter of each word
# Iterate through the groups and print the first letter and the words starting with that letter
for letter, words in groupby(sorted(word_list), key=itemgetter(0)):
    print(letter)
    for word in words:
        print(word)

a
ask
b
be
c
call
come
d
do
f
feel
find
g
get
give
go
h
have
k
know
l
leave
look
m
make
s
say
see
seem
t
take
tell
think
u
use
w
want
work

42. Write a Python program to find missing and additional values in two lists.
Sample data : Missing values in second list: b,a,c
Additional values in second list: g,h

In [ ]:
list20 = [1,2,3,4]
list21 = [3,4,5,6]

def add_miss_list(l1, l2):
  missing = []
  additional = []

  for i in l1:
    if i not in l2:
      missing.append(i)
  for j in l2:
    if j not in l1:
      additional.append(j)
  return missing, additional

print("Missing and additional Value in second list: ", add_miss_list(list20, list21))

Missing and additional Value in second list:  ([1, 2], [5, 6])

43. Write a Python program to split a list into different variables.

In [ ]:
list22 = ['a','b','c','d']

var1, var2, var3, var4 = list22

print(var1)
print(var2)
print(var3)
print(var4)

a
b
c
d

44. Write a Python program to generate groups of five consecutive numbers in a list.

In [ ]:
l = [[5*i + j for j in range(1,6)] for i in range(5)]
print(l)

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15], [16, 17, 18, 19, 20], [21, 22, 23, 24, 25]]

45. Write a Python program to convert a pair of values into a sorted unique array.

In [ ]:
# Define a list 'L' containing tuples with pairs of numbers
L = [(1, 2), (3, 4), (1, 2), (5, 6), (7, 8), (1, 2), (3, 4), (3, 4), (7, 8), (9, 10)]

# Print the original list 'L'
print("Original List: ", L)

# Use a set to remove duplicate pairs of numbers and the 'union' method to merge all unique pairs
# Sort the resulting set and print the sorted unique data
print("Sorted Unique Data:", sorted(set().union(*L)))

Original List:  [(1, 2), (3, 4), (1, 2), (5, 6), (7, 8), (1, 2), (3, 4), (3, 4), (7, 8), (9, 10)]
Sorted Unique Data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

46. Write a Python program to select the odd items from a list.

In [ ]:
list23  = ['a', 'b', 'c', 'd', 'e', 'f']


def odd_item(l1):
  odd_list = []
  for i in l1:
    if l1.index(i) % 2 != 0:
      odd_list.append(i)
  return odd_list

print("Odd items: ", odd_item(list23))

Odd items:  ['b', 'd', 'f']

47. Write a  Python program to insert an element before each element of a list.

In [ ]:
def insert_before_each(input_list, element):
    result = []
    for item in input_list:
        result.append(element)
        result.append(item)
    return result

sample_list = ['a', 'b', 'c', 'd']
new_element = '*'
output = insert_before_each(sample_list, new_element)
print("Modified list:", output)

Modified list: ['*', 'a', '*', 'b', '*', 'c', '*', 'd']

48. Write a Python program to print nested lists (each list on a new line) using the print() function.

In [ ]:
list24 = [['a','b'], ['c','d'],['e', 'f'],['g', 'h']]

def print_nested(l1):
  for i in l1:
    print(i)

print_nested(list24)

['a', 'b']
['c', 'd']
['e', 'f']
['g', 'h']

49. Write a Python program to convert a list to a list of dictionaries.
Sample lists: ["Black", "Red", "Maroon", "Yellow"], ["#000000", "#FF0000", "#800000", "#FFFF00"]
Expected Output: [{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

In [ ]:
color_name = ["Black", "Red", "Maroon", "Yellow"]
color_code = ["#000000", "#FF0000", "#800000", "#FFFF00"]

def list_to_dict(color_name, color_code):
  result = []
  for i in range(len(color_name)):
    color_dict = {'color_name': color_name[i], 'color_code': color_code[i]}
    result.append(color_dict)
  return result

print("Dictionary: ", list_to_dict(color_name, color_code))

Dictionary:  [{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

50. Write a Python program to sort a list of nested dictionaries.

In [ ]:
def sorted_dict(nested_dict, sort_key):
    return sorted(nested_dicts, key=lambda x: x[sort_key])

nested_dicts = [
    {'name': 'John', 'age': 25, 'city': 'New York'},
    {'name': 'Alice', 'age': 30, 'city': 'Los Angeles'},
    {'name': 'Bob', 'age': 20, 'city': 'Chicago'}
]

sort_by_age = sorted_dict(nested_dicts, 'age')
print("Sorted by age: ", sort_by_age)

sort_by_name = sorted_dict(nested_dicts, 'name')
print("Sorted by name: ", sort_by_name)

Sorted by age:  [{'name': 'Bob', 'age': 20, 'city': 'Chicago'}, {'name': 'John', 'age': 25, 'city': 'New York'}, {'name': 'Alice', 'age': 30, 'city': 'Los Angeles'}]
Sorted by name:  [{'name': 'Alice', 'age': 30, 'city': 'Los Angeles'}, {'name': 'Bob', 'age': 20, 'city': 'Chicago'}, {'name': 'John', 'age': 25, 'city': 'New York'}]

51. Write a Python program to split a list every Nth element.

Sample list: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']

Expected Output: [['a', 'd', 'g', 'j', 'm'], ['b', 'e', 'h', 'k', 'n'], ['c', 'f', 'i', 'l']]

In [ ]:
list25 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']

def list_split(l1, n):
  for i in range(0, n):
    result = [[] for _ in range(n)] #create empty list with sublists of length n
    for i, item in enumerate(l1): #access both index and element using enumerate
      result[i % n].append(item) #append each element to the sublist based on the remainder of its index when divided by n
  return result

print("Split list: ", list_split(list25, 3))

Split list:  [['a', 'd', 'g', 'j', 'm'], ['b', 'e', 'h', 'k', 'n'], ['c', 'f', 'i', 'l']]

52. Write a Python program to compute the difference between two lists.

Sample data: ["red", "orange", "green", "blue", "white"], ["black", "yellow", "green", "blue"]

Expected Output:

Color1-Color2: ['white', 'orange', 'red']
Color2-Color1: ['black', 'yellow']

In [ ]:
list26 = ["red", "orange", "green", "blue", "white"]
list27 = ["black", "yellow", "green", "blue"]

def list_diff(l1, l2):
  l1_l2 = []
  l2_l1 = []
  l1_l2 = set(l1) - set(l2)
  l2_l1 = set(l2) - set(l1)
  return l1_l2, l2_l1

print("List Difference: ", list_diff(list26, list27))

List Difference:  ({'white', 'orange', 'red'}, {'yellow', 'black'})

53. Write a Python program to create a list with infinite elements.

In [ ]:
import itertools

infinite_list = itertools.count() #returns an iterator that generates consecutive numbers, starting from default 0 and increments by 1

for _ in range(10):
  print(next(infinite_list)) #using next() to access each number from the iterator list, one at a time.

0
1
2
3
4
5
6
7
8
9

54. Write a Python program to concatenate elements of a list.

In [ ]:
def concate_list_ele(l1):
  concatenated_string = ''

  for i in l1:
    concatenated_string += str(i)
  return concatenated_string

print("Concatenated String: ", concate_list_ele(list27))

Concatenated String:  blackyellowgreenblue

55. Write a Python program to remove key-value pairs from a list of dictionaries.

In [ ]:
list28 = [
    {'name':'John', 'age':23},
    {'name': 'Sarah', 'age': 34},
    {'name': 'Mary', 'age':12}
]

def remove_dict(l1, key_to_remove):
  for dictionary in l1:
    if key_to_remove in dictionary:
      del dictionary[key_to_remove]
  return l1

print("Removing Age: ", remove_dict(list28, 'age'))

Removing Age:  [{'name': 'John'}, {'name': 'Sarah'}, {'name': 'Mary'}]

56. Write a Python program to convert a string to a list.

In [ ]:
def string_to_list(string_vaalue):
  l1 = []
  for i in string_vaalue:
    l1.append(i)
  return l1

print("String to list: ", string_to_list('abacus'))

String to list:  ['a', 'b', 'a', 'c', 'u', 's']

57. Write a Python program to check if all items in a given list of strings are equal to a given string.

In [ ]:
list29 = ['k','r','i','s','h','u']
string29 = 'krishu'

def string_list_validate(l1, s1):
  test_str = ''
  for i in l1:
    test_str += i
  if test_str == s1:
    return True
  else:
    return False

print("Elements in String and list are equal: ", string_list_validate(list29, string29))

Elements in String and list are equal:  True

58. Write a Python program to replace the last element in a list with another list.

Sample data : [1, 3, 5, 7, 9, 10], [2, 4, 6, 8]

Expected Output: [1, 3, 5, 7, 9, 2, 4, 6, 8]

In [ ]:
list30 = [1, 3, 5, 7, 9, 10]
list31 = [2, 4, 6, 8]

def last_ele_list(l1, l2):
  del l1[-1]
  for i in l2:
    l1.append(i)
  return l1

print("Last element swap: ", last_ele_list(list30, list31))

Last element swap:  [1, 3, 5, 7, 9, 2, 4, 6, 8]

59. Write a Python program to check whether the n-th element exists in a given list.

In [ ]:
def ele_check(l1, n):
  if n < len(l1):
    return True
  else:
    return False

print("19th element in list 31: ", ele_check(list31, 19))
print("3rd element in list 31: ", ele_check(list31, 3))

19th element in list 31:  False
3rd element in list 31:  True

60. Write a Python program to find a tuple, the smallest second index value from a list of tuples.

In [ ]:
list32 = [(1,2), (3,4),(2,5), (9,2)]

def smallest_tuple_in_list(l1):
  return min(l1, key = lambda x:x[1])

def smallest_tuple_in_list_2(l1):
  smallest = l1[0] #assume first tuple has the smallest second element
  for tup in l1[1:]: #iterate over rest of the tuples
    if tup[1] < smallest [1]: #compare the second element of each tuple with the second element of smallest tuple
      smallest = tup #update smallest if smaller found
  return smallest

print("Tuple with smallest index: ", smallest_tuple_in_list(list32))
print("Tuple with smallest index: ", smallest_tuple_in_list_2(list32))

Tuple with smallest index:  (1, 2)
Tuple with smallest index:  (1, 2)

61. Write a Python program to create a list of empty dictionaries.

In [ ]:
def create_empty_diclist(n):
  dict_list = []
  for _ in range(n):
    dict_list.append({})
  return dict_list

print("List with empty dictionary: ", create_empty_diclist(5))

List with empty dictionary:  [{}, {}, {}, {}, {}]

62. Write a Python program to print a list of space-separated elements.

In [ ]:
list33 = [1, 2, 3, 4, 5, 'hello', 'abc']

def space_sep_list(l1):
  result = " ".join(map(str, l1))
  return result

print("Separated elements: ", space_sep_list(list33))

Separated elements:  1 2 3 4 5 hello abc

63. Write a Python program to insert a given string at the beginning of all items in a list.

Sample list : [1,2,3,4], string : emp

Expected output : ['emp1', 'emp2', 'emp3', 'emp4']

In [ ]:
list34 = [1,2,3,4]

def insert_string_in_list(l1, string_insert):
  new_list = []
  for i in l1:
    new_list.append(string_insert + str(i))
  return new_list

print("New list with inserted string: ", insert_string_in_list(list34, 'emp'))

New list with inserted string:  ['emp1', 'emp2', 'emp3', 'emp4']

64. Write a Python program to iterate over two lists simultaneously.

In [ ]:
list35 = ['a','b','c','d']
def iterate_simultaneously(l1, l2):
  for i, j in zip(l1, l2):
    print(i, j)

iterate_simultaneously(list33, list35)

1 a
2 b
3 c
4 d

65. Write a Python program to move all zero digits to the end of a given list of numbers.

Expected output:
Original list: [3, 4, 0, 0, 0, 6, 2, 0, 6, 7, 6, 0, 0, 0, 9, 10, 7, 4, 4, 5, 3, 0, 0, 2, 9, 7, 1]

Move all zero digits to end of the said list of numbers:
[3, 4, 6, 2, 6, 7, 6, 9, 10, 7, 4, 4, 5, 3, 2, 9, 7, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
list36 = [3, 4, 0, 0, 0, 6, 2, 0, 6, 7, 6, 0, 0, 0, 9, 10, 7, 4, 4, 5, 3, 0, 0, 2, 9, 7, 1]

def move_zero_end(l1):
  new_list = []
  zero_counter = 0
  for i in l1:
    if i != 0:
      new_list.append(i)
    else:
      zero_counter += 1
  for _ in range(zero_counter):
    new_list.append(0)
  return new_list

print("Zero moved to end: ", move_zero_end(list36))

Zero moved to end:  [3, 4, 6, 2, 6, 7, 6, 9, 10, 7, 4, 4, 5, 3, 2, 9, 7, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

66. Write a Python program to find the list in a list of lists whose sum of elements is the highest.

Sample lists: [1,2,3], [4,5,6], [10,11,12], [7,8,9]

Expected Output: [10, 11, 12]

In [ ]:
list37 = [[1,2,3], [4,5,6], [10,11,12], [7,8,9]]

def highest_sum(l1):
  max_sum = 0
  max_list = []
  for i in l1:
    current_sum = 0
    for j in i:
      current_sum += j
      if current_sum > max_sum:
        max_sum = current_sum
        max_list = i
  return max_list

print("Sublist with max sum: ", highest_sum(list37))

Sublist with max sum:  [10, 11, 12]

67. Write a  Python program to find all the values in a list that are greater than a specified number.

In [ ]:
def greater_list_value(l1, n):
  new_list = []
  for i in l1:
    if i > n:
      new_list.append(i)
  return new_list

print("All values greater than 3: ", greater_list_value(list36, 3))

All values greater than 3:  [4, 6, 6, 7, 6, 9, 10, 7, 4, 4, 5, 9, 7]

68. Write a Python program to extend a list without appending.
Sample data: [10, 20, 30]
[40, 50, 60]
Expected output : [40, 50, 60, 10, 20, 30]

In [ ]:
list37 = [10,20,30]
list38 = [40,50,60]

list37.extend(list38)

print("Extending list: ", list37)

Extending list:  [10, 20, 30, 40, 50, 60]

69. Write a Python program to remove duplicates from a list of lists.

Sample list : [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]

New List : [[10, 20], [30, 56, 25], [33], [40]]

In [ ]:
list39 = [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]

def remove_dupes(l1):
  new_list = []
  for i in l1:
    if i not in new_list:
      new_list.append(i)
  return new_list

print("New list without duplicates: ", remove_dupes(list39))

New list without duplicates:  [[10, 20], [40], [30, 56, 25], [33]]

70. Write a Python program to find items starting with a specific character from a list.

Expected Output:

Original list:
['abcd', 'abc', 'bcd', 'bkie', 'cder', 'cdsw', 'sdfsd', 'dagfa', 'acjd']

Items start with a from the said list:
['abcd', 'abc', 'acjd']

Items start with d from the said list:
['dagfa']

Items start with w from the said list:
[]

In [ ]:
list40 = ['abcd', 'abc', 'bcd', 'bkie', 'cder', 'cdsw', 'sdfsd', 'dagfa', 'acjd']

def starting_letter(l1):
  list_a = []
  list_d = []
  list_w = []

  for i in l1:
    if i[0] == 'a':
      list_a.append(i)
    elif i[0] == 'd':
      list_d.append(i)
    elif i[0] == 'w':
      list_w.append(i)
  return list_a, list_d, list_w

letter_list = starting_letter(list40)

print("Items start with a from the said list: ",letter_list[0])

print("Items start with d from the said list: ",letter_list[1])

print("Items start with w from the said list: ",letter_list[2])

Items start with a from the said list:  ['abcd', 'abc', 'acjd']
Items start with d from the said list:  ['dagfa']
Items start with w from the said list:  []

In [ ]:
def start_with(l1, letter):
  result = []
  for i in l1:
    if i.startswith(letter):
      result.append(i)
  return result

print("Items start with a from the said list: ", start_with(list40, 'a'))
print("Items start with d from the said list: ", start_with(list40, 'd'))
print("Items start with w from the said list: ", start_with(list40, 'w'))

Items start with a from the said list:  ['abcd', 'abc', 'acjd']
Items start with d from the said list:  ['dagfa']
Items start with w from the said list:  []

71. Write a Python program to check whether all dictionaries in a list are empty or not.
Sample list : [{},{},{}]
Return value : True
Sample list : [{1,2},{},{}]
Return value : False

In [ ]:
list41 = [{},{},{}]
list42 = [{1,2},{},{}]

def empty_dict(l1):
  for i in l1:
    if bool(i): #This checks if a dictionary is empty or not. An empty dictionary returns False, and a non-empty dictionary returns True.
      return False
    return True

print("Dictionaries inside list are empty: ",empty_dict(list41))

print("Dictionaries inside list are empty: ",empty_dict(list42))

Dictionaries inside list are empty:  True
Dictionaries inside list are empty:  False

72. Write a Python program to flatten a given nested list structure.
Original list: [0, 10, [20, 30], 40, 50, [60, 70, 80], [90, 100, 110, 120]]
Flatten list:
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]

In [ ]:
list42 = [0, 10, [20, 30], 40, 50, [60, 70, 80], [90, 100, 110, 120]]

def flatten_list(l1):
  new_list = []
  for i in l1:
    if isinstance(i, list):
      new_list.extend(flatten_list(i)) #recursively flatten nested list
    else:
      new_list.append(i)

  return new_list

print("Flattened List: ", flatten_list(list42))

Flattened List:  [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]

73. Write a Python program to remove consecutive (following each other continuously) duplicates (elements) from a given list.
Original list:
[0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
After removing consecutive duplicates:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 4]

In [ ]:
list43 = [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]

def remove_consec_dupes(l1):
  new_list = [l1[0]] # Add the first element of the input list into the new list
  for i in range(1, len(l1)):
    if l1[i] != l1[i-1]:
      new_list.append(l1[i])
  return new_list

print("Removing Consecutive duplicates: ", remove_consec_dupes(list43))

Removing Consecutive duplicates:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 4]

74. Write a Python program to pack consecutive duplicates of a given list of elements into sublists.
Original list:
[0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
After packing consecutive duplicates of the said list elements into sublists:
[[0, 0], [1], [2], [3], [4, 4], [5], [6, 6, 6], [7], [8], [9], [4, 4]]

In [ ]:
def pack_consecutive_duplicates(lst):
    packed_list = [[lst[0]]]  # Start by creating the first sublist with the first element

    for i in range(1, len(lst)):
        # If the current element is the same as the last element in the previous sublist, append it
        if lst[i] == packed_list[-1][-1]:
            packed_list[-1].append(lst[i])
        else:
            # Otherwise, start a new sublist with the current element
            packed_list.append([lst[i]])

    return packed_list

original_list = [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]

result_list = pack_consecutive_duplicates(original_list)

print("Original list:", original_list)
print("After packing consecutive duplicates into sublists:", result_list)

Original list: [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
After packing consecutive duplicates into sublists: [[0, 0], [1], [2], [3], [4, 4], [5], [6, 6, 6], [7], [8], [9], [4, 4]]

75. Write a Python program to create a list reflecting the run-length encoding from a given list of integers or a given list of characters.

Original list:
[1, 1, 2, 3, 4, 4.3, 5, 1]

List reflecting the run-length encoding from the said list:
[[2, 1], [1, 2], [1, 3], [1, 4], [1, 4.3], [1, 5], [1, 1]]

Original String:

automatically

List reflecting the run-length encoding from the said string:
[[1, 'a'], [1, 'u'], [1, 't'], [1, 'o'], [1, 'm'], [1, 'a'], [1, 't'], [1, 'i'], [1, 'c'], [1, 'a'], [2, 'l'], [1, 'y']]

In [ ]:
list44 =[1,1,2,3,4,4,3,5,1]
string44 = 'automatically'

def running_length(l1):
  encoding = []
  current_element = l1[0]
  count = 1

  for i in range(1, len(l1)):
    if l1[i] == current_element:
      count += 1 # Increment the count if same element appears consecutively
    else:
      encoding.append([count, current_element]) #Add the run-length encoded pair
      current_element = l1[i]
      count = 1
  encoding.append([count, current_element])
  return encoding

print("New list: ", running_length(list44))
print("New list: ", running_length(string44))

New list:  [[2, 1], [1, 2], [1, 3], [2, 4], [1, 3], [1, 5], [1, 1]]
New list:  [[1, 'a'], [1, 'u'], [1, 't'], [1, 'o'], [1, 'm'], [1, 'a'], [1, 't'], [1, 'i'], [1, 'c'], [1, 'a'], [2, 'l'], [1, 'y']]

77. Write a Python program to decode a run-length message.
Original encoded list:
[[2, 1], 2, 3, [2, 4], 5, 1]
Decode a run-length encoded said list:
[1, 1, 2, 3, 4, 4, 5, 1]

In [ ]:
list45 =  [[2, 1], 2, 3, [2, 4], 5, 1]

def decode_run_length(l1):
  decoded_list = []
  for i in l1:
    if isinstance(i, list):
      decoded_list.append([i[1]] * i[0])
    else:
      decoded_list.append(i)
  return decoded_list

print("Decoded list: ", decode_run_length(list45))

Decoded list:  [[1, 1], 2, 3, [4, 4], 5, 1]

78. Write a Python program to split a given list into two parts where the length of the first part of the list is given.
Original list:
[1, 1, 2, 3, 4, 4, 5, 1]
Length of the first part of the list: 3
Splited the said list into two parts:
([1, 1, 2], [3, 4, 4, 5, 1])

In [ ]:
list46 = [1,1,2,3,4,4,5,1]

def split_list(l1, n):
  result_list = []
  first_part = l1[:n]
  second_part = l1[n:]
  result_list = (first_part, second_part)
  return result_list

print("Resultant list: ", split_list(list46, 3))

Resultant list:  ([1, 1, 2], [3, 4, 4, 5, 1])

79. Write a Python program to remove the K'th element from a given list, and print the updated list.
Original list:
[1, 1, 2, 3, 4, 4, 5, 1]
After removing an element at the kth position of the said list:
[1, 1, 3, 4, 4, 5, 1]

In [ ]:
list47 = [1,1,2,3,4,4,5,1]

def remove_ele(l1, k):
  del l1[k]
  return l1

print("Delete 3rd element: ", remove_ele(list47, 5))

Delete 3rd element:  [1, 1, 2, 3, 4, 5, 1]

80. Write a Python program to insert an element at a specified position into a given list.
Original list:
[1, 1, 2, 3, 4, 4, 5, 1]
After inserting an element at kth position in the said list:
[1, 1, 12, 2, 3, 4, 4, 5, 1]

In [ ]:
def insert_ele(l1, k, ele):
  l1.insert(k, ele)
  return l1

print("Insert 4 at 2nd index: ", insert_ele(list47, 2, 4))

Insert 4 at 2nd index:  [1, 1, 4, 2, 3, 4, 5, 1]

81. Write a Python program to extract a given number of randomly selected elements from a given list.
Original list:
[1, 1, 2, 3, 4, 4, 5, 1]
Selected 3 random numbers of the above list:
[4, 4, 1]

In [ ]:
import random

list81 = [1,1,2,3,4,4,5,1]

def random_number(l1):
  return random.choices(l1, weights = None, cum_weights = None, k =3)

print("Three random numbers from the list: ", random_number(list81))

Three random numbers from the list:  [2, 1, 4]

82. Write a Python program to generate combinations of n distinct objects taken from the elements of a given list.

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

Combinations of 2 distinct objects: [1, 2] [1, 3] [1, 4] [1, 5] .... [7, 8] [7, 9] [8, 9]

In [ ]:
from itertools import combinations

list82 = [1,2,3,4,5,6,7,8,9]

def comb_elements(l1, k):
  new_list = list(combinations(l1, k)) #Generate all combinations of length k from the given input list.
  for c in new_list:
    print(list(c))

print("Combinations of k distinct objects: ", comb_elements(list82, 2))

[1, 2]
[1, 3]
[1, 4]
[1, 5]
[1, 6]
[1, 7]
[1, 8]
[1, 9]
[2, 3]
[2, 4]
[2, 5]
[2, 6]
[2, 7]
[2, 8]
[2, 9]
[3, 4]
[3, 5]
[3, 6]
[3, 7]
[3, 8]
[3, 9]
[4, 5]
[4, 6]
[4, 7]
[4, 8]
[4, 9]
[5, 6]
[5, 7]
[5, 8]
[5, 9]
[6, 7]
[6, 8]
[6, 9]
[7, 8]
[7, 9]
[8, 9]
Combinations of k distinct objects:  None

83. Write a Python program to round every number in a given list of numbers and print the total sum multiplied by the length of the list.

Original list: [22.4, 4.0, -16.22, -9.1, 11.0, -12.22, 14.2, -5.2, 17.5]
Result:
243

In [ ]:
list83 = [22.4, 4.0, -16.22, -9.1, 11.0, -12.22, 14.2, -5.2, 17.5]

def round_num(l1):
  whole_sum = 0
  for i in l1:
    whole_sum += round(i)
  return whole_sum * len(l1)

print("Total Sum multiplied by length of the list: ", round_num(list83))

Total Sum multiplied by length of the list:  243

84. Write a Python program to round the numbers in a given list, print the minimum and maximum numbers and multiply the numbers by 5. Print the unique numbers in ascending order separated by space.

Original list: [22.4, 4.0, 16.22, 9.1, 11.0, 12.22, 14.2, 5.2, 17.5]
Minimum value: 4
Maximum value: 22
Result:
20 25 45 55 60 70 80 90 110

In [ ]:
list84 = [22.4, 4.0, 16.22, 9.1, 11.0, 12.22, 14.2, 5.2, 17.5]

def round_min(l1):
  min_value = round(l1[0])
  max_value = round(l1[0])
  rounded_value = [round(i) for i in l1]
  unique_num = []
  results = []

  for i in rounded_value:
    if round(i) < min_value:
      min_value = round(i)
    if round(i) > max_value:
      max_value = round(i)
    unique_num.append(round(i) * 5)

  print("Minimum value: ", min_value)
  print("Maximum value: ", max_value)
  for j in sorted(set(unique_num)):
    results.append(j)
  print("Result: ", " ".join(map(str, results)))

round_min(list84)

Minimum value:  4
Maximum value:  22
Result:  20 25 45 55 60 70 80 90 110

85. Write a Python program to create a multidimensional list (lists of lists) with zeros.

Multidimensional list: [[0, 0], [0, 0], [0, 0]]

In [ ]:
def multi_list(rows, columns):
  multi_list = []
  for i in range(rows):
    row = []
    for j in range(columns):
      row.append(0)
    multi_list.append(row)
  return multi_list

print("A 3 * 2 list: ", multi_list(3, 2))

A 3 * 2 list:  [[0, 0], [0, 0], [0, 0]]

86. Write a Python program to create a 3X3 grid with numbers.
3X3 grid with numbers:
[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [ ]:
def three_grid():
  grid = []
  for i in range(1, 4):
    row = []
    for j in range(1, 4):
      row.append(j)
    grid.append(row)
  return grid

print("Grid: ", three_grid())

Grid:  [[1, 2, 3], [1, 2, 3], [1, 2, 3]]

87. Write a Python program to read a matrix from the console and print the sum for each column. As input from the user, accept matrix rows, columns, and elements separated by a space (each row).

Input rows: 2

Input columns: 2

Input number of elements in a row (1, 2, 3):
1 2
3 4
sum for each column:
4 6

In [ ]:
def read_matrix(rows, columns):
  matrix = []
  print(f"Enter the elements of the matrix row-wise: ")
  for i in range(rows):
    row = list(map(int, input().split()))
    matrix.append(row)
  return matrix

def column_sum(matrix, rows, cols):
  print("Sum for each column: ")
  for col in range(cols):
    col_sum = sum(matrix[row][col] for row in range(rows))
    print(col_sum, end = '')
  print()

rows = int(input("Input rows: "))
cols = int(input("Input columns: "))

matrix = read_matrix(rows, cols)
column_sum(matrix, rows, cols)

Input rows: 2
Input columns: 2
Enter the elements of the matrix row-wise:
1 2
3 4
Sum for eeach column:
46

88. Write a Python program to read a square matrix from the console and print the sum of the matrix's primary diagonal. Accept the size of the square matrix and elements for each column separated with a space (for every row) as input from the user.
Input the size of the matrix: 3
2 3 4
4 5 6
3 4 7
Sum of matrix primary diagonal:
14

In [ ]:
def primary_diagnol_sum(matrix, size):
  diagnol_sum = 0
  for i in range(size):
    diagnol_sum += matrix[i][i]
  return diagnol_sum

size = int(input("Input the size of the matrix: "))

matrix = []

for i in range(size):
  row = list(map(int, input().split()))
  matrix.append(row)

print("Sum of matrix primary diagnol: ", primary_diagnol_sum(matrix, size))

Input the size of the matrix: 3
2 3 4
4 5 6
5 4 7
Sum of matrix primary diagnol:  14

89. Write a Python program to Zip two given lists of lists.
Original lists:
[[1, 3], [5, 7], [9, 11]]
[[2, 4], [6, 8], [10, 12, 14]]
Zipped list:
[[1, 3, 2, 4], [5, 7, 6, 8], [9, 11, 10, 12, 14]]

In [ ]:
def zip_lists(l1, l2):
  zipped_list = [a + b for a,b in zip(l1, l2)]
  return zipped_list

list1 = [[1, 3], [5, 7], [9, 11]]
list2 = [[2, 4], [6, 8], [10, 12, 14]]

zipped_list = zip_lists(list1, list2)

print("Zipped list:")
print(zipped_list)

Zipped list:
[[1, 3, 2, 4], [5, 7, 6, 8], [9, 11, 10, 12, 14]]

90. Write a Python program to count the number of lists in a given list of lists.

Original list:
[[1, 3], [5, 7], [9, 11], [13, 15, 17]]
Number of lists in said list of lists:
4

Original list:
[[2, 4], [[6, 8], [4, 5, 8]], [10, 12, 14]]
Number of lists in said list of lists:
3

In [ ]:
list90 = [[1, 3], [5, 7], [9, 11], [13, 15, 17]]

def count_lists(l1):
  count = 0
  for i in l1:
    count += 1
  return count

print("Count: ", count_lists(list90))

Count:  4

91. Write a Python program to find a list with maximum and minimum lengths.

Original list:
[[0], [1, 3], [5, 7], [9, 11], [13, 15, 17]]
List with maximum length of lists:
(3, [13, 15, 17])
List with minimum length of lists:
(1, [0])

Original list:
[[0], [1, 3], [5, 7], [9, 11], [3, 5, 7]]
List with maximum length of lists:
(3, [3, 5, 7])
List with minimum length of lists:
(1, [0])

Original list:
[[12], [1, 3], [1, 34, 5, 7], [9, 11], [3, 5, 7]]
List with maximum length of lists:
(4, [1, 34, 5, 7])
List with minimum length of lists:
(1, [12])

In [ ]:
list91 = [[0], [1, 3], [5, 7], [9, 11], [13, 15, 17]]

def list_length(l1):
  length = 0
  min_length = len(l1[0])
  max_length = len(l1[0])
  min_list = l1[0]
  max_list = l1[0]

  print(f"Original List: {l1}")
  for i in l1:
    if len(i) < min_length:
      min_length = len(i)
      min_list = i
    if len(i) > max_length:
      max_length = len(i)
      max_list = i

  print(f"List with minimum length of lists: {min_length}, {min_list}")
  print(f"List with maximum length of lists: {max_length}, {max_list}")

list_length(list91)

Original List: [[0], [1, 3], [5, 7], [9, 11], [13, 15, 17]]
List with minimum length of lists: 1, [0]
List with maximum length of lists: 3, [13, 15, 17]

92. Write a Python program to check if a nested list is a subset of another nested list.

Original list:
[[1, 3], [5, 7], [9, 11], [13, 15, 17]]
[[1, 3], [13, 15, 17]]

If the one of the said list is a subset of another.:
True

In [ ]:
list92a = [[[1, 2], [2, 3]], [[3, 4], [5, 6]]]
list92b = [[[3, 4], [5, 6]]]


def find_subset(l1, l2):
  for i in l2:
    if i not in l1:
      return False
    return True

print("If the one of the said list is a subset of another: ", find_subset(list92a, list92b))

If the one of the said list is a subset of another:  True

93. Write a Python program to count the number of sublists that contain a particular element.

Original list:
[[1, 3], [5, 7], [1, 11], [1, 15, 7]]
Count 1 in the said list:
3
Count 7 in the said list:
2

Original list:
[['A', 'B'], ['A', 'C'], ['A', 'D', 'E'], ['B', 'C', 'D']]
Count 'A' in the said list:
3
Count 'E' in the said list:
1

In [ ]:
list93a = [[1, 3], [5, 7], [1, 11], [1, 15, 7]]
list93b = [['A', 'B'], ['A', 'C'], ['A', 'D', 'E'], ['B', 'C', 'D']]

def count_element(l1, ele):
  count = 0

  for i in l1:
    if ele in i:
      count += 1
  return count

print(f"Count 1 in the said list: ", count_element(list93a, 1))
print(f"Count 7 in the said list: ", count_element(list93a, 7))

print(f"Count 'A' in the said list: ", count_element(list93b, 'A'))
print(f"Count 'E' in the said list: ", count_element(list93b, 'E'))

Count 1 in the said list:  3
Count 7 in the said list:  2
Count 'A' in the said list:  3
Count 'E' in the said list:  1

94. Write a Python program to count the number of unique sublists within a given list.

Original list:
[[1, 3], [5, 7], [1, 3], [13, 15, 17], [5, 7], [9, 11]]
Number of unique lists of the said list:
{(1, 3): 2, (5, 7): 2, (13, 15, 17): 1, (9, 11): 1}

Original list:
[['green', 'orange'], ['black'], ['green', 'orange'], ['white']]
Number of unique lists of the said list:
{('green', 'orange'): 2, ('black',): 1, ('white',): 1}

In [ ]:
list94a = [[1, 3], [5, 7], [1, 3], [13, 15, 17], [5, 7], [9, 11]]
list94b = [['green', 'orange'], ['black'], ['green', 'orange'], ['white']]

def unique_sublist(l1):
  sublist_count = {}
  for sub_list in l1:
    tuple_sublist = tuple(sub_list)

    if tuple_sublist in sublist_count:
      sublist_count[tuple_sublist] += 1
    else:
      sublist_count[tuple_sublist] = 1
  return sublist_count

print("Number of unique sublists: ", unique_sublist(list94a))
print("Number of unique sublists: ", unique_sublist(list94b))

Number of unique sublists:  {(1, 3): 2, (5, 7): 2, (13, 15, 17): 1, (9, 11): 1}
Number of unique sublists:  {('green', 'orange'): 2, ('black',): 1, ('white',): 1}

95. Write a Python program to sort each sublist of strings in a given list of lists.

Original list:
[[2], [0], [1, 3], [0, 7], [9, 11], [13, 15, 17]]

Sort the list of lists by length and value:
[[0], [2], [0, 7], [1, 3], [9, 11], [13, 15, 17]]

In [ ]:
list95 = [[2], [0], [1, 3], [0, 7], [9, 11], [13, 15, 17]]

def sort_sublist(l1):
  for i in range(len(l1)):
    l1[i] = sorted(l1[i])
  l1 = sorted(l1, key = lambda x:(len(x), x)) #This is a lambda function, which is an anonymous, inline function that takes an argument x (each sublist in l1) and returns a tuple (len(x), x).
  return l1

print("Sorted list: ", sort_sublist(list95))

Sorted list:  [[0], [2], [0, 7], [1, 3], [9, 11], [13, 15, 17]]
Sorted list:  [[0], [0, 7], [1, 3], [2], [9, 11], [13, 15, 17]]

96. Write a  Python program to sort a given list of lists by length and value.

Original list:
[[2], [0], [1, 3], [0, 7], [9, 11], [13, 15, 17]]
Sort the list of lists by length and value:
[[0], [2], [0, 7], [1, 3], [9, 11], [13, 15, 17]]

In [ ]:
list95 = [[2], [0], [1, 3], [0, 7], [9, 11], [13, 15, 17]]

def sort_sublists(l1):
  for i in range(len(l1)):
    l1[i] = sorted(l1[i])
  l1 = sorted(l1, key = lambda x:(len(x), x))
  return l1

print("Sorted list: ", sort_sublist(list95))

Sorted list:  [[0], [2], [0, 7], [1, 3], [9, 11], [13, 15, 17]]

97. Write a Python program to remove sublists from a given list of lists that contain an element outside a given range.

Original list:
[[2], [0], [1, 2, 3], [0, 1, 2, 3, 6, 7], [9, 11], [13, 14, 15, 17]]
After removing sublists from a given list of lists, which contains an element outside the given range:
[[13, 14, 15, 17]]

In [ ]:
list97 = [[2], [0], [1, 2, 3], [0, 1, 2, 3, 6, 7], [9, 11], [13, 14, 15, 17]]

def range_ele(l1, min_value, max_value):
  new_list = []
  for sublist in l1:
    all_within_range = True
    for j in sublist:
      if j < min_value or j > max_value:
        all_within_range = False
        break
    if all_within_range:
      new_list.append(sublist)
  return new_list

print("Removed element within range 0 to 12: ", range_ele(list97, 12, 18))

Removed element within range 0 to 12:  [[13, 14, 15, 17]]

98. Write a Python program to scramble the letters of a string in a given list.

Original list:
['Python', 'list', 'exercises', 'practice', 'solution']
After scrambling the letters of the strings of the said list:
['tnPhyo', 'tlis', 'ecrsseiex', 'ccpitear', 'noiltuos']

In [ ]:
import random

list98 = ['Python', 'list', 'exercises', 'practice', 'solution']

def scramble_ele(l1):
  srambled_list = []
  for word in l1:
    char_list = list(word) # Converting the string into a list of characters
    random.shuffle(char_list)
    scrambled_word = ''.join(char_list)
    srambled_list.append(scrambled_word)
  return srambled_list

print("Scrambled list: ", scramble_ele(list98))

Scrambled list:  ['hoPnyt', 'slti', 'ieexrcsse', 'epriatcc', 'suntoloi']

99. Write a Python program to find the maximum and minimum values in a given heterogeneous list.

Original list:
['Python', 3, 2, 4, 5, 'version']
Maximum and Minimum values in the said list:
(5, 2)

In [ ]:
list99 = ['Python', 3, 2, 4, 5, 'version']

def max_min(l1):
  max_val = None
  min_val = None

  for i in l1:
    if isinstance(i, (int, float)):
      if max_val is None or i > max_val:
        max_val = i
      if min_val is None or i < min_val:
        min_val = i

  return max_val, min_val

print("Max and Min value: ", max_min(list99))

Max and Min value:  (5, 2)

100. Write a Python program to extract common index elements from more than one given list.

Original lists:
[1, 1, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 7]
[0, 1, 2, 3, 4, 5, 7]
Common index elements of the said lists:
[1, 7]

In [ ]:
list100a = [1, 1, 3, 4, 5, 6, 7]
list100b = [0, 1, 2, 3, 4, 5, 7]
list100c = [0, 1, 2, 3, 4, 5, 7]

def index_ele(*lists):
  common_elements = []
  min_length = min(len(lst) for lst in lists) # get the length of shortest lists
  for i in range(min_length):
    elements_at_index = [lst[i] for lst in lists]
    if all(x == elements_at_index[0] for x in elements_at_index):
            common_elements.append(elements_at_index[0])

    return common_elements



print("Common element at same index: ", index_ele(list100a, list100b, list100c))

Common element at same index:  []

101. Write a Python program to sort a given matrix in ascending order according to the sum of its rows.

Original Matrix:
[[1, 2, 3], [2, 4, 5], [1, 1, 1]]
Sort the said matrix in ascending order according to the sum of its rows
[[1, 1, 1], [1, 2, 3], [2, 4, 5]]

Original Matrix:
[[1, 2, 3], [-2, 4, -5], [1, -1, 1]]
Sort the said matrix in ascending order according to the sum of its rows
[[-2, 4, -5], [1, -1, 1], [1, 2, 3]]

In [ ]:
list101 = [[1,2,3], [2,4,5], [1,1,1]]

def order_list(l1):
  new_list = sorted(l1, key=sum)
  return new_list

print("New List: ", order_list(list101))

New List:  [[1, 1, 1], [1, 2, 3], [2, 4, 5]]

102. Write a Python program to extract specified size of strings from a give list of string values.

Original list:
['Python', 'list', 'exercises', 'practice', 'solution']
length of the string to extract:
8
After extracting strings of specified length from the said list:
['practice', 'solution']

In [ ]:
list102 = ['Python', 'list', 'exercises', 'practice', 'solution']

def length_string(l1, n):
  new_list = []
  for i in l1:
    if len(i) == n:
      new_list.append(i)
  return new_list

print("Strings of length 8: ", length_string(list102, 8))

Strings of length 8:  ['practice', 'solution']

103. Write a Python program to extract specified number of elements from a given list, which follows each other continuously.

Original list:
[1, 1, 3, 4, 4, 5, 6, 7]

Extract 2 number of elements from the said list which follows each other continuously:

[1, 4]

Original lists:
[0, 1, 2, 3, 4, 4, 4, 4, 5, 7]
Extract 4 number of elements from the said list which follows each other continuously:
[4]

In [ ]:
list103a = [1,1,3,4,4,5,6,7]
list103b = [0, 1, 2, 3, 4, 4, 4, 4, 5, 7]

def conti_number(l1, n):
    new_list = []
    i = 0
    while i < len(l1) - 1:
        count = 1  # To count the number of continuous elements
        # Compare consecutive elements and count them
        while i < len(l1) - 1 and l1[i] == l1[i + 1]:
            count += 1
            i += 1
        # If the count of consecutive elements matches 'n', add the element to new_list
        if count == n:
            new_list.append(l1[i])
        i += 1
    return new_list

print("New List: ", conti_number(list103a, 2))
print("New List: ", conti_number(list103b, 4))

New List:  [1, 4]
New List:  [4]

104. Write a Python program to find the difference between consecutive numbers in a given list.

Original list:
[1, 1, 3, 4, 4, 5, 6, 7]
Difference between consecutive numbers of the said list:
[0, 2, 1, 0, 1, 1, 1]

Original list:
[4, 5, 8, 9, 6, 10]
Difference between consecutive numbers of the said list:
[1, 3, 1, -3, 4]

In [ ]:
list104a = [1,1,3,4,4,5,6,7]
list104b = [4,5,8,9,6,10]

def consecutive_diff(l1):
  new_list = []
  diff = 0
  for i in range(0, len(l1) - 1):
    diff = l1[i+1] - l1[i]
    new_list.append(diff)
  return new_list

print("Diff in consecutive elements: ", consecutive_diff(list104a))
print("Diff in consecutive elements: ", consecutive_diff(list104b))

Diff in consecutive elements:  [0, 2, 1, 0, 1, 1, 1]
Diff in consecutive elements:  [1, 3, 1, -3, 4]

105. Write a Python program to compute average of two given lists.
Original list:
[1, 1, 3, 4, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 4, 5, 7, 8]

Average of two lists:
3.823529411764706

In [ ]:
list105a = [1, 1, 3, 4, 4, 5, 6, 7]
list105b = [0, 1, 2, 3, 4, 4, 5, 7, 8]

def list_avg(l1, l2):
  avg1 = 0
  avg2 = 0
  sum1 = 0
  sum2 = 0
  for i in l1:
    sum1 += i
  avg1 = sum1 / len(l1)
  for j in l2:
    sum2 += j
  avg2 = sum2 / len(l2)
  return ((avg1 + avg2) / 2)

print("Average: ", list_avg(list105a, list105b))

Average:  3.826388888888889

106. Write a Python program to count integers in a given mixed list.

Original list:
[1, 'abcd', 3, 1.2, 4, 'xyz', 5, 'pqr', 7, -5, -12.22]
Number of integers in the said mixed list:
6

In [ ]:
list106 = [1, 'abcd', 3, 1.2, 4, 'xyz', 5, 'pqr', 7, -5, -12.22]

def int_num(l1):
  count = 0
  for i in l1:
    if isinstance(i, int):
      count += 1
  return count

print("Number of integers in the said mixed list: ",int_num(list106))

Number of integers in the said mixed list:  6

107. Write a Python program to remove a specified column from a given nested list.

Original Nested list:
[[1, 2, 3], [2, 4, 5], [1, 1, 1]]
After removing 1st column:
[[2, 3], [4, 5], [1, 1]]

Original Nested list:
[[1, 2, 3], [-2, 4, -5], [1, -1, 1]]
After removing 3rd column:
[[1, 2], [-2, 4], [1, -1]]

In [ ]:
list107 = [[1,2,3], [2,4,5], [1,1,1]]
list107b = [[1, 2, 3], [-2, 4, -5], [1, -1, 1]]

def remove_col(l1, n):
  sublist = 0
  for sublist in l1:
    del sublist[n-1]
  return l1

print("After removing 1st column: ", remove_col(list107, 1))
print("After removing 3rd column: ", remove_col(list107b, 3))

After removing 1st column:  [[2, 3], [4, 5], [1, 1]]
After removing 1st column:  [[1, 2], [-2, 4], [1, -1]]

108. Write a Python program to extract a specified column from a given nested list.

Original Nested list:
[[1, 2, 3], [2, 4, 5], [1, 1, 1]]
Extract 1st column:
[1, 2, 1]

Original Nested list:
[[1, 2, 3], [-2, 4, -5], [1, -1, 1]]
Extract 3rd column:
[3, -5, 1]

In [ ]:
def extract_col(l1, n):
  new_list = []
  index = n - 1
  ele = ''
  for sublist in l1:
    ele = sublist[index]
    new_list.append(ele)
  return new_list

list108a = [[1, 2, 3], [2, 4, 5], [1, 1, 1]]
list108b = [[1, 2, 3], [-2, 4, -5], [1, -1, 1]]

print("Extarct 1st column: ", extract_col(list108a, 1))
print("Extract 3rd column: ", extract_col(list108b, 3))

Extarct 1st column:  [1, 2, 1]
Extract 3rd column:  [3, -5, 1]

109. Write a Python program to rotate a given list by a specified number of items in the right or left direction.

original List:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Rotate the said list in left direction by 4:
[4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4]

Rotate the said list in left direction by 2:
[3, 4, 5, 6, 7, 8, 9, 10, 1, 2]

Rotate the said list in Right direction by 4:
[8, 9, 10, 1, 2, 3, 4, 5, 6]

Rotate the said list in Right direction by 2:
[9, 10, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def rotate_list(l1, num, direction):
  num = num % len(l1)

  if direction == "left":
    return l1[num:] + l1[:num]
  elif direction == "right":
    return l1[-num:] + l1[:-num]
  else:
    return "Invalid Direction"

print("Original List:", original_list)
print("Rotate left by 4:", rotate_list(original_list, 4, 'left'))
print("Rotate left by 2:", rotate_list(original_list, 2, 'left'))

# Rotate in right direction
print("\nRotate right by 4:", rotate_list(original_list, 4, 'right'))
print("Rotate right by 2:", rotate_list(original_list, 2, 'right'))

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Rotate left by 4: [5, 6, 7, 8, 9, 10, 1, 2, 3, 4]
Rotate left by 2: [3, 4, 5, 6, 7, 8, 9, 10, 1, 2]

Rotate right by 4: [7, 8, 9, 10, 1, 2, 3, 4, 5, 6]
Rotate right by 2: [9, 10, 1, 2, 3, 4, 5, 6, 7, 8]

110. Write a Python program to find the item with the most occurrences in a given list.

Original list:
[2, 3, 8, 4, 7, 9, 8, 2, 6, 5, 1, 6, 1, 2, 3, 4, 6, 9, 1, 2]
Item with maximum occurrences of the said list:
2

In [ ]:
from collections import Counter

list110 = [2, 3, 8, 4, 7, 9, 8, 2, 6, 5, 1, 6, 1, 2, 3, 4, 6, 9, 1, 2]

def item_occ(l1):
  count = Counter(l1)
  return max(count, key=count.get)

print("Item with maximum occurrences of the said list: ", item_occ(list110))

Item with maximum occurrences of the said list:  2

In [ ]:
def item_occ_2(l1):
  occurences = {}
  for item in l1:
    if item in occurences:
      occurences[item] += 1
    else:
      occurences[item] = 1

  max_item = None
  max_count = 0
  for item, count in occurences.items():
    if count > max_count:
      max_count = count
      max_item = item
  return max_item

print("Item with maximum occurrences of the said list: ", item_occ_2(list110))

Item with maximum occurrences of the said list:  2

111. Write a Python program to access multiple elements at a specified index from a given list.

Original list:
[2, 3, 8, 4, 7, 9, 8, 2, 6, 5, 1, 6, 1, 2, 3, 4, 6, 9, 1, 2]
Index list:
[0, 3, 5, 7, 10]
Items with specified index of the said list:
[2, 4, 9, 2, 1]

In [ ]:
list111= [2, 3, 8, 4, 7, 9, 8, 2, 6, 5, 1, 6, 1, 2, 3, 4, 6, 9, 1, 2]
indexlist = [0, 3, 5, 7, 10]

def index_ele(l1, l2):
  new_list = []
  for i in l2:
    new_list.append(l1[i])
  return new_list

print("Items with specified index of the said list: ", index_ele(list111, indexlist))

Items with specified index of the said list:  [2, 4, 9, 2, 1]

112. Write a Python program to check whether a specified list is sorted or not.

Original list:
[1, 2, 4, 6, 8, 10, 12, 14, 16, 17]
Is the said list is sorted!
True
Original list:
[1, 2, 4, 6, 8, 10, 12, 14, 16, 17]
Is the said list is sorted!
False

In [ ]:
list112 = [1, 2, 4, 6, 8, 10, 12, 14, 22, 16, 17]

def sorted_check(l1):
  return l1 == sorted(l1)

print("Is the said list is sorted!", sorted_check(list112))

Is the said list is sorted! False

113. Write a Python program to remove duplicate dictionary entries from a given list.

Original list with duplicate dictionary:
[{'Green': '#008000'}, {'Black': '#000000'}, {'Blue': '#0000FF'}, {'Green': '#008000'}]
After removing duplicate dictionary of the said list:
[{'Black': '#000000'}, {'Blue': '#0000FF'}, {'Green': '#008000'}]

In [ ]:
list113 = [{'Green': '#008000'}, {'Black': '#000000'}, {'Blue': '#0000FF'}, {'Green': '#008000'}]

def dupli_ele(l1):
  new_list = []
  for i in l1:
    if i not in new_list:
      new_list.append(i)
  return new_list

print("After removing duplicate dictionary of the said list: ", dupli_ele(list113))

After removing duplicate dictionary of the said list:  [{'Green': '#008000'}, {'Black': '#000000'}, {'Blue': '#0000FF'}]

114. Write a Python program to extract the nth element from a given list of tuples.

Original list:
[('Greyson Fulton', 98, 99), ('Brady Kent', 97, 96), ('Wyatt Knott', 91, 94), ('Beau Turnbull', 94, 98)]
Extract nth element ( n = 0 ) from the said list of tuples:
['Greyson Fulton', 'Brady Kent', 'Wyatt Knott', 'Beau Turnbull']
Extract nth element ( n = 2 ) from the said list of tuples:
[99, 96, 94, 98]

In [ ]:
list114 = [('Greyson Fulton', 98, 99), ('Brady Kent', 97, 96), ('Wyatt Knott', 91, 94), ('Beau Turnbull', 94, 98)]

def tuple_ele(l1, n):
  new_list = []
  for i in l1:
    for j in range(0, len(i)):
      if j == n:
        new_list.append(i[j])
  return new_list

print("Extract nth element ( n = 0 ) from the said list of tuples: ", tuple_ele(list114, 0))
print("Extract nth element ( n = 2 ) from the said list of tuples: ", tuple_ele(list114, 2))

Extract nth element ( n = 0 ) from the said list of tuples:  ['Greyson Fulton', 'Brady Kent', 'Wyatt Knott', 'Beau Turnbull']
Extract nth element ( n = 2 ) from the said list of tuples:  [99, 96, 94, 98]

115. Write a  Python program to check if the elements of a given list are unique or not.

Original list:
[1, 2, 4, 6, 8, 2, 1, 4, 10, 12, 14, 12, 16, 17]
Is the said list contains all unique elements!
False
Original list:
[2, 4, 6, 8, 10, 12, 14]
Is the said list contains all unique elements!
True

In [ ]:
list115 = [1, 2, 4, 6, 8, 2, 1, 4, 10, 12, 14, 12, 16, 17]
list115b = [2, 4, 6, 8, 10, 12, 14]

print(set(list115))
print(set(list115b))

def uniq_ele(l1):
  return len(set(l1)) == len(l1)

print("Is the said list contains all unique elements!", uniq_ele(list115))

{1, 2, 4, 6, 8, 10, 12, 14, 16, 17}
{2, 4, 6, 8, 10, 12, 14}
Is the said list contains all unique elements! False

116. Write a Python program to sort a list of lists by a given index of the inner list.

Original list:
[('Greyson Fulton', 98, 99), ('Brady Kent', 97, 96), ('Wyatt Knott', 91, 94), ('Beau Turnbull', 94, 98)]
Sort the said list of lists by a given index ( Index = 0 ) of the inner list
[('Beau Turnbull', 94, 98), ('Brady Kent', 97, 96), ('Greyson Fulton', 98, 99), ('Wyatt Knott', 91, 94)]
Sort the said list of lists by a given index ( Index = 2 ) of the inner list
[('Wyatt Knott', 91, 94), ('Brady Kent', 97, 96), ('Beau Turnbull', 94, 98), ('Greyson Fulton', 98, 99)]

In [ ]:
list116 = [('Greyson Fulton', 98, 99), ('Brady Kent', 97, 96), ('Wyatt Knott', 91, 94), ('Beau Turnbull', 94, 98)]

def sort_inner(l1, n):
    return sorted(l1, key = lambda x:x[n])

print("Sort the said list of lists by a given index ( Index = 0 ) of the inner list: ", sort_inner(list116, 0))
print("Sort the said list of lists by a given index ( Index = 2 ) of the inner list: ", sort_inner(list116, 2))

Sort the said list of lists by a given index ( Index = 0 ) of the inner list:  [('Beau Turnbull', 94, 98), ('Brady Kent', 97, 96), ('Greyson Fulton', 98, 99), ('Wyatt Knott', 91, 94)]
Sort the said list of lists by a given index ( Index = 2 ) of the inner list:  [('Wyatt Knott', 91, 94), ('Brady Kent', 97, 96), ('Beau Turnbull', 94, 98), ('Greyson Fulton', 98, 99)]

117. Write a Python program to remove all elements from a given list that are present in another list.

Original lists:
list1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2: [2, 4, 6, 8]
Remove all elements from 'list1' present in 'list2:
[1, 3, 5, 7, 9, 10]

In [ ]:
list117a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list117b = [2, 4, 6, 8]

def remove_ele(l1, l2):
  new_list = []
  for i in range(0, len(l1)):
    if l1[i] not in l2:
      new_list.append(l1[i])
  return new_list

print("Remove all elements from 'list1' present in 'list2: ", remove_ele(list117a, list117b))

Remove all elements from 'list1' present in 'list2:  [1, 3, 5, 7, 9, 10]

118. Write a Python program to find the difference between elements (n+1th - nth) of a given list of numeric values.

Original list:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Dfference between elements (n+1th - nth) of the said list :
[1, 1, 1, 1, 1, 1, 1, 1, 1]
Original list:
[2, 4, 6, 8]
Dfference between elements (n+1th - nth) of the said list :
[2, 2, 2]

In [ ]:
list118 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def ele_diff(l1):
  diff_list = []
  for i in range(1, len(l1) - 1):
    diff_list.append(l1[i+1] - l1[i])
  return diff_list

print("Dfference between elements (n+1th - nth) of the said list :", ele_diff(list118))

Dfference between elements (n+1th - nth) of the said list : [1, 1, 1, 1, 1, 1, 1, 1]

119. Write a Python program to check if a substring appears in a given list of string values.

Original list:
['red', 'black', 'white', 'green', 'orange']
Substring to search:
ack
Check if a substring presents in the said list of string values:
True
Substring to search:
abc
Check if a substring presents in the said list of string values:
False

In [ ]:
list119 = ['red', 'black', 'white', 'green', 'orange']

def sub_search(l1, substring):
    print("Substring to search:", substring)
    for i in l1:
        if substring in i:  # Check if substring is in the current string
            return True
    return False

print("Check if a substring presents in the said list of string values: ", sub_search(list119, 'ack'))

Substring to search: ack
Check if a substring presents in the said list of string values:  True

120. Write a Python program to create a list taking alternate elements from a given list.

Original list:
['red', 'black', 'white', 'green', 'orange']
List with alternate elements from the said list:
['red', 'white', 'orange']
Original list:
[2, 0, 3, 4, 0, 2, 8, 3, 4, 2]
List with alternate elements from the said list:
[2, 3, 0, 8, 4]

In [ ]:
list120 = ['red', 'black', 'white', 'green', 'orange']
list120b = [2, 0, 3, 4, 0, 2, 8, 3, 4, 2]

def alternate_ele(l1):
     return l1[::2]  # Slicing with a step of 2 to take alternate elements


print("List with alternate elements from the said list: ", alternate_ele(list120))
print("List with alternate elements from the said list: ", alternate_ele(list120b))

List with alternate elements from the said list:  ['red', 'white', 'orange']
List with alternate elements from the said list:  [2, 3, 0, 8, 4]

121. Write a Python program to find nested list elements that are present in another list.

Original lists:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[[12, 18, 23, 25, 45], [7, 11, 19, 24, 28], [1, 5, 8, 18, 15, 16]]
Intersection of said nested lists:
[[12], [7, 11], [1, 5, 8]]

In [ ]:
a121 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
b121 = [[12, 18, 23, 25, 45], [7, 11, 19, 24, 28], [1, 5, 8, 18, 15, 16]]

def same_ele_inotherlist(l1, l2):
  new_list = []
  for i in l2:
    for j in i:
      if j in l1:
        new_list.append(j)
  return j

print("Intersection of said nested lists: ")
[[12], [7, 11], [1, 5, 8]]

Intersection of said nested lists:

[[12], [7, 11], [1, 5, 8]]

122. Write a Python program to find common elements in a nested list.
Original lists:

[[12, 18, 23, 25, 45], [7, 12, 18, 24, 28], [1, 5, 8, 12, 15, 16, 18]]
Common element(s) in nested lists:
[18, 12]

In [ ]:
a122 = [[12, 18, 23, 25, 45], [7, 12, 18, 24, 28], [1, 5, 8, 12, 15, 16, 18]]

def common_ele(l1):
  new_list = []
  for i in l1:
    for j in i:
      for k in range(l1.index(i)+1, len(l1)):
        if j in l1[k]:
          if j not in new_list:
            new_list.append(j)
  return new_list

print("Common element(s) in nested lists: ", common_ele(a122))

Common element(s) in nested lists:  [12, 18]

123. Write a Python program to reverse strings in a given list of string values.

Original lists:
['Red', 'Green', 'Blue', 'White', 'Black']
Reverse strings of the said given list:
['deR', 'neerG', 'eulB', 'etihW', 'kcalB']

In [ ]:
a123 = ['Red', 'Green', 'Blue', 'White', 'Black']

def reverse_string(l1):
  new_list = []

  for i in l1:
    string_a = ''
    for j in range(len(i) - 1, -1, -1):
      string_a += i[j]
    new_list.append(string_a)
  return new_list

print("Reverse strings of the said given list: ",reverse_string(a123))

Reverse strings of the said given list:  ['deR', 'neerG', 'eulB', 'etihW', 'kcalB']

124. Write a Python program to find the maximum and minimum product of pairs of tuples within a given list.

The original list, tuple :
[(2, 7), (2, 6), (1, 8), (4, 9)]
Maximum and minimum product from the pairs of the said tuple of list:
(36, 8)

In [ ]:
a124 = [(2, 7), (2, 6), (1, 8), (4, 9)]

def max_min_product(l1):
  max_p = l1[0][0] * l1[0][1]
  min_p = l1[0][0] * l1[0][1]

  for tup in l1:
    prod = tup[0] * tup[1]
    if prod > max_p:
      max_p = prod
    if prod < min_p:
      min_p = prod
  return (max_p, min_p)

print("Maximum and minimum product from the pairs of the said tuple of list: ", max_min_product(a124))

Maximum and minimum product from the pairs of the said tuple of list:  (36, 8)

125. Write a Python program to calculate the product of the unique numbers in a given list.

Original List : [10, 20, 30, 40, 20, 50, 60, 40]
Product of the unique numbers of the said list: 720000000

In [ ]:
a125 = [10, 20, 30, 40, 20, 50, 60, 40]

def uni_prod(l1):
  new_list = []
  prod = 1
  for i in l1:
    if i not in new_list:
      new_list.append(i)
  for j in new_list:
      prod *= j
  return prod

print("Product of the unique numbers of the said list: ", uni_prod(a125))

Product of the unique numbers of the said list:  720000000

126. Write a Python program to interleave multiple lists of the same length.

Original list:
list1: [1, 2, 3, 4, 5, 6, 7]
list2: [10, 20, 30, 40, 50, 60, 70]
list3: [100, 200, 300, 400, 500, 600, 700]
Interleave multiple lists:
[1, 10, 100, 2, 20, 200, 3, 30, 300, 4, 40, 400, 5, 50, 500, 6, 60, 600, 7, 70, 700]

In [ ]:
a126 = [1, 2, 3, 4, 5, 6, 7]
b126 = [10, 20, 30, 40, 50, 60, 70]
c126 = [100, 200, 300, 400, 500, 600, 700]

def interleave_list(l1, l2, l3):
  new_list = []
  for i in range(len(l1)):
    new_list.append(l1[i])
    new_list.append(l2[i])
    new_list.append(l3[i])
  return new_list

print("Interleave multiple lists: ", interleave_list(a126,b126, c126))

Interleave multiple lists:  [1, 10, 100, 2, 20, 200, 3, 30, 300, 4, 40, 400, 5, 50, 500, 6, 60, 600, 7, 70, 700]

127. Write a Python program to remove words from a given list of strings containing a character or string.

Original list:
list1: ['Red color', 'Orange#', 'Green', 'Orange @', 'White']
Character list:
['#', 'color', '@']
New list:
['Red', '', 'Green', 'Orange', 'White']

In [ ]:
a127 = ['Red color', 'Orange#', 'Green', 'Orange @', 'White']
b127 = ['#', 'color', '@']

def remove_char_strings(l1, l2):
  new_list = []
  for string in l1:
    modified_string = string
    for char in l2:
      if char in modified_string:
        modified_string = modified_string.replace(char, '').strip()
    new_list.append(modified_string)
  return new_list

print("New_list: ", remove_char_strings(a127, b127))

New_list:  ['Red', 'Orange', 'Green', 'Orange', 'White']

128. Write a Python program to calculate the sum of the numbers in a list between the indices of a specified range.

Original list:
[2, 1, 5, 6, 8, 3, 4, 9, 10, 11, 8, 12]
Range: 8 , 10
Sum of the specified range:
29

In [ ]:
a128 = [2, 1, 5, 6, 8, 3, 4, 9, 10, 11, 8, 12]

def sum_num(l1, min_range, max_range):
  new_list = []
  sum = 0
  for i in range(min_range, max_range+1):
    new_list.append(l1[i])
  print(new_list)
  for j in new_list:
    sum += j
  return sum

print("Sum of the specified range: ", sum_num(a128, 8, 10))

[10, 11, 8]
Sum of the specified range:  29

129. Write a Python program to reverse each list in a given list of lists.

Original list of lists:
[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]
Reverse each list in the said list of lists:
[[4, 3, 2, 1], [8, 7, 6, 5], [12, 11, 10, 9], [16, 15, 14, 13]]

In [ ]:
a129 = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

def reverse_each_list(l1):
  outer_list = []

  for sublist in l1:
    inner_list = []
    for j in range(len(sublist) - 1, -1, -1):
      inner_list.append(sublist[j])
    outer_list.append(inner_list)
  return outer_list

print("Reverse each list in the said list of lists: ", reverse_each_list(a129))

Reverse each list in the said list of lists:  [[4, 3, 2, 1], [8, 7, 6, 5], [12, 11, 10, 9], [16, 15, 14, 13]]

130. Write a Python program to count the same pair in three given lists.

Original lists:

[1, 2, 3, 4, 5, 6, 7, 8]
[2, 2, 3, 1, 2, 6, 7, 9]
[2, 1, 3, 1, 2, 6, 7, 9]
Number of same pair of the said three given lists:
3

In [ ]:
a130 = [1, 2, 3, 4, 5, 6, 7, 8]
b130 = [2, 2, 3, 1, 2, 6, 7, 9]
c130 = [2, 1, 3, 1, 2, 6, 7, 9]

def same_pair(l1, l2, l3): # Count of indeces where same number is there in all 3 lists
  count = 0
  for i in range(len(l1)):
    if l1[i] == l2[i] == l3[i]:
      count += 1
  return count

print("Number of same pair of the said three given lists: ", same_pair(a130, b130, c130))

Number of same pair of the said three given lists:  3

131. Write a Python program to count the frequency of consecutive duplicate elements in a given list of numbers.

Original lists:
[1, 2, 2, 2, 4, 4, 4, 5, 5, 5, 5]
Consecutive duplicate elements and their frequency:
([1, 2, 4, 5], [1, 3, 3, 4])

In [ ]:
a131 = [1, 2, 2, 2, 4, 4, 4, 5, 5, 5, 5]

def num_frequency(l1):
    new_list = []  # List to store unique consecutive elements
    count_list = []  # List to store their frequencies
    count = 1  # Initialize count for the first element

    for i in range(1, len(l1)):
        if l1[i] == l1[i-1]:
            count += 1  # Increment count if current element is same as previous
        else:
            new_list.append(l1[i-1])  # Append the previous element
            count_list.append(count)  # Append its count
            count = 1  # Reset count for the next new element

    # Append the last element and its count
    new_list.append(l1[-1])
    count_list.append(count)

    return (new_list, count_list)

print("Consecutive duplicate elements and their frequency:", num_frequency(a131))

Consecutive duplicate elements and their frequency: ([1, 2, 4, 5], [1, 3, 3, 4])

132. Write a Python program to find all index positions of the maximum and minimum values in a given list of numbers.

Original list:
[12, 33, 23, 10, 67, 89, 45, 667, 23, 12, 11, 10, 54]
Index positions of the maximum value of the said list:
7
Index positions of the minimum value of the said list:
3, 11

In [ ]:
a132 = [12, 33, 23, 10, 67, 89, 45, 667, 23, 12, 11, 10, 54]

def min_max_position(l1):

  min_value = l1[0]
  max_value = l1[0]
  max_index = []
  min_index = []

  for i in l1:
    if i >= max_value:
      max_value = i
    if i <= min_value:
      min_value = i

  for i in range(len(l1)):
    if l1[i] == max_value:
      max_index.append(i)
    if l1[i] == min_value:
      min_index.append(i)

  print("Index positions of the maximum value of the said list: ", max_index)
  print("Index positions of the minimum value of the said list: ", min_index)

min_max_position(a132)

Index positions of the maximum value of the said list:  [7]
Index positions of the minimum value of the said list:  [3, 11]

133. Write a Python program to check if two lists have the same elements in them in same order or not.

Original lists:
['red', 'green', 'black', 'orange']
['red', 'pink', 'green', 'white', 'black']
['white', 'orange', 'pink', 'black']
Test common elements between color1 and color2 are in same order?
True
Test common elements between color1 and color3 are in same order?
False
Test common elements between color2 and color3 are in same order?
False

In [ ]:
a133 = ['red', 'green', 'black', 'orange']
b133 = ['red', 'pink', 'green', 'white', 'black']
c133 = ['white', 'orange', 'pink', 'black']

def list_ele_order(l1, l2):
  common_ele_1 = []
  common_ele_2 = []
  for i in range(len(l1)):
    if l1[i] in l2:
      common_ele_1.append(l1[i])
  for j in range(len(l2)):
    if l2[j] in common_ele_1:
      common_ele_2.append(l2[j])
  return common_ele_1 == common_ele_2


print("Test common elements between color1 and color2 are in same order? :", list_ele_order(a133, b133))
print("Test common elements between color1 and color3 are in same order? :", list_ele_order(b133, c133))
print("Test common elements between color2 and color3 are in same order? :", list_ele_order(c133, a133))

Test common elements between color1 and color2 are in same order? : True
Test common elements between color1 and color3 are in same order? : False
Test common elements between color2 and color3 are in same order? : False

134. Write a  Python program to find the difference between two lists including duplicate elements.

Original lists:
[1, 1, 2, 3, 3, 4, 4, 5, 6, 7]
[1, 1, 2, 4, 5, 6]
Difference between two said list including duplicate elements):
[3, 3, 4, 7]

In [ ]:
a134 = [1, 1, 2, 3, 3, 4, 4, 5, 6, 7]
b134 = [1, 1, 2, 4, 5, 6]

def list_diff_including_common(l1, l2):
    l1_copy = l1[:]  # Create a copy of l1 to avoid modifying the original list
    for element in l2:
        if element in l1_copy:
            l1_copy.remove(element)  # Remove the element from the copy of l1 if it's in l2
    return l1_copy

print("Difference between two said list including duplicate elements:", list_diff_including_common(a134, b134))

Difference between two said list including duplicate elements: [3, 3, 4, 7]

135. Write a Python program to iterate over all pairs of consecutive items in a given list.

Original lists:
[1, 1, 2, 3, 3, 4, 4, 5]
Iterate over all pairs of consecutive items of the said list:
[(1, 1), (1, 2), (2, 3), (3, 3), (3, 4), (4, 4), (4, 5)]

In [ ]:
a135 = [1, 1, 2, 3, 3, 4, 4, 5]

def list_pair(l1):
  new_list = []
  for i in range(1, len(l1)):
    new_list.append((l1[i-1], l1[i]))
  return new_list

print("Iterate over all pairs of consecutive items of the said list: ", list_pair(a135))

Iterate over all pairs of consecutive items of the said list:  [(1, 1), (1, 2), (2, 3), (3, 3), (3, 4), (4, 4), (4, 5)]

In [ ]:
a136 = ['Python', 'Exercises', 'Practice', 'Solution', 'Exercises']

def remove_dup_string(l1):
  new_list = []
  for i in l1:
    if i not in new_list:
      new_list.append(i)
  return new_list

print("After removing duplicate words from the said list of strings: ", remove_dup_string(a136))

After removing duplicate words from the said list of strings:  ['Python', 'Exercises', 'Practice', 'Solution']

137. Write a Python program to find the first even and odd number in a given list of numbers.

Original list:
[1, 3, 5, 7, 4, 1, 6, 8]
First even and odd number of the said list of numbers:
(4, 1)

In [ ]:
a137 = [1, 3, 5, 7, 4, 1, 6, 8]

def first_even_odd(l1):
  f_ev = [i for i in l1 if i % 2 == 0]
  f_od = [i for i in l1 if i % 2 != 0]
  return (f_ev[0], f_od[0])

print("First even and odd number of the said list of numbers: ", first_even_odd(a137))

First even and odd number of the said list of numbers:  (4, 1)

138. Write a Python program to sort a given mixed list of integers and strings. Numbers must be sorted before strings.

Original list:
[19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]
Sort the said mixed list of integers and strings:
[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

In [ ]:
a138 = [19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]

def sort_num_Str(l1):
  num_list = []
  str_list = []

  for i in l1:
    if isinstance(i, int) == True:
      num_list.append(i)
    else:
      str_list.append(i)
  return sorted(num_list) + sorted(str_list)

print("Sort the said mixed list of integers and strings: ", sort_num_Str(a138))

Sort the said mixed list of integers and strings:  [1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

139. Write a Python program to sort a given list of strings(numbers) numerically.

Original list:
['4', '12', '45', '7', '0', '100', '200', '-12', '-500']
Sort the said list of strings(numbers) numerically:
[-500, -12, 0, 4, 7, 12, 45, 100, 200]

In [ ]:
a139 = ['4', '12', '45', '7', '0', '100', '200', '-12', '-500']

def num_sort(l1):
  new_list = []
  for i in l1:
    i = int(i)
    new_list.append(i)
  return sorted(new_list)

print("Sort the said list of strings(numbers) numerically: ", num_sort(a139))

Sort the said list of strings(numbers) numerically:  [-500, -12, 0, 4, 7, 12, 45, 100, 200]

140. Write a Python program to remove a specific item from a given list of lists.

Original list of lists:
[['Red', 'Maroon', 'Yellow', 'Olive'], ['#FF0000', '#800000', '#FFFF00', '#808000'], ['rgb(255,0,0)', 'rgb(128,0,0)', 'rgb(255,255,0)', 'rgb(128,128,0)']]

Remove 1st list from the saod given list of lists:
[['Maroon', 'Yellow', 'Olive'], ['#800000', '#FFFF00', '#808000'], ['rgb(128,0,0)', 'rgb(255,255,0)', 'rgb(128,128,0)']]

Remove 2nd list from the saod given list of lists:
[['Red', 'Yellow', 'Olive'], ['#FF0000', '#FFFF00', '#808000'], ['rgb(255,0,0)', 'rgb(255,255,0)', 'rgb(128,128,0)']]

Remove 4th list from the saod given list of lists:
[['Red', 'Maroon', 'Yellow'], ['#FF0000', '#800000', '#FFFF00'], ['rgb(255,0,0)', 'rgb(128,0,0)', 'rgb(255,255,0)']]

In [ ]:
def remove_sublist(l1, n):
  for i in l1:
    for j in range(0, len(i)):
      if j == n:
        i.remove(i[j])
  return l1

a140 = [['Red', 'Maroon', 'Yellow', 'Olive'], ['#FF0000', '#800000', '#FFFF00', '#808000'], ['rgb(255,0,0)', 'rgb(128,0,0)', 'rgb(255,255,0)', 'rgb(128,128,0)']]
print("Remove 1st list from the saod given list of lists:", remove_sublist(a140, 0))

a140 = [['Red', 'Maroon', 'Yellow', 'Olive'], ['#FF0000', '#800000', '#FFFF00', '#808000'], ['rgb(255,0,0)', 'rgb(128,0,0)', 'rgb(255,255,0)', 'rgb(128,128,0)']]
print("Remove 2nd list from the saod given list of lists:", remove_sublist(a140, 1))

a140 = [['Red', 'Maroon', 'Yellow', 'Olive'], ['#FF0000', '#800000', '#FFFF00', '#808000'], ['rgb(255,0,0)', 'rgb(128,0,0)', 'rgb(255,255,0)', 'rgb(128,128,0)']]
print("Remove 4th list from the saod given list of lists:", remove_sublist(a140, 3))

Remove 1st list from the saod given list of lists: [['Maroon', 'Yellow', 'Olive'], ['#800000', '#FFFF00', '#808000'], ['rgb(128,0,0)', 'rgb(255,255,0)', 'rgb(128,128,0)']]
Remove 2nd list from the saod given list of lists: [['Red', 'Yellow', 'Olive'], ['#FF0000', '#FFFF00', '#808000'], ['rgb(255,0,0)', 'rgb(255,255,0)', 'rgb(128,128,0)']]
Remove 4th list from the saod given list of lists: [['Red', 'Maroon', 'Yellow'], ['#FF0000', '#800000', '#FFFF00'], ['rgb(255,0,0)', 'rgb(128,0,0)', 'rgb(255,255,0)']]

141. Write a Python program to remove empty lists from a given list of lists.

Original list:
[[], [], [], 'Red', 'Green', [1, 2], 'Blue', [], []]
After deleting the empty lists from the said lists of lists
['Red', 'Green', [1, 2], 'Blue']

In [ ]:
a141 = [[], [], [], 'Red', 'Green', [1, 2], 'Blue', [], []]

def remove_empty(l1):
  new_list = []
  for i in l1:
    if i:
      new_list.append(i)
  return new_list

print("After deleting the empty lists from the said lists of lists: ", remove_empty(a141))

After deleting the empty lists from the said lists of lists:  ['Red', 'Green', [1, 2], 'Blue']

142. Write a Python program to sum a specific column of a list in a given list of lists.

Original list of lists:
[[1, 2, 3, 2], [4, 5, 6, 2], [7, 8, 9, 5]]
Sum: 1st column of the said list of lists:
12
Sum: 2nd column of the said list of lists:
15
Sum: 4th column of the said list of lists:
9

In [ ]:
a142 = [[1, 2, 3, 2], [4, 5, 6, 2], [7, 8, 9, 5]]

def column_sum(l1, n):
  col_sum = 0
  for sublist in l1:
      if n< len(sublist):
        col_sum += sublist[n]
  return col_sum

print("Sum: 1st column of the said list of lists: ", column_sum(a142, 0))
print("Sum: 2nd column of the said list of lists: ", column_sum(a142, 1))
print("Sum: 4th column of the said list of lists: ", column_sum(a142, 3))

Sum: 1st column of the said list of lists:  12
Sum: 2nd column of the said list of lists:  15
Sum: 4th column of the said list of lists:  9

143. Write a Python program to get the frequency of elements in a given list of lists.

Original list of lists:
[[1, 2, 3, 2], [4, 5, 6, 2], [7, 8, 9, 5]]
Frequency of the elements in the said list of lists:
{1: 1, 2: 3, 3: 1, 4: 1, 5: 2, 6: 1, 7: 1, 8: 1, 9: 1}

In [ ]:
a143 = [[1, 2, 3, 2], [4, 5, 6, 2], [7, 8, 9, 5]]

def freq_list(l1):
  freq_dict = {}
  count = 0
  for i in l1:
    for j in i:
      if j in freq_dict:
        freq_dict[j] += 1
      else:
        freq_dict[j] = 1
  return freq_dict

print("Frequency of the elements in the said list of lists: ", freq_list(a143))

Frequency of the elements in the said list of lists:  {1: 1, 2: 3, 3: 1, 4: 1, 5: 2, 6: 1, 7: 1, 8: 1, 9: 1}

144. Write a Python program to extract every first or specified element from a given two-dimensional list.

Original list of lists:
[[1, 2, 3, 2], [4, 5, 6, 2], [7, 1, 9, 5]]
Extract every first element from the said given two dimensional list:
[1, 4, 7]
Extract every third element from the said given two dimensional list:
[3, 6, 9]

In [ ]:
a144 =[[1, 2, 3, 2], [4, 5, 6, 2], [7, 1, 9, 5]]

def extract_ele(l1, n):
  new_list = []
  for i in l1:
    new_list.append(i[n])
  return new_list

print("Extract every first element from the said given two dimensional list: ", extract_ele(a144, 0))
print("Extract every third element from the said given two dimensional list: ", extract_ele(a144, 2))

Extract every first element from the said given two dimensional list:  [1, 4, 7]
Extract every third element from the said given two dimensional list:  [3, 6, 9]

145. Write a Python program to generate a number in a specified range except for some specific numbers.

Generate a number in a specified range (1, 10) except [2, 9, 10]
7
Generate a number in a specified range (-5, 5) except [-5,0,4,3,2]
-4

In [ ]:
import random

def generate_range(min_val, max_val, num):
  new_list = []
  for i in range(min_val, max_val + 1):
    new_list.append(i)

  for n in num:
    new_list.remove(n)

  return random.choice(new_list)

print("Generate a number in a specified range (1, 10) except [2, 9, 10] : ", generate_range(1, 10,  [2, 9, 10] ))
print("Generate a number in a specified range (-5, 5) except [-5,0,4,3,2] : ", generate_range(-5, 5,[-5,0,4,3,2]))

Generate a number in a specified range (1, 10) except [2, 9, 10] :  3
Generate a number in a specified range (-5, 5) except [-5,0,4,3,2] :  -4

146. Write a Python program to compute the sum of digits of each number in a given list.

Original tuple:
[10, 2, 56]
Sum of digits of each number of the said list of integers:
14
Original tuple:
[10, 20, 4, 5, 'b', 70, 'a']
Sum of digits of each number of the said list of integers:
19
Original tuple:
[10, 20, -4, 5, -70]
Sum of digits of each number of the said list of integers:
19

In [ ]:
a146 = [10, 2, 56]
b146 = [10, 20, 4, 5, 'b', 70, 'a']
c146 = [10, 20, -4, 5, -70]

def sum_digit(l1):
  sum_total = 0
  for i in l1:
    if isinstance(i, int):
      num = abs(i)
      while num > 0:
        sum_total += num % 10 #get the last digit
        num //= 10 #remove the last digit
  return sum_total

print("Sum of digits of each number of the said list of integers: ", sum_digit(a146))
print("Sum of digits of each number of the said list of integers: ", sum_digit(b146))
print("Sum of digits of each number of the said list of integers: ", sum_digit(c146))

Sum of digits of each number of the said list of integers:  14
Sum of digits of each number of the said list of integers:  19
Sum of digits of each number of the said list of integers:  19

In [ ]:
import random

a147 = [1, 2, 7, 8, 3, 7]
b147 = [4, 3, 8, 9, 4, 3, 8, 9]

def random_interleave(l1, l2):
  new_list = l1 + l2
  random.shuffle(new_list)
  return new_list


print("Interleave two given list into another list randomly: ", random_interleave(a147, b147))

Interleave two given list into another list randomly:  [3, 8, 9, 3, 7, 8, 8, 4, 4, 9, 2, 3, 1, 7]

In [ ]:
a148 = ['red', 'green', 'blue', 'white', 'black', 'orange']
b148 = ['white', 'orange']

def remove_list(l1, rw):
  new_list = []
  print("Remove words: ")
  print(rw)

  for i in l1:
    if i not in rw:
      new_list.append(i)
  return new_list

print("After removing the specified words from the said list: ", remove_list(a148, b148))

Remove words:
['white', 'orange']
After removing the specified words from the said list:  ['red', 'green', 'blue', 'black']

149. Write a Python program to get all possible combinations of the elements of a given list.
Original list:
['orange', 'red', 'green', 'blue']
All possible combinations of the said list's elements:
[[], ['orange'], ['red'], ['red', 'orange'], ['green'], ['green', 'orange'], ['green', 'red'], ['green', 'red', 'orange'], ['blue'], ['blue', 'orange'], ['blue', 'red'], ['blue', 'red', 'orange'], ['blue', 'green'], ['blue', 'green', 'orange'], ['blue', 'green', 'red'], ['blue', 'green', 'red', 'orange']]

In [ ]:
import itertools

a149 = ['orange', 'red', 'green', 'blue']

def all_combination(l1):
  result = [[]]

  for r in range(1, len(l1) + 1):
    combinations = itertools.combinations(l1, r)
    for combo in combinations:
      result.append(list(combo))
  return result

print("Original list:", a149)
print("All possible combinations of the said list's elements:")
print(all_combination(a149))

Original list: ['orange', 'red', 'green', 'blue']
All possible combinations of the said list's elements:
[[], ['orange'], ['red'], ['green'], ['blue'], ['orange', 'red'], ['orange', 'green'], ['orange', 'blue'], ['red', 'green'], ['red', 'blue'], ['green', 'blue'], ['orange', 'red', 'green'], ['orange', 'red', 'blue'], ['orange', 'green', 'blue'], ['red', 'green', 'blue'], ['orange', 'red', 'green', 'blue']]

In [ ]:
a150 = [['orange', 'red'], ['green', 'blue'], ['white', 'black', 'pink']]
b150 = [[1, 2, 3, 4], [0, 2, 4, 5], [2, 3, 4, 2, 4]]

def reverse_list(l1):
  new_list = []
  for i in range(len(l1) - 1, -1, -1):
    new_list.append(l1[i])
  return new_list

print("Reverse said list of lists: ", reverse_list(a150))
print("Reverse said list of lists: ", reverse_list(b150))

Reverse said list of lists:  [['white', 'black', 'pink'], ['green', 'blue'], ['orange', 'red']]
Reverse said list of lists:  [[2, 3, 4, 2, 4], [0, 2, 4, 5], [1, 2, 3, 4]]

151. Write a Python program to find the maximum and minimum values in a given list within a specified index range.

Original list:
[4, 3, 0, 5, 3, 0, 2, 3, 4, 2, 4, 3, 5]
Index range:
3 to 8
Maximum and minimum values of the said given list within index range:
(5, 0)

In [ ]:
a151 = [4, 3, 0, 5, 3, 0, 2, 3, 4, 2, 4, 3, 5]

def min_max_range(l1, min_val, max_val):

  new_list = [i for i in l1[min_val:max_val]]
  min_ele = new_list[0]
  max_ele = new_list[0]
  for i in new_list:
    if i < min_ele:
      min_ele = i
    if i > max_ele:
      max_ele = i

  return (min_ele, max_ele)
print("Maximum and minimum values of the said given list within index range: ", min_max_range(a151, 3, 8))

Maximum and minimum values of the said given list within index range:  (0, 5)

152. Write a Python program to combine two sorted lists using the heapq module.

Original sorted lists:
[1, 3, 5, 7, 9, 11]
[0, 2, 4, 6, 8, 10]
After merging the said two sorted lists:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
import heapq

a152 = [1, 3, 5, 7, 9, 11]
b152 = [0, 2, 4, 6, 8, 10]

merged_list = list(heapq.merge(a152, b152))
print("Merged List: ", merged_list)

Merged List:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

53. Write a Python program to check if a given element occurs at least n times in a list.

Original list:
[0, 1, 3, 5, 0, 3, 4, 5, 0, 8, 0, 3, 6, 0, 3, 1, 1, 0]
Check if 3 occurs at least 4 times in a list:
True
Check if 0 occurs at least 5 times in a list:
True
Check if 8 occurs at least 3 times in a list:
False

In [ ]:
a153 = [0, 1, 3, 5, 0, 3, 4, 5, 0, 8, 0, 3, 6, 0, 3, 1, 1, 0]

def item_n_timeS(l1, ele, n):
  new_list = []
  count = 0

  for i in l1:
    if i == ele:
      new_list.append(i)
      count += 1
    if count == n:
      return True
  return False

print("Check if 3 occurs at least 4 times in a list: ", item_n_timeS(a153, 3, 4))
print("Check if 0 occurs at least 5 times in a list: ", item_n_timeS(a153, 0, 5))
print("Check if 8 occurs at least 3 times in a list: ", item_n_timeS(a153, 8, 3))

Check if 3 occurs at least 4 times in a list:  True
Check if 0 occurs at least 5 times in a list:  True
Check if 8 occurs at least 3 times in a list:  False

154. Write a Python program to join two given list of lists of the same length, element wise.

Original lists:
[[10, 20], [30, 40], [50, 60], [30, 20, 80]]
[[61], [12, 14, 15], [12, 13, 19, 20], [12]]
Join the said two lists element wise:
[[10, 20, 61], [30, 40, 12, 14, 15], [50, 60, 12, 13, 19, 20], [30, 20, 80, 12]]
Original lists:
[['a', 'b'], ['b', 'c', 'd'], ['e', 'f']]
[['p', 'q'], ['p', 's', 't'], ['u', 'v', 'w']]
Join the said two lists element wise:
[['a', 'b', 'p', 'q'], ['b', 'c', 'd', 'p', 's', 't'], ['e', 'f', 'u', 'v', 'w']]

In [ ]:
a154 = [[10, 20], [30, 40], [50, 60], [30, 20, 80]]
b154 = [[61], [12, 14, 15], [12, 13, 19, 20], [12]]
c154 = [['a', 'b'], ['b', 'c', 'd'], ['e', 'f']]
d154 = [['p', 'q'], ['p', 's', 't'], ['u', 'v', 'w']]

def join_lists(l1, l2):
  new_list = []

  for i in range(len(l1)):
    combined_sublist = []
    for item in l1[i]:
      combined_sublist.append(item)
    for item in l2[i]:
      combined_sublist.append(item)
    new_list.append(combined_sublist)
  return new_list

print("Join the said two lists element wise: ", join_lists(a154, b154))

Join the said two lists element wise:  [[10, 20, 61], [30, 40, 12, 14, 15], [50, 60, 12, 13, 19, 20], [30, 20, 80, 12]]

155. Write a Python program to add two given lists of different lengths, starting on the left.

Original lists:
[2, 4, 7, 0, 5, 8]
[3, 3, -1, 7]
Add said two lists from left:
[5, 7, 6, 7, 5, 8]
Original lists:
[1, 2, 3, 4, 5, 6]
[2, 4, -3]
Add said two lists from left:
[3, 6, 0, 4, 5, 6]

In [ ]:
a155 = [2, 4, 7, 0, 5, 8]
b155 = [3, 3, -1, 7]
c155 = [1, 2, 3, 4, 5, 6]
d155 = [2, 4, -3]

def add_lists_left(l1, l2):
  new_list = []
  min_len = min(len(l1), len(l2))

  for i in range(min_len):
    new_list.append(l1[i] + l2[i])

  if len(l1) > len(l2):
    new_list.extend(l1[min_len:])
  else:
    new_list.extend(l2[min_len:])
  return new_list

print("Add said two lists from left: ", add_lists_left(a155, b155))
print("Add said two lists from left: ", add_lists_left(c155, d155))

Add said two lists from left:  [5, 7, 6, 7, 5, 8]
Add said two lists from left:  [3, 6, 0, 4, 5, 6]

156. Write a Python program to add two given lists of different lengths, starting on the right.

Original lists:
[2, 4, 7, 0, 5, 8]
[3, 3, -1, 7]
Add said two lists from left:
[2, 4, 10, 3, 4, 15]
Original lists:
[1, 2, 3, 4, 5, 6]
[2, 4, -3]
Add said two lists from left:
[1, 2, 3, 6, 9, 3]

In [ ]:
def add_list_right(l1, l2):
  new_list = []
  min_len = min(len(l1), len(l2))

  l1 = l1[::-1] #Reverse both lists to work from right
  l2 = l2[::-1]

  for i in range(min_len):
    new_list.append(l1[i] + l2[i])

  if len(l1) > len(l2):
    new_list.extend(l1[min_len:])
  if len(l2) > len(l1):
    new_list.extend(l2[min_len:])

  return new_list[::-1] # Revrese again and bring back the list in original order


print("Add said two lists from left: ", add_list_right(a155, b155))
print("Add said two lists from left: ", add_list_right(c155, d155))

Add said two lists from left:  [2, 4, 10, 3, 4, 15]
Add said two lists from left:  [1, 2, 3, 6, 9, 3]

157. Write a Python program to interleave lists of varying lengths.

Original lists:
[2, 4, 7, 0, 5, 8]
[2, 5, 8]
[0, 1]
[3, 3, -1, 7]
Interleave said lists of different lengths:
[2, 2, 0, 3, 4, 5, 1, 3, 7, 8, -1, 0, 7, 5, 8]

In [ ]:
a157 = [2, 4, 7, 0, 5, 8]
b157 = [2, 5, 8]
c157 = [0, 1]
d157 = [3, 3, -1, 7]

def interleave_list_diff_len(l1, l2, l3, l4):
  new_list = []
  max_len = max(len(l1), len(l2), len(l3), len(l4))

  for i in range(max_len):
    if i < len(l1):
      new_list.append(l1[i])
    if i < len(l2):
      new_list.append(l2[i])
    if i < len(l3):
      new_list.append(l3[i])
    if i < len(l4):
      new_list.append(l4[i])

  return new_list

print("Interleave said lists of different lengths: ",interleave_list_diff_len (a157, b157, c157, d157))

Interleave said lists of different lengths:  [2, 2, 0, 3, 4, 5, 1, 3, 7, 8, -1, 0, 7, 5, 8]

158. Write a Python program to find the maximum and minimum values in a given list of tuples.

Original list with tuples:
[('V', 60), ('VI', 70), ('VII', 75), ('VIII', 72), ('IX', 78), ('X', 70)]
Maximum and minimum values of the said list of tuples:
(78, 60)

In [ ]:
a158 = [('V', 60), ('VI', 70), ('VII', 75), ('VIII', 72), ('IX', 78), ('X', 70)]

def max_min_tuple(l1):
  max_val = l1[0][1]
  min_val = l1[0][1]

  for tup in l1:
    for i in tup:
      if isinstance(i, int):
        if i < min_val:
          min_val = i
        if i > max_val:
          max_val = i
  return (max_val, min_val)


print("Maximum and minimum values of the said list of tuples: ", max_min_tuple(a158))

Maximum and minimum values of the said list of tuples:  (78, 60)

159. Write a Python program to append the same value/a list multiple times to a list/list-of-lists.

Add a value(7), 5 times, to a list:
['7', '7', '7', '7', '7']
Add 5, 6 times, to a list:
[1, 2, 3, 4, 5, 5, 5, 5, 5, 5]
Add a list, 4 times, to a list of lists:
[[1, 2, 5], [1, 2, 5], [1, 2, 5], [1, 2, 5]]
Add a list, 3 times, to a list of lists:
[[5, 6, 7], [1, 2, 5], [1, 2, 5], [1, 2, 5], [1, 2, 5]]

In [ ]:
def add_list_of_list(l1, ele, n):

  for i in range(n):
    l1.append(ele)
  return l1

print("Add a value(7), 5 times, to a list: ",add_list_of_list([], 7, 5))
print("Add 5, 6 times, to a list: ",add_list_of_list([1, 2, 3, 4, 5], 5, 6))
print("Add a list, 4 times, to a list of lists: ", add_list_of_list([], [1, 2, 5], 4))
print("Add a list, 3 times, to a list of lists:", add_list_of_list([5, 6, 7], [1, 2, 5], 3))

Add a value(7), 5 times, to a list:  [7, 7, 7, 7, 7]
Add 5, 6 times, to a list:  [1, 2, 3, 4, 5, 5, 5, 5, 5, 5, 5]
Add a list, 4 times, to a list of lists:  [[1, 2, 5], [1, 2, 5], [1, 2, 5], [1, 2, 5]]
Add a list, 3 times, to a list of lists: [5, 6, 7, [1, 2, 5], [1, 2, 5], [1, 2, 5]]

160. Write a Python program to remove the first specified number of elements from a given list satisfying a condition.

Remove the first 4 number of even numbers from the following list:
[3,10,4,7,5,7,8,3,3,4,5,9,3,4,9,8,5]
Output:
[3, 7, 5, 7, 3, 3, 5, 9, 3, 4, 9, 8, 5]
Original list:
[3, 10, 4, 7, 5, 7, 8, 3, 3, 4, 5, 9, 3, 4, 9, 8, 5]
Remove first 4 even numbers from the said list:
[3, 7, 5, 7, 3, 3, 5, 9, 3, 4, 9, 8, 5]

In [ ]:
a160 = [3, 10, 4, 7, 5, 7, 8, 3, 3, 4, 5, 9, 3, 4, 9, 8, 5]

def remove_ele_cond(l1, n):
    count = 0  # Counter for removed even numbers
    i = 0  # Index to track current position
    while i < len(l1) and count < n:
        if l1[i] % 2 == 0:  # Check if the element is even
            del l1[i]
            count += 1  # Increment the counter
        else:
            i += 1  # Only move to the next element if no deletion occurred
    return l1

# Test the function
print("Remove first 4 even numbers from the said list: ", remove_ele_cond(a160, 4))

Remove first 4 even numbers from the said list:  [3, 7, 5, 7, 3, 3, 5, 9, 3, 4, 9, 8, 5]

161. Write a Python program to check if a given list increases strictly. Moreover, if removing only one element from the list results in a strictly increasing list, we still consider the list true.
True
True
True
True
True
True
True
True
True
True
True
False
False
False
False
False

In [ ]:
def is_strictly_increasing(l1):
  for i in range(len(l1) - 1):
    if l1[i] >= l1[i +1]:
      return False
  return True

def can_be_strictly_increasing(l1):
  if is_strictly_increasing(l1):
    return True
  for i in range(len(l1)):
    new_list = l1[:i] + l1[i+1:]
    if is_strictly_increasing(new_list):
      return True
  return False


test_cases = [
    [1, 2, 3],         # True
    [1, 3, 2],         # True
    [10, 1, 2, 3],     # True
    [1, 2, 2],         # True
    [1],               # True
    [5, 6, 7, 8],      # True
    [10, 5, 6, 7],     # True
    [1, 5, 10],        # True
    [1, 2, 3, 5, 8],   # True
    [1, 10],           # True
    [1, 2],            # True
    [5, 4, 3, 2, 1],   # False
    [10, 9, 8, 7],     # False
    [1, 5, 5, 10],     # False
    [2, 2, 2],         # False
    [3, 2, 1],         # False
]

# Check the test cases
for case in test_cases:
    print(can_be_strictly_increasing(case))

True
True
True
True
True
True
True
True
True
True
True
False
False
True
False
False

162. Write a Python program to find the last occurrence of a specified item in a given list.

Original list:
['s', 'd', 'f', 's', 'd', 'f', 's', 'f', 'k', 'o', 'p', 'i', 'w', 'e', 'k', 'c']
Last occurrence of f in the said list:
7
Last occurrence of c in the said list:
15
Last occurrence of k in the said list:
14
Last occurrence of w in the said list:
12

In [ ]:
a162 = ['s', 'd', 'f', 's', 'd', 'f', 's', 'f', 'k', 'o', 'p', 'i', 'w', 'e', 'k', 'c']

def last_occurence(l1, ele):
  occurences = []
  for i in range(len(l1)):
    if l1[i] == ele:
      occurences.append(i)
  return occurences[-1]

print("Last occurrence of f in the said list: ", last_occurence(a162, 'f'))
print("Last occurrence of f in the said list: ", last_occurence(a162, 'c'))
print("Last occurrence of f in the said list: ", last_occurence(a162, 'k'))
print("Last occurrence of f in the said list: ", last_occurence(a162, 'w'))

Last occurrence of f in the said list:  7
Last occurrence of f in the said list:  15
Last occurrence of f in the said list:  14
Last occurrence of f in the said list:  12

163. Write a Python program to get the index of the first element that is greater than a specified element.

Original list:
[12, 45, 23, 67, 78, 90, 100, 76, 38, 62, 73, 29, 83]
Index of the first element which is greater than 73 in the said list:
4
Index of the first element which is greater than 21 in the said list:
1
Index of the first element which is greater than 80 in the said list:
5
Index of the first element which is greater than 55 in the said list:
3

In [ ]:
a163 = [12, 45, 23, 67, 78, 90, 100, 76, 38, 62, 73, 29, 83]

def first_larger_ele(l1, ele):
  larger_elements = []
  for i in range(len(l1)):
    if l1[i] > ele:
      larger_elements.append(i)
  return larger_elements[0]

print("Index of the first element which is greater than 73 in the said list: ", first_larger_ele(a163, 73))
print("Index of the first element which is greater than 21 in the said list: ", first_larger_ele(a163, 21))
print("Index of the first element which is greater than 80 in the said list: ", first_larger_ele(a163, 80))
print("Index of the first element which is greater than 55 in the said list: ", first_larger_ele(a163, 55))

Index of the first element which is greater than 73 in the said list:  4
Index of the first element which is greater than 21 in the said list:  1
Index of the first element which is greater than 80 in the said list:  5
Index of the first element which is greater than 55 in the said list:  3

In [ ]:
a164 = [12, 45, 23, 67, 78, 90, 45, 32, 100, 76, 38, 62, 73, 29, 83]

def even_greater(l1, ele):
  new_list = []

  for i in l1:
    if i % 2 == 0 and i > 45:
      new_list.append(i)
  return len(new_list)

print("Number of Items of the said list which are even and greater than 45: ", even_greater(a164, 45))

Number of Items of the said list which are even and greater than 45:  5

In [ ]:
a165=[12, 45, 23, 67, 78, 90, 45, 32, 100, 76, 38, 62, 73, 29, 83]

def chunks_split(l1, n):
  chunks = []

  for i in range(0, len(l1), n): #starting at 0 and step by chunk size
    chunks.append(l1[i:i + n]) # slicing sublist from original list. Creates a chunk starting at index 0 to i + chunk size - 1. -> Creates a smaller chunk of chunk size n.
  return chunks


print("Split the said list into equal size 3: ", chunks_split(a165, 3))
print("Split the said list into equal size 4: ", chunks_split(a165, 4))
print("Split the said list into equal size 5: ", chunks_split(a165, 5))

Split the said list into equal size 3:  [[12, 45, 23], [67, 78, 90], [45, 32, 100], [76, 38, 62], [73, 29, 83]]
Split the said list into equal size 4:  [[12, 45, 23, 67], [78, 90, 45, 32], [100, 76, 38, 62], [73, 29, 83]]
Split the said list into equal size 5:  [[12, 45, 23, 67, 78], [90, 45, 32, 100, 76], [38, 62, 73, 29, 83]]

166. Write a Python program to remove the None value from a given list.

Original list:
[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
Remove None value from the said list:
[12, 0, 23, -55, 234, 89, 0, 6, -12]

In [ ]:
a166 = [12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]

def remove_none(l1):

  new_list = []
  for i in l1:
    if i is not None:
      new_list.append(i)

  return new_list

print("Remove None value from the said list: ", remove_none(a166))

Remove None value from the said list:  [12, 0, 23, -55, 234, 89, 0, 6, -12]

167. Write a Python program to convert a given list of strings into a list of lists.

Original list of strings:
['Red', 'Maroon', 'Yellow', 'Olive']
Convert the said list of strings into list of lists:
[['R', 'e', 'd'], ['M', 'a', 'r', 'o', 'o', 'n'], ['Y', 'e', 'l', 'l', 'o', 'w'], ['O', 'l', 'i', 'v', 'e']]

In [ ]:
a167 = ['Red', 'Maroon', 'Yellow', 'Olive']

def string_to_list_of_list(l1):
  new_list = []

  for color_string in l1:
    sublist = []
    for i in color_string:
      sublist.append(i)
    new_list.append(sublist)
  return new_list
print("Convert the said list of strings into list of lists: ", string_to_list_of_list(a167))

Convert the said list of strings into list of lists:  [['R', 'e', 'd'], ['M', 'a', 'r', 'o', 'o', 'n'], ['Y', 'e', 'l', 'l', 'o', 'w'], ['O', 'l', 'i', 'v', 'e']]

168. Write a Python program to display vertically each element of a given list, list of lists.

Original list:
['a', 'b', 'c', 'd', 'e', 'f']
Display each element vertically of the said list:
a
b
c
d
e
f
Original list:
[[1, 2, 5], [4, 5, 8], [7, 3, 6]]
Display each element vertically of the said list of lists:
1 4 7
2 5 3
5 8 6

In [ ]:
a168 = ['a', 'b', 'c', 'd', 'e', 'f']
b168 = [[1, 2, 5], [4, 5, 8], [7, 3, 6]]

def vertical_display(l1):
  for i in l1:
    print(i)

def vertical_display_list_of_lists(l1):
  for i in range(len(l1[0])):
    for row in l1:
      print(row[i], end = " ")
    print()

print("Display each element vertically of the said list of lists: ", vertical_display(a168))
print("Display each element vertically of the said list of lists: ", vertical_display(b168))

a
b
c
d
e
f
Display each element vertically of the said list of lists:  None
[1, 2, 5]
[4, 5, 8]
[7, 3, 6]
Display each element vertically of the said list of lists:  None

169. Write a  Python program to convert a given list of strings and characters to a single list of characters.

Original list:
['red', 'white', 'a', 'b', 'black', 'f']
Convert the said list of strings and characters to a single list of characters:
['r', 'e', 'd', 'w', 'h', 'i', 't', 'e', 'a', 'b', 'b', 'l', 'a', 'c', 'k', 'f']

In [ ]:
a169 = ['red', 'white', 'a', 'b', 'black', 'f']

def string_to_char_list(l1):
  new_list = []
  for i in l1:
    for j in i:
      new_list.append(j)
  return new_list

print("Convert the said list of strings and characters to a single list of characters: ", string_to_char_list(a169))

Convert the said list of strings and characters to a single list of characters:  ['r', 'e', 'd', 'w', 'h', 'i', 't', 'e', 'a', 'b', 'b', 'l', 'a', 'c', 'k', 'f']

170. Write a Python program to insert an element in a given list after every nth position.

Original list:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
Insert a in the said list after 2 nd element:
[1, 2, 'a', 3, 4, 'a', 5, 6, 'a', 7, 8, 'a', 9, 0]
Insert b in the said list after 4 th element:
[1, 2, 3, 4, 'b', 5, 6, 7, 8, 'b', 9, 0]

In [ ]:
def insert_ele_at_index(l1, ele, index):
  i = index
  while i < len(l1):
    l1.insert (i, ele)
    i += index + 1 #Fix the inde after insert, since after each insert the size of the list changes
  return l1

a170 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
print("Insert a in the said list after 2 nd element: ", insert_ele_at_index(a170, 'a', 2))
a170 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
print("Insert b in the said list after 4 th element: ", insert_ele_at_index(a170, 'b', 4))

Insert a in the said list after 2 nd element:  [1, 2, 'a', 3, 4, 'a', 5, 6, 'a', 7, 8, 'a', 9, 0]
Insert b in the said list after 4 th element:  [1, 2, 3, 4, 'b', 5, 6, 7, 8, 'b', 9, 0]

171. Write a Python program to concatenate element-wise three given lists.

Original lists:
['0', '1', '2', '3', '4']
['red', 'green', 'black', 'blue', 'white']
['100', '200', '300', '400', '500']
Concatenate element-wise three said lists:
['0red100', '1green200', '2black300', '3blue400', '4white500']

In [1]:
a171 = ['0', '1', '2', '3', '4']
b171 = ['red', 'green', 'black', 'blue', 'white']
c171 = ['100', '200', '300', '400', '500']

def concat_elements(l1, l2, l3):
  new_list = []
  for i in range(len(l1)):
    new_list.append(l1[i] + l2[i] +l3[i])
  return new_list

print("Concatenate element-wise three said lists: ", concat_elements(a171, b171, c171))

Concatenate element-wise three said lists:  ['0red100', '1green200', '2black300', '3blue400', '4white500']

172. Write a Python program to remove the last N number of elements from a given list.

Original lists:
[2, 3, 9, 8, 2, 0, 39, 84, 2, 2, 34, 2, 34, 5, 3, 5]
Remove the last 3 elements from the said list:
[2, 3, 9, 8, 2, 0, 39, 84, 2, 2, 34, 2, 34]
Remove the last 5 elements from the said list:
[2, 3, 9, 8, 2, 0, 39, 84, 2, 2, 34]
Remove the last 1 element from the said list:
[2, 3, 9, 8, 2, 0, 39, 84, 2, 2, 34, 2, 34, 5, 3]

In [2]:
a172 = [2, 3, 9, 8, 2, 0, 39, 84, 2, 2, 34, 2, 34, 5, 3, 5]

def remove_last_n_ele(l1, n):
  new_list = []
  for i in range(len(l1) - n):
    new_list.append(l1[i])
  return new_list

print("Remove the last 3 elements from the said list: ", remove_last_n_ele(a172, 3))
print("Remove the last 5 elements from the said list: ", remove_last_n_ele(a172, 5))
print("Remove the last 1 element from the said list: ", remove_last_n_ele(a172, 1))

Remove the last 3 elements from the said list:  [2, 3, 9, 8, 2, 0, 39, 84, 2, 2, 34, 2, 34]
Remove the last 5 elements from the said list:  [2, 3, 9, 8, 2, 0, 39, 84, 2, 2, 34]
Remove the last 1 element from the said list:  [2, 3, 9, 8, 2, 0, 39, 84, 2, 2, 34, 2, 34, 5, 3]

173. Write a Python program to merge some list items in a given list using the index value.

Original lists:
['a', 'b', 'c', 'd', 'e', 'f', 'g']

Merge items from 2 to 4 in the said List:
['a', 'b', 'cd', 'e', 'f', 'g']

Merge items from 3 to 7 in the said List:
['a', 'b', 'c', 'defg']

In [5]:
a173 = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

def merge_ele(l1, min_val, max_val):
  new_list = []
  merged_part = ''

  for i in range(len(l1)):
    if i < min_val:
      new_list.append(l1[i])
    elif min_val <= i <= max_val:
      merged_part += l1[i]
    else:
      new_list.append(l1[i])
  if merged_part:
    new_list.insert(min_val, merged_part)
  return new_list

print("Merge items from 2 to 4 in the said List: ", merge_ele(a173, 2, 4))
print("Merge items from 3 to 7 in the said List: ", merge_ele(a173, 3, 7))

Merge items from 2 to 4 in the said List:  ['a', 'b', 'cde', 'f', 'g']
Merge items from 3 to 7 in the said List:  ['a', 'b', 'c', 'defg']

In [6]:

def add_ele_to_list(l1, n):
  new_list = []
  for i in l1:
    new_list.append(i + n)
  return new_list

a174 = [3, 8, 9, 4, 5, 0, 5, 0, 3]
print("Add 3 to each element in the said list: ", add_ele_to_list(a174, 3))
b174 = [3.2, 8, 9.9, 4.2, 5, 0.1, 5, 3.11, 0]
print("Add 0.51 to each element in the said list: ", add_ele_to_list(a174, 0.51))

Add 3 to each element in the said list:  [6, 11, 12, 7, 8, 3, 8, 3, 6]
Add 0.51 to each element in the said list:  [3.51, 8.51, 9.51, 4.51, 5.51, 0.51, 5.51, 0.51, 3.51]

175. Write a Python program to find the minimum and maximum value for each tuple position in a given list of tuples.

Original list:
[(2, 3), (2, 4), (0, 6), (7, 1)]
Maximum value for each tuple position in the said list of tuples:
[7, 6]
Minimum value for each tuple position in the said list of tuples:
[0, 1]

In [8]:
a175 = [(2, 3), (2, 4), (0, 6), (7, 1)]

min_values = [min(x) for x in zip(*a175)]
max_values = [max(x) for x in zip(*a175)]

print("Maximum value for each tuple position in the said list of tuples: ", max_values)
print("Minimum value for each tuple position in the said list of tuples: ", min_values)

Maximum value for each tuple position in the said list of tuples:  [7, 6]
Minimum value for each tuple position in the said list of tuples:  [0, 1]

In [11]:
a176 = [7, 2, 3, 4, 9, 2, 3]
b176 = [9, 8, 2, 3, 3, 1, 2]

def divide_list(l1, l2):
  new_list = []
  for i in range(len(l1)):
    new_list.append(l1[i] / l2[i])
  return new_list

print(divide_list(a176, b176))

[0.7777777777777778, 0.25, 1.5, 1.3333333333333333, 3.0, 2.0, 1.5]

In [12]:
def common_ele(l1):
      # Convert the first list to a set and then find the intersection with other lists
  common_elements = set(l1[0])
  # Iterate through the rest of the lists and update the intersection
  for sublist in l1[1:]:
    common_elements.intersection_update(sublist)
  return list(common_elements)


a177 = [[7, 2, 3, 4, 7], [9, 2, 3, 2, 5], [8, 2, 3, 4, 4]]
print("Common elements of the said list of lists: ", common_ele(a177))
b177 = [['a', 'b', 'c'], ['b', 'c', 'd'], ['c', 'd', 'e']]
print("Common elements of the said list of lists: ", common_ele(b177))

Common elements of the said list of lists:  [2, 3]
Common elements of the said list of lists:  ['c']

178. Write a Python program to insert a specified element in a given list after every nth element.

Original list:
[1, 3, 5, 7, 9, 11, 0, 2, 4, 6, 8, 10, 8, 9, 0, 4, 3, 0]
Insert 20 in said list after every 4 th element:
[1, 3, 5, 7, 20, 9, 11, 0, 2, 20, 4, 6, 8, 10, 20, 8, 9, 0, 4, 20, 3, 0]
Original list:
['s', 'd', 'f', 'j', 's', 'a', 'j', 'd', 'f', 'd']
Insert Z in said list after every 3 th element:
['s', 'd', 'f', 'Z', 'j', 's', 'a', 'Z', 'j', 'd', 'f', 'Z', 'd']

In [17]:
def insert_after_n(l1, ele, n):
  for i in range(n, len(l1), n+1): # We need to iterate in reverse order to avoid index shifting issues when inserting
    l1.insert(i, ele)
  return l1

a178 = [1, 3, 5, 7, 9, 11, 0, 2, 4, 6, 8, 10, 8, 9, 0, 4, 3, 0]
print("Insert 20 in said list after every 4 th element: ", insert_after_n(a178, 20, 4))
b178 = ['s', 'd', 'f', 'j', 's', 'a', 'j', 'd', 'f', 'd']
print("Insert Z in said list after every 3 th element: ", insert_after_n(b178, 'z', 3))

Insert 20 in said list after every 4 th element:  [1, 3, 5, 7, 20, 9, 11, 0, 2, 20, 4, 6, 8, 10, 20, 8, 9, 0, 4, 3, 0]
Insert Z in said list after every 3 th element:  ['s', 'd', 'f', 'z', 'j', 's', 'a', 'z', 'j', 'd', 'f', 'd']

179. Write a Python program to create the largest possible number using the elements of a given list of positive integers.

Original list:
[3, 40, 41, 43, 74, 9]
Largest possible number using the elements of the said list of positive integers:
9744341403
Original list:
[10, 40, 20, 30, 50, 60]
Largest possible number using the elements of the said list of positive integers:
605040302010
Original list:
[8, 4, 2, 9, 5, 6, 1, 0]
Largest possible number using the elements of the said list of positive integers:
98654210

In [21]:

from functools import cmp_to_key

# Custom comparator to sort numbers based on their string concatenation
def compare(a, b):
    if a + b > b + a:
        return -1
    elif a + b < b + a:
        return 1
    else:
        return 0

def largest_number(l1):
    # Convert integers to strings for comparison
    l1 = list(map(str, l1))

    # Sort using the custom comparator
    l1_sorted = sorted(l1, key=cmp_to_key(compare))

    # Join the sorted list to form the largest possible number
    largest_num = ''.join(l1_sorted)

    return largest_num

a179 = [3, 40, 41, 43, 74, 9]
print("Largest possible number using the elements of the said list of positive integers: ", largest_number(a179))
b179 = [10, 40, 20, 30, 50, 60]
print("Largest possible number using the elements of the said list of positive integers: ", largest_number(b179))
c179 = [8, 4, 2, 9, 5, 6, 1, 0]
print("Largest possible number using the elements of the said list of positive integers: ", largest_number(c179))

Largest possible number using the elements of the said list of positive integers:  9744341403
Largest possible number using the elements of the said list of positive integers:  605040302010
Largest possible number using the elements of the said list of positive integers:  98654210

180. Write a Python program to create the smallest possible number using the elements of a given list of positive integers.

Original list:
[3, 40, 41, 43, 74, 9]
Smallest possible number using the elements of the said list of positive integers:
3404143749
Original list:
[10, 40, 20, 30, 50, 60]
Smallest possible number using the elements of the said list of positive integers:
102030405060
Original list:
[8, 4, 2, 9, 5, 6, 1, 0]
Smallest possible number using the elements of the said list of positive integers:
01245689

In [22]:
from functools import cmp_to_key

# Custom comparator to sort numbers based on their string concatenation
def compare(a, b):
    if a + b < b + a:
        return -1
    elif a + b > b + a:
        return 1
    else:
        return 0

def smallest_number(l1):
    # Convert integers to strings for comparison
    l1 = list(map(str, l1))

    # Sort using the custom comparator
    l1_sorted = sorted(l1, key=cmp_to_key(compare))

    # Join the sorted list to form the smallest possible number
    smallest_num = ''.join(l1_sorted)

    return smallest_num

# Example 1
list1 = [3, 40, 41, 43, 74, 9]
print("Original list:")
print(list1)
print("Smallest possible number using the elements of the said list of positive integers:")
print(smallest_number(list1))

# Example 2
list2 = [10, 40, 20, 30, 50, 60]
print("\nOriginal list:")
print(list2)
print("Smallest possible number using the elements of the said list of positive integers:")
print(smallest_number(list2))

# Example 3
list3 = [8, 4, 2, 9, 5, 6, 1, 0]
print("\nOriginal list:")
print(list3)
print("Smallest possible number using the elements of the said list of positive integers:")
print(smallest_number(list3))

Original list:
[3, 40, 41, 43, 74, 9]
Smallest possible number using the elements of the said list of positive integers:
3404143749

Original list:
[10, 40, 20, 30, 50, 60]
Smallest possible number using the elements of the said list of positive integers:
102030405060

Original list:
[8, 4, 2, 9, 5, 6, 1, 0]
Smallest possible number using the elements of the said list of positive integers:
01245689